/*
|----------------------------------|
 v.0.1 주연 : 최초 작업 -- 2021.11.30
|----------------------------------|
*/
@import "variables";

.bg-primary { background-color: $primary;}
.bg-secondary-blue { background-color: $secondary-blue;}
.bg-secondary-violet { background-color: $secondary-violet;}

.color-primary { color: $primary;}
.color-secondary-blue { color: $secondary-blue;}
.color-secondary-violet { color: $secondary-violet;}
