/*
|----------------------------------|
 v.0.1 주연 : 최초 작업 -- 2021.11.30
|----------------------------------|
*/
/* point */
$primary: #2FCAB0;
$secondary-blue: #47BDFF;
$secondary-violet: #6170FF;

/* variant */
$primary-brand04: #0B6955;
$primary-brand03: #93F9E3;
$primary-brand02: #D5F4EF;
$primary-brand01: #60C7B1;

$secondary-blue04: #0C64BA;
$secondary-blue03: #A4E8FF;
$secondary-blue02: #C8EBFF;
$secondary-blue01: #F0F8FF;

$secondary-pink03: #B1323C;
$secondary-pink02: #FFEAEA;
$secondary-pink01: #FEF5F6;

/* gray */
$gray-900: #222222;
$gray-800: #444444;
$gray-700: #666666;
$gray-600: #888888;
$gray-500: #bbbbbb;
$gray-400: #dddddd;
$gray-300: #eeeeee;
$gray-200: #f8f8f8;
$gray-fff: #ffffff;

/* error */
$error: #EF4C57;

/* fonts */
$font: "Noto Sans KR";
$poppins-regular: 'Poppins-Regular';
$poppins-medium: 'Poppins-Medium';
$poppins-semiBold: 'Poppins-SemiBold';

$font-family : "Noto Sans KR";
$font-family-bold : "Noto Sans KR";
$font-family-base : "Noto Sans KR" !default;
$font-family-sans-serif: $font-family-base, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

/* modal */
$modal-backdrop-opacity:            .5;
$modal-sm:                          300px;
$modal-md:                          500px;
$modal-lg:                          1000px;
$modal-xl:                          1140px;
