.AI-wrap {
  .header-details {
    position: absolute;
    width: 100%;
    justify-content: flex-end;
    top: 0;
    left: 0;
    z-index: 2;
  }

  /* 피부분석 step */
  .intro {
    .heading {
      display: block;
      padding: 0 vw(24);
      margin-bottom: vw(24);
      margin-top: vw(21);

      .font-body-2 {
        display: inline-block;
        vertical-align: middle;
        color: $gray-600;
        margin-right: vw(12);
      }

      .font-h3 {
        display: inline-block;
        vertical-align: middle;
      }

      &.scrolling {
        display: none;
      }
    }

    /* 피부분석 step 1 */
    .step-box {
      background-color: $gray-200;
      padding: 0 vw(24) vw(76);

      .inner {
        padding-top: vw(48);

        .font-body-1 {
          text-align: center;
          color: $gray-700;
          margin-bottom: vw(32);
        }

        .rolling-txt {
          display: flex;
          align-items: center;
          justify-content: center;
          color: $gray-800;
          font-size: vw(16);
          line-height: vw(24);

          .rolling {
            height: vw(24);
            overflow: hidden;

            span {
              display: block;
              text-align: right;
              font-size: vw(16);
              line-height: vw(24);
              animation-name: scroller;
              -webkit-animation-name: scroller;
              animation-duration: 6s;
              -webkit-animation-duration: 6s;
              animation-iteration-count: infinite;
              -webkit-animation-iteration-count: infinite;
              animation-timing-function: ease-in-out;
              -webkit-animation-timing-function: ease-in-out;
              animation-delay: 1s;
              -webkit-animation-delay: 1s;
              margin-right: vw(4);
            }
          }
        }

        .img {
          width: vw(180);
          height: vw(180);
          margin: 0 auto vw(32);
          border-radius: vw(20);
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .scan-img {
          position: relative;
          width: vw(248);
          height: vw(440);
          margin: 0 auto vw(32);
          border-radius: vw(16);
          overflow: hidden;

          .scan-line {
            position: absolute;
            width: 100%;
            height: vw(3);
            background-color: $yellow;
            border-radius: vw(100);
            left: 0;
            z-index: 1;
            animation-name: scanAni;
            -webkit-animation-name: scanAni;
            animation-duration: 4s;
            -webkit-animation-duration: 4s;
            animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
            animation-iteration-count: infinite;
            -webkit-animation-iteration-count: infinite;
            animation-direction: alternate;
            -webkit-animation-direction: alternate;

            &::after {
              content: '';
              position: absolute;
              top: vw(3);
              left: 0;
              width: 100%;
              height: vw(76);
              background: linear-gradient(180deg, #DDBC0F 0%, rgba(221, 188, 15, 0) 100%);
              opacity: .5;
            }
          }

          img {
            width: 100%;
            height: 100%;
          }
        }

        .text-link {
          font-size: vw(15);
          line-height: vw(22);
          text-align: center;
          text-decoration-line: underline;
          margin-top: vw(24);
        }

        .step {
          margin-bottom: vw(21);

          .item {
            float: left;
            display: flex;
            align-items: center;
            width: calc(50% - #{vw(5.5)});
            height: vw(80);
            background-color: #fff;
            border-radius: vw(12);
            margin-bottom: vw(11);
            padding-left: vw(16);

            .ico-step {
              vertical-align: middle;
              margin-right: vw(12);
            }

            .font-body-2 {
              color: $gray-800;
            }

            .ico-step-1 {
              @include background-img($width: 34, $height: 34, $category: 'AI', $img: 'ico-visual-step-1.svg');
            }

            .ico-step-2 {
              @include background-img($width: 29, $height: 34, $category: 'AI', $img: 'ico-visual-step-2.svg');
            }

            .ico-step-3 {
              @include background-img($width: 33, $height: 38, $category: 'AI', $img: 'ico-visual-step-3.svg');
            }

            .ico-step-4 {
              @include background-img($width: 36, $height: 36, $category: 'AI', $img: 'ico-visual-step-4.svg');
            }

            &:nth-child(2n-1) {
              margin-right: vw(11);
            }
          }
        }
      }
    }

    /* 촬영하기 */
    .shooting-box {
      width: 100%;
      height: vw(812);

      .backward {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;

        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background-color: rgba(34, 34, 34, .5);
          z-index: 1;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }

      .forward {
        position: relative;
        z-index: 2;

        .tip {
          text-align: center;
          padding-top: vw(98);
          margin-bottom: vw(412);

          .badge {
            background-color: $yellow;
            color: $gray-800;
            padding: 0 vw(6);
            height: vw(20);
            line-height: vw(20);
            font-size: vw(12);
            font-family: $poppins-semiBold;
            margin-bottom: vw(8);
          }

          .font-body-2 {
            display: block;
            color: #fff;
            opacity: 0.8;
          }
        }

        .frame {
          position: absolute;
          display: block;
          @include background-img($width: 304, $height: 496, $category: 'AI', $img: 'img-camera-frame.svg');
          top: vw(80);
          left: 50%;
          transform: translateX(-50%);
        }

        .box {
          text-align: center;

          .font-h6 {
            color: #fff;
            margin-bottom: vw(16);
          }

          .btn-wrap {
            .btn-shooter {
              display: flex;
              align-items: center;
              justify-content: center;
              width: vw(74);
              height: vw(74);
              border-radius: 50%;
              box-shadow: 0 vw(4) vw(4) rgba(34, 34, 34, 0.12);
              margin: 0 auto vw(24);
              background-color: #2FCAB0;

              .icon-camera {
                @include background-img($width: 32, $height: 32, $category: 'AI', $img: 'ico-camera.svg');
              }
            }

            .btn-txt-link {
              font-size: vw(15);
              line-height: vw(22);
              text-decoration-line: underline;
              color: #fff;
            }
          }
        }
      }
    }

    /* 피부분석 step 2 */
    .step-list-sticky {
      background-color: #fff;
      padding: 0 vw(24);
      margin-bottom: vw(20);

      .step-list {
        position: relative;
        width: 100%;
        margin-top: vw(20);

        .progress {
          position: absolute;
          width: calc(100% - #{vw(48)});
          height: vw(2);
          background-color: $gray-300;
          left: 50%;
          top: vw(27);
          transform: translateX(-50%);

          .bar {
            position: absolute;
            height: 100%;
            background-color: $primary;
            left: 0;
            top: 0;
          }
        }

        ul {
          display: flex;
          justify-content: space-between;

          .step {
            position: relative;
            z-index: 1;
            width: 33.33333333%;
            text-align: center;

            + .step {
              margin-left: vw(79);
            }

            .icon {
              display: block;
              width: vw(54);
              height: vw(54);
              background-image: url(../img/AI/ico-step-1-foc.svg);
              background-size: cover;
              margin: 0 auto vw(4);
            }

            .desc {
              display: block;
              white-space: nowrap;
              font-size: vw(13);
              line-height: vw(18);
              color: $gray-600;
            }

            &.completed {
              .icon {
                background-image: url(../img/AI/ico-step-completed.svg);
              }

              .desc {
                font-weight: bold;
                color: $primary;
              }
            }

            &.active {
              .desc {
                font-weight: bold;
                color: $primary;
              }
            }

            &.step-2 {
              &.active {
                .icon {
                  background-image: url(../img/AI/ico-step-2-foc.png);
                }
              }

              &.disabled {
                .icon {
                  background-image: url(../img/AI/ico-step-2-disabled.png);
                }
              }
            }

            &.step-3 {
              &.active {
                .icon {
                  background-image: url(../img/AI/ico-step-3-foc.svg);
                }
              }

              &.disabled {
                .icon {
                  background-image: url(../img/AI/ico-step-3-disabled.svg);
                }
              }
            }
          }
        }
      }

      &.scrolling {
        position: fixed;
        width: 100%;
        height: vw(60);
        top: 0;
        left: 0;
        background-color: #fff;
        z-index: 5;

        .step-list {
          .progress {
            width: calc(100% - #{vw(52)});
            top: auto;
            bottom: vw(7);
            left: vw(26);
            transform: none;
          }

          ul {
            .step {
              display: flex;
              flex-direction: column-reverse;

              .desc {
                margin-bottom: vw(17);
              }

              .icon {
                background-color: $primary;
                width: vw(8);
                height: vw(8);
                background-image: none !important;
                border-radius: 50%;
              }

              &.disabled {
                .icon {
                  background-color: $gray-400;
                }
              }
            }
          }
        }
      }
    }

    .question-box {
      background-color: $gray-200;
      padding: vw(24) vw(24) vw(76);

      .question-head {
        .question {
          position: relative;
          border-bottom: vw(1) solid $gray-300;
          padding-bottom: vw(24);
          padding-top: vw(24);
          //margin-top: vw(24);

          .num {
            display: inline-block;
            font-family: $poppins-medium;
            vertical-align: top;
            font-weight: 500;
            font-size: vw(16);
            line-height: vw(24);
            color: $gray-600;
            margin-right: vw(10);
          }

          .font-h6 {
            display: inline-block;
            vertical-align: top;
            width: calc(100% - #{vw(40)} - #{vw(40)});
            color: $gray-800;
            font-weight: 500;

            .color-primary {
              font-weight: bold;
            }
          }

          .btn-delete {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            display: inline-block;
            vertical-align: middle;
            @include background-img($width: 24, $height: 24, $category: 'AI', $img: 'btn-delete.svg');
          }

          + .question {
            &:last-child {
              border-bottom: 0;
              //padding-bottom: 0;
            }
          }
        }
      }

      .question-body {
        padding-top: vw(26);

        &:first-child {
          padding-top: 0;
        }

        .item {
          .question {
            display: flex;
            margin-bottom: vw(12);

            .num {
              display: inline-block;
              vertical-align: middle;
              font-family: $poppins-semiBold;
              font-style: normal;
              font-weight: 600;
              font-size: vw(18);
              line-height: vw(28);
              color: $gray-600;
              margin-right: vw(8);
            }

            .font-h5 {
              display: inline-block;
              vertical-align: middle;
              font-weight: bold;
              color: $gray-900;
            }
          }

          .answer {
            ul {
              li {
                display: block;
                width: 100%;
                background: #FFFFFF;
                padding: vw(14) vw(32);
                border-radius: vw(100);
                color: $gray-700;
                font-size: vw(15);
                line-height: vw(22);

                + li {
                  margin-top: vw(10);
                }
              }
            }
          }

          + .item {
            margin-top: vw(48);
          }
        }
      }

      .question-footer {
        .copyright-box {
          background: $gray-300;
          border-radius: vw(16);
          margin-top: vw(48);
          padding: vw(20);

          .title-area {
            display: flex;
            margin-bottom: vw(11);
            align-items: center;

            .img {
              background-color: transparent;
              width: vw(39.27);
              height: vw(37);
              margin-right: vw(11);

              img {
                width: 100%;
                height: auto;
              }
            }

            .font-body-2 {
              color: $gray-800;
            }
          }

          .content {
            ul {
              li {
                position: relative;
                font-size: vw(12);
                line-height: vw(16);
                color: $gray-700;
                padding-left: vw(20);

                &::before {
                  content: '';
                  position: absolute;
                  width: vw(3);
                  height: vw(3);
                  border-radius: 50%;
                  top: vw(7);
                  left: vw(10);
                  background: $gray-700;
                }
              }
            }
          }
        }
      }

      &.question-head-only {
        padding: vw(24) vw(24) vw(52);
      }
    }
  }

  /* 피부분석 결과 */
  .result {
    .heading {
      background: linear-gradient(to bottom, $primary calc(100% - #{vw(50)}), #fff vw(50));
      //background-color: $primary;
      padding: vw(80) vw(24) 0;
      margin-bottom: vw(56);

      > .font-body-1 {
        text-align: center;
        color: #D5F4EF;
        margin-bottom: vw(12);
      }

      .skin-type {
        margin: 0 0 vw(12);

        .icon {
          display: block;
          width: vw(88);
          height: vw(88);
          margin: 0 auto;
        }
      }

      .skin-type-info {
        margin-bottom: vw(24);

        .title {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: vw(12);
          color: #fff;

          > .font-h2 {
            margin-right: vw(4);
          }
        }

        > .font-body-2 {
          color: #D5F4EF;
          text-align: center;
        }
      }

      .skin-type-detail {
        background: #FFFFFF;
        box-shadow: 0 vw(4) vw(12) rgba(34, 34, 34, 0.08);
        border-radius: vw(16);
        padding: vw(24) vw(32);

        > .font-h6 {
          margin-bottom: vw(50);
        }

        > .font-body-2 {
          text-align: center;
        }

        .bar-box {
          text-align: center;
          margin-bottom: vw(11);

          .bar {
            position: relative;
            width: 100%;
            height: vw(16);
            background: linear-gradient(245deg, #47BDFF 0%, #FFE665 100%);
            //background: linear-gradient(245deg, #F95B51 0%, #BB8DD0 52.08%, #44BCFF 100%);
            border-radius: vw(18);
            border: vw(2) solid $gray-200;

            .line-wrap {
              position: absolute;
              display: flex;
              width: 100%;
              height: vw(12);
              left: 0;
              top: 0;

              .line {
                width: 20%;
                height: vw(12);
                border-right: vw(1) solid rgba(238, 238, 238, .5);
              }
            }

            .percent {
              position: absolute;

              .badge-tooltip {
                position: absolute;
                bottom: vw(8);
                height: vw(26);
                line-height: vw(26);
                padding: 0 vw(8);
                white-space: nowrap;
                background: #5EB2F5;
                border-radius: vw(100);
                font-weight: bold;
                font-size: vw(13);
                color: #FFFFFF;
                transform: translateX(-50%);
                z-index: 1;

                &::before {
                  content: '';
                  position: absolute;
                  display: block;
                  bottom: vw(-4);
                  left: 50%;
                  @include background-img($width: 9, $height: 8, $category: 'AI', $img: 'ico-tooltip-tip-blue.svg');
                }
              }

              /* 0 - 5 */
              &.left-0 {
                width: 100%;
                left: 0 !important;

                .badge-tooltip {
                  transform: none;
                  left: 0;

                  &::before {
                    left: auto;
                  }
                }
              }

              /* 5 - 10 */
              &.left-1 {
                width: 100%;
                left: 0 !important;

                .badge-tooltip {
                  transform: none;
                  left: 0;
                }
              }

              /* 90 - 95 */
              &.right-0 {
                width: 100%;
                left: auto !important;

                .badge-tooltip {
                  transform: none;
                  right: 0;
                }
              }

              /* 95 - 100 */
              &.right-1 {
                width: 100%;
                left: auto !important;

                .badge-tooltip {
                  transform: none;
                  right: 0;

                  &::before {
                    left: auto;
                    right: vw(6);
                  }
                }
              }
            }
          }
        }
      }
    }

    .analysis {
      .desc-area {
        padding: 0 vw(24);
        margin-bottom: vw(32);

        .font-h2 {
          margin-bottom: vw(12);
        }

        .font-h6 {
          color: $gray-700;
          margin-bottom: vw(2);
        }

        .font-body-2 {
          color: $gray-600;
        }
      }

      .skin-type-list {
        padding-left: vw(24);
        overflow-x: auto;
        margin-bottom: vw(24);

        ul {
          width: calc((#{vw(52)} + #{vw(24)}) * 6);
        }

        li {
          float: left;
          margin-right: vw(24);

          a {
            display: flex;
            flex-direction: column;
            width: vw(52);
            align-items: center;

            .type {
              display: flex;
              align-items: center;
              justify-content: center;
              width: vw(52);
              height: vw(52);
              border-radius: 50%;
              background-color: $gray-200;
              margin-bottom: vw(4);
            }

            .font-body-2 {
              color: $gray-600;
              font-weight: 500;
            }
          }

          &.on {
            a {
              .type {
                background-color: $primary;
              }

              .font-body-2 {
                color: $gray-800;
                font-weight: bold;
              }
            }
          }
        }
      }

      .img-wrap {
        padding: 0 vw(24);

        .img {
          background: #D5DADE;
          border-radius: vw(20);
          width: vw(325);
          height: vw(325);
          margin: 0 auto vw(24);

          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .keyword {
        padding: 0 vw(24);
        margin-bottom: vw(54);

        .font-h5 {
          margin-bottom: vw(12);
        }

        ul {
          li {
            float: left;
            display: inline-block;
            height: vw(42);
            line-height: vw(42);
            background: $yellow;
            border-radius: vw(100);
            padding: 0 vw(18);
            text-align: center;
            font-weight: bold;
            font-size: vw(13);
            color: $gray-800;
            margin-right: vw(10);

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }

    .analysis-result {
      .admin-area {
        background-color: $gray-200;
        padding: vw(42) vw(24) vw(76);

        .font-h3 {
          margin-bottom: vw(12);
        }

        .font-h6 {
          color: $gray-800;
          margin-bottom: vw(32);
        }

        .video-box {
          width: vw(327);
          height: vw(183);
          margin: 0 auto;
          border-radius: vw(16);
          overflow: hidden;

          .video {
            width: 100%;
            height: 100%;
          }
        }
      }

      .bar-chart-box {
        padding: vw(76) vw(24) vw(76);

        .font-h2 {
          margin-bottom: vw(47);
        }

        .bar-chart {
          .item {
            + .item {
              margin-top: vw(34);
            }

            .info {
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-bottom: vw(3);

              .score {
                display: flex;
                align-items: center;

                .icon {
                  margin-right: vw(4);
                }

                .txt {
                  font-weight: bold;
                  font-size: vw(15);
                  color: $gray-800;

                  .num {
                    font-size: vw(20);
                    font-family: $poppins-semiBold;
                  }
                }
              }

              .state {
                display: flex;
                align-items: center;
                font-family: $poppins-semiBold;
                font-size: vw(12);
                text-align: right;
                color: $gray-800;

                &::after {
                  content: '';
                  display: inline-block;
                  vertical-align: middle;
                  margin-left: vw(4);
                }

                &.up {
                  &::after {
                    @include background-img($width: 12, $height: 12, $category: 'AI', $img: 'ico-up-black.svg');
                  }
                }

                &.down {
                  color: $error;

                  &::after {
                    @include background-img($width: 12, $height: 12, $category: 'AI', $img: 'ico-down.svg');
                  }
                }
              }
            }

            .bar {
              position: relative;
              width: 100%;
              height: vw(16);
              background: linear-gradient(90deg, #EA8181 0%, #ECDA7C 34.37%, #47D55E 68.23%, #2DAFF9 100%);
              border-radius: vw(18);
              border: vw(2) solid $gray-200;

              .pos {
                position: absolute;
                top: vw(-3);
                display: flex;
                justify-content: center;

                &.align-left {
                  justify-content: flex-start;
                }

                &.align-right {
                  justify-content: flex-end;
                }

                .pin {
                  position: absolute;
                  width: vw(18);
                  height: vw(18);
                  border-radius: 50%;
                  background-color: #fff;
                  border: vw(2) solid $gray-800;
                }

                .txt {
                  position: absolute;
                  text-align: center;
                  font-size: vw(12);
                  line-height: vw(16);
                  color: $gray-600;
                  white-space: nowrap;
                  padding-top: vw(20);
                }
              }

              .line-wrap {
                position: absolute;
                display: flex;
                width: 100%;
                height: vw(12);
                left: 0;
                top: 0;

                .line {
                  width: 20%;
                  height: vw(12);
                  border-right: vw(1) solid rgba(238, 238, 238, .5);
                }
              }
            }
          }
        }
      }
    }
  }

  /* 로딩 */
  .loading {
    height: calc(100vh - #{vw(60)});
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: vw(60);

    .img {
      display: block;
      width: vw(148);
      height: vw(148);
      margin: 0 auto vw(4);

      img {
        width: 100%;
        height: 100%;
      }
    }

    .font-h6 {
      color: $gray-700;
      font-weight: 500;
    }
  }

  /* 스캐닝 완료 */
  .scanning-completed {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(34, 34, 34, .5);
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
      .img {
        width: vw(60);
        height: vw(60);
        margin: 0 auto vw(28);

        img {
          width: 100%;
          height: 100%;
        }
      }

      .font-h5 {
        color: #fff;
        text-align: center;
      }
    }
  }

  /* 비회원 정보입력 */
  .form-info {
    padding: vw(48) vw(24) vw(68);
    background-color: $gray-200;

    .font-h3 {
      margin-bottom: vw(48);
    }

    .form-group {
      + .form-group {
        margin-top: vw(32);
      }

      label {
        margin: 0 0 vw(12) 0;
        font-size: vw(16);
        line-height: vw(24);
        font-weight: 500;
        color: $gray-800;
      }

      .gender {
        .item {
          width: calc(50% - #{vw(4)});

          + .item {
            margin-left: vw(8);
          }
        }
      }

      .age {
        .item {
          width: calc(33.33333% - #{vw(6)});
          margin-right: vw(8);
          margin-bottom: vw(8);
          height: vw(80);
          line-height: vw(78);

          &:nth-child(3n) {
            margin-right: 0;
          }
        }
      }

      ul {
        .item {
          float: left;
          height: vw(60);
          background: #FFFFFF;
          border: vw(1) solid $gray-300;
          border-radius: vw(12);
          text-align: center;
          font-size: vw(15);
          line-height: vw(58);

          a {
            display: block;
            color: $gray-600;
          }

          &.on {
            background-color: $primary;
            border-color: $primary;

            a {
              color: #fff;
            }
          }
        }
      }
    }
  }

  /* 최하단 네비게이션 */
  .footer-details {
    border-top: vw(1) solid $gray-400;
    padding: vw(32) vw(20) vw(48);

    &.bg-dark {
      background-color: $gray-800 !important;
      padding: vw(20);

      .page-btn-wrap {
        a {
          color: $gray-fff;
        }

        &.btn-next {
          justify-content: flex-end;
        }
      }
    }
  }

  /* 아이콘 */
  .ico-skin-type-1 {
    @include background-img($width: 28, $height: 28, $category: 'AI', $img: 'skin-type-1-nor.svg');
  }

  .ico-skin-type-2 {
    @include background-img($width: 28, $height: 28, $category: 'AI', $img: 'skin-type-2-nor.svg');
  }

  .ico-skin-type-3 {
    @include background-img($width: 28, $height: 28, $category: 'AI', $img: 'skin-type-3-nor.svg');
  }

  .ico-skin-type-4 {
    @include background-img($width: 28, $height: 28, $category: 'AI', $img: 'skin-type-4-nor.svg');
  }

  .ico-skin-type-5 {
    @include background-img($width: 28, $height: 28, $category: 'AI', $img: 'skin-type-5-nor.svg');
  }

  .ico-skin-type-6 {
    @include background-img($width: 28, $height: 28, $category: 'AI', $img: 'skin-type-6-nor.svg');
  }

  .ico-skin-type-7 {
    @include background-img($width: 28, $height: 28, $category: 'AI', $img: 'skin-type-7-nor.svg');
  }

  .on {
    .ico-skin-type-1 {
      background-image: url(../img/AI/skin-type-1-foc.svg);
    }

    .ico-skin-type-2 {
      background-image: url(../img/AI/skin-type-2-foc.svg);
    }

    .ico-skin-type-3 {
      background-image: url(../img/AI/skin-type-3-foc.svg);
    }

    .ico-skin-type-4 {
      background-image: url(../img/AI/skin-type-4-foc.svg);
    }

    .ico-skin-type-5 {
      background-image: url(../img/AI/skin-type-5-foc.svg);
    }

    .ico-skin-type-6 {
      background-image: url(../img/AI/skin-type-6-foc.svg);
    }

    .ico-skin-type-7 {
      background-image: url(../img/AI/skin-type-7-foc.svg);
    }
  }
}

@keyframes scanAni {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}

@-webkit-keyframes scanAni {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}

@keyframes scroller {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  20% {
    transform: translateY(vw(-24));
    opacity: 1;
  }
  40% {
    transform: translateY(vw(-48));
    opacity: 1;
  }
  60% {
    transform: translateY(vw(-72));
    opacity: 1;
  }
  80% {
    transform: translateY(vw(-96));
    opacity: 1;
  }
  95% {
    transform: translateY(vw(-120));
    opacity: 1;
  }
  100% {
    transform: translateY(vw(-120));
    opacity: 0;
  }
}

@-webkit-keyframes scroller {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  20% {
    transform: translateY(vw(-24));
    opacity: 1;
  }
  40% {
    transform: translateY(vw(-48));
    opacity: 1;
  }
  60% {
    transform: translateY(vw(-72));
    opacity: 1;
  }
  80% {
    transform: translateY(vw(-96));
    opacity: 1;
  }
  95% {
    transform: translateY(vw(-120));
    opacity: 1;
  }
  100% {
    transform: translateY(vw(-120));
    opacity: 0;
  }
}

