/*
|--------------------------------------------------------------------|
 v.0.1 주연 : 최초 작업 -- 2022.01.24
|--------------------------------------------------------------------|
*/

/* 메인 배너 */
.main-banner {
  position: relative;
  width: 100%;
  height: vw(80);

  .img {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
    }
  }

  .swiper-pagination {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: vw(20);
    //line-height: vw(20);
    padding: 0 vw(8);
    color: #fff;
    background: rgba(34, 34, 34, 0.4);
    border-radius: vw(100);
    right: vw(12);
    top: vw(48);
    z-index: 2;
  }

  .swiper-pagination {
    .swiper-counter {
      display: flex;
      align-items: center;
      height: vw(20);
      color: rgba(255,255,255,.5);
      font-size: vw(12);
      margin-right: vw(6);

      .total, .count {
        display: inline-block;
        font-family: $poppins-medium;
        font-weight: 500;
        font-size: vw(12);
        //line-height: vw(12);
      }

      .count {
        color: #FFFFFF;
      }
    }

    .btn-more {
      display: inline-block;
      width: vw(8);
      height: vw(8);

      .ico-plus {
        @include background-img ($width: 8, $height: 8, $category: 'main', $img: 'ico-plus.svg');
        display: block;
      }
    }
  }
}

/* 메인 컨텐츠 */
.main-wrap {

  /* visual */
  .visual {
    position: relative;
    width: 100%;

    .editor-area {
      width: 100%;

      img {
        width: 100%;
        height: auto;
      }
    }

    .heading-area {
      position: absolute;
      top: 0;
      left: 0;
      padding: vw(80) vw(26) 0;

      .heading {
        font-weight: bold;
        font-size: vw(28);
        line-height: vw(34);
        letter-spacing: -0.02em;
        color: #fff;
        margin-bottom: vw(12);
      }

      .heading-sub {
        font-weight: 500;
        font-size: vw(16);
        line-height: vw(24);
        letter-spacing: -0.005em;
        color: #FFFFFF;
        margin-bottom: vw(24);
      }

      .btn-wrap {
        width: 100%;
        text-align: left;

        .btn-start {
          display: inline-block;
          justify-content: center;
          align-items: center;
          padding: 0 vw(20);
          height: vw(44);
          line-height: vw(44);
          background: #287EFF;
          border-radius: vw(100);
          font-weight: bold;
          font-size: vw(13);
          color: #FFFFFF;

          .ico-arrow {
            @include background-img ($width: 13, $height: 13, $category: 'main', $img: 'ico-arrow.svg');
            margin-left: vw(4);
          }
        }
      }
    }
  }
}
