.mentoring-wrap {
  .section-color {
    padding: vw(80) vw(0) vw(132);
    margin-bottom: vw(83);
    position: relative;

    .font-h1, .font-h3 {
      color: $gray-fff;
      padding: 0 vw(24);
    }

    .floating-box {
      position: absolute;
      bottom: vw(-35);
      margin: 0 vw(24);
      width: 87.2%;


      .item {
        background-color: $gray-fff;
        box-shadow: 0 vw(4) vw(12) rgba(34, 34, 34, 0.08);
        border-radius: vw(16);
        padding: vw(20);

        .badge {
          margin-bottom: vw(6);
        }

        .question {
          font-size: vw(15);
          line-height: vw(22);
          color: $gray-800;
          margin-bottom: vw(10);
          @include ellipsis(2);
        }

        .date {
          font-size: vw(13);
          line-height: vw(18);
          color: $gray-600;
          font-family: Poppins-Regular, sans-serif;
        }
      }
    }
  }

  .section-tab {
    position: relative;
    z-index: 10;
    width:100%;
    background: $gray-fff;
    overflow-x: scroll;
    border-bottom: 1px solid #eeeeee;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar{
      display: none;
      width: 0;
      height: 0;
      background: transparent;
      -webkit-appearance: none;
    }

    &.fixed{
      position:fixed;
      top:16vw;
      &.top_0{
        top:0
      }
    }
    .font-h4 {
      padding: 0 vw(24);
      margin-bottom: vw(16);
    }

    .tab {
      overflow:unset;
      border-bottom: none;
      z-index: 5;
      .item {
        &.active {
          a {
            color: $blue;
            &:after {
              background-color: $blue;
            }
          }
        }
      }

      /*스킨멘토링내역 목록- tab 예외*/
      &._question-tab{
        position: relative;
        top: unset;
        &.tab-fixed{
          position:fixed;
          top:16vw;
          &.top_0{
            top: 0;
          }
        }
      }
    }
    .tab-content {
      background-color: $gray-200;
      border-top: $gray-300;
      padding: vw(50) vw(24) vw(76);

      .total {
        font-size: vw(13);
        line-height: vw(18);
        color: $gray-700;
        font-weight: 500;
        text-align: right;
        margin-bottom: vw(17);

        .answer {
          display: inline-block;

          &.waiting {
            padding-right: vw(4);
            position: relative;

            .num {
              color: $blue;
            }

            &:after {
              content: '';
              clear: both;
              display: inline-block;
              width: vw(1);
              height: vw(10);
              background-color: $gray-400;
              position: absolute;
              right: vw(-4);
              top: 50%;
              transform: translateY(-50%);
            }
          }

          &.complete {
            padding-left: vw(8);

            .num {
              color: $gray-900;
            }
          }
        }
      }

      .answer-list {
        .item {
          background-color: $gray-fff;
          border-radius: vw(16);
          padding: vw(20);
          margin-bottom: vw(16);

          &:last-of-type {
            margin-bottom: vw(48);
          }

          .badge {
            margin-bottom: vw(3.5);
          }

          .question {
            font-size: vw(15);
            line-height: vw(22);
            color: $gray-800;
            margin-bottom: vw(5);
          }

          .date {
            font-size: vw(13);
            line-height: vw(18);
            color: $gray-600;
            font-family: Poppins, sans-serif;
          }
        }
      }
    }
  }

  .area-desc {

    /*step4 완료*/
    .complete {
      .img-box{
        position: relative;
        margin-bottom: vw(24);
        .img{
          display: inline-block;
          img{
            width: 100%;
            height: auto;
          }

          &.mentor-img{
            width: vw(104);
            height: vw(120);
          }
          &.bubble-img{
            position: absolute;
            right: vw(73);
            width: vw(57);
            height: vw(50);
            z-index: 1;
          }
          &.shadow-img{
            position: absolute;
            right: vw(73);
            width: vw(63);
            height: vw(56);
          }
        }
        .dot {
          position: absolute;
          right: vw(87);
          top: vw(10);
          z-index: 2;

          span {
            display: inline-block;
            background-color: $gray-800;
            width: vw(5);
            height: vw(5);
            border-radius: vw(2.5);
            margin-right: vw(6);

            &:nth-of-type(1) {
              animation: dot 1s infinite;
            }

            &:nth-of-type(2) {
              animation: dot 1s 0.3s infinite;
            }

            &:nth-of-type(3) {
              animation: dot 1s 0.5s infinite;
              margin-right: 0;
            }

            // Keyframes
            @keyframes dot {
              0% {
                transform: translateY(0)
              }
              50% {
                transform: translateY(-5px)
              }
              100% {
                transform: translateY(0)
              }
            }

          }
        }
      }

      .font-body-1 {
        color: $gray-800;
        &.font-bold{
          margin-bottom: vw(12);
        }
      }

      .font-body-2 {
        padding-top: vw(6);
        color: $gray-600;
      }

      .btn-wrap{
        padding-bottom: vw(48);
      }
    }
  }

  .etc_service {
    background-color: $gray-fff;
    padding: vw(48) vw(24) vw(76);

    .shortcuts {
      padding-top: vw(20);

      a {
        font-weight: bold;
        line-height: 1;
        padding: vw(62) 0 vw(20);
        width: calc(50% - #{vw(5)});
        display: inline-block;
        text-align: center;
        border-radius: vw(12);

        span {
          vertical-align: middle;
          margin-right: vw(3);
        }

        &.ingredient {
          color: $gray-900;
          margin-right: vw(6);
          background: #DFE2FF url("../img/mentoring/img-ingredient.svg") no-repeat top vw(23) center;
          background-size: vw(36) vw(36);
        }

        &.inside {
          color: $gray-800;
          background: #d5f4ef url("../img/mentoring/img-inside.svg") no-repeat top vw(23) center;
          background-size: vw(36) vw(36);

        }
      }
    }
  }

  .solution-details {
    .section-color {
      padding: vw(48) vw(0) vw(94);
      margin-bottom: vw(64);
      background: $blue url("../img/mentoring/bg-round.png") no-repeat right bottom vw(20);
      background-size: vw(200) vw(99);

      &:after {
        content: '';
        display: inline-block;
        background: url("../img/mentoring/img-mentor2.png") no-repeat;
        width: vw(134);
        height: vw(206);
        background-size: 100% auto;
        position: absolute;
        right: vw(30);
        bottom: vw(-14);
      }

      .floating-box {
        z-index: 1;
        width: calc(100% - #{vw(48)});

        p {
          color: $gray-800;
          font-weight: 500;
          font-size: vw(15);
        }
      }
    }

    .answer {
      margin: 0 vw(24) vw(32);

      > li {
        line-height: vw(24);
        margin-bottom: vw(32);

        &:last-of-type {
          margin-bottom: 0;
        }

        .title {
          margin-bottom: vw(12);
          letter-spacing: -0.02em;
        }

        .desc {
          color: $gray-700;
        }
      }
    }

    .step-box {
      > .title {
        margin-bottom: vw(20);
        padding: 0 vw(24);
      }

      .step {
        > p {
          padding: vw(12) vw(24);
          color: $gray-fff;
          font-size: vw(16);

          span {
            font-weight: 500;
            line-height: 1;
            &.num {
              text-transform: uppercase;
              padding-right: vw(13);
              position: relative;
              font-weight: 600;

              &:after {
                content: '';
                display: inline-block;
                width: vw(1);
                height: vw(14);
                background-color: $gray-fff;
                position: absolute;
                right: vw(6);
                top: vw(4.5);
                opacity: 0.3;
              }
            }
          }
        }

        > .box {
          background-color: $gray-200;
          padding: vw(20) vw(24) vw(48);

          .area {
            letter-spacing: -0.02em;
            margin-bottom: vw(24);
            color: $gray-700;
          }

          .list {
            white-space: nowrap;
            overflow-x: scroll;
            font-size: 0;
            margin: 0 vw(-24) vw(24);
            &::-webkit-scrollbar {
              display: none;
            }

            .item {
              margin-right: vw(16);
              display: inline-block;
              vertical-align: top;

              a {
                display: block;
                width: vw(120);

                .img {
                  width: vw(120);
                  height: vw(120);
                  display: inline-block;
                  margin-bottom: vw(16);
                  border-radius: vw(12);
                  overflow: hidden;
                  background-color: $gray-fff;


                  img {
                    width: 100%;
                    height: 100%;
                  }
                }

                .name {
                  width: vw(120);
                  display: block;
                  font-size: vw(13);
                  color: $gray-800;
                  white-space: normal;
                }
              }

              &:first-of-type {
                margin-left: vw(24);
              }

              &:last-of-type {
                margin-right: vw(24);
              }
            }
          }

          .define {
            background: $gray-fff;
            padding: vw(20);
            margin-top: vw(32);
            border-radius: vw(16);

            > p {
              color: $gray-800;
              margin-bottom: vw(8);
            }

            > span {
              color: $gray-700;
            }
          }
        }

        &:nth-of-type(1) {
          > p {
            background-color: #00b398
          }
        }

        &:nth-of-type(2) {
          > p {
            background-color: #006341
          }
        }

        &:nth-of-type(3) {
          > p {
            background-color: #97d700
          }
        }
      }
    }

    .greetings {
      background-color: #e9f7ff;
      padding: vw(48) vw(24);

      > p {
        padding-left: vw(30);
        background: url("../img/mentoring/bg-bubble.svg") no-repeat left center;
        background-size: vw(24) vw(24);
        margin-bottom: vw(12);
      }

      > span {
        letter-spacing: -0.02em;
        color: $gray-800;
      }
    }

    .more {
      padding: vw(32) vw(24);
      > p {
        color: $gray-800;
        margin-bottom: vw(16);
      }
    }
  }

  &.mentoring-sub-main {
    .section {
      padding: 0;

      .content {
        padding: vw(76) vw(24) vw(76);

        > .h2-title {
          text-align: center;
          margin-bottom: vw(32);
        }
      }

    }
    .section-color{
      color: $gray-fff;
      text-align: center;
      margin-bottom: 0;
      padding: vw(60) vw(0) vw(76);
      position: relative;
      &.bg-blue {
        background-color: #34A6F9;
      }
      .text-box{
        margin-top: vw(20);
        .font-h1{
          margin-bottom: vw(8);
        }
      }
      .img-box{
        position: relative;
        padding-top: vw(125);
        overflow: hidden;
        margin-bottom: vw(36);
        .img{
          margin: 0 auto;
          img{
            width: 100%;
            height: auto;
          }
          &.img-mentor{
            width: vw(143);
            height: vw(198);
            position: absolute;
            left: 50%;
            top: vw(300);
            transform: translateX(-50%);
            animation: mentor 1s 0.3s forwards;
          }
          @keyframes mentor{
            100% {top:vw(32)}
          }
        }
        .smile-graph {
          margin: 0 auto;
          padding: 0;
          list-style-type: none;
          overflow: hidden;
          position: relative;
          width: vw(260);
          height: vw(130);
          &::before { /*배경*/
            position: absolute;
            content: '';
            width: inherit;
            height: inherit;
            border: vw(37) solid #34A6F9;
            border-top: none;
            top: 0;
            left: 0;
          }
          li { /*li기준점*/
            position: absolute;
            z-index: 11;
            top: 0;
            left: 0;
            border: vw(37) solid;
            width: inherit;
            height: inherit;
            border-top: none;
            border-bottom-left-radius: vw(130);
            border-bottom-right-radius: vw(130);
            transform-origin: 50% 0;
            &.value{ /*실제 그래프*/
              z-index: 1;
              border-color: #ffe444;
              animation: chartAni 1s 0.2s forwards;
              transform: rotateZ(-180deg)
            }
          }
        }
        @keyframes chartAni{
          100% {transform:rotateZ(-360deg);}
        }
      }
      .total-box{
        p{
          &.total{
            .num{
              font-weight: 600;
              padding: 0;
              font-family: Poppins, sans-serif;
            }
            .unit{
              font-weight: 700;
            }
          }
          &.text{
            font-size: vw(16);
          }

        }
      }
      .btn-box{
        padding: vw(20) vw(24) 0;
        .more-box {
          display: flex;
          width: 100%;
          height: vw(24);
          justify-content: center;
          align-items: center;
          margin-top: vw(14);

          .arrow {
            display: inline-block;
            background: url("../img/mentoring/ico-arrow-bottom-white-lg.svg") no-repeat center center;
            background-size: cover;
            width: vw(24);
            height: vw(24);
          }
        }
      }
    }

    .section-tab{
      border-bottom: 0;

      &.fixed{
       border-bottom: none;
      }

    }

    .section-about {
      background-color: #edf8ff;
      text-align: center;
      .content{
        padding-bottom: vw(96);
      }
      .font-h5{
        margin-bottom: vw(12);
      }
      .desc{
        p{
          margin-bottom: vw(12);
          color: $gray-700;
          font-size: vw(16);

          &:last-of-type{
            margin-bottom: 0;
          }
          &:nth-of-type(2){
            span{
              color: $gray-800;
              &.underscore{
                position: relative;
                &:after{
                  content: '';
                  clear: both;
                  display: inline-block;
                  position: absolute;
                  border-bottom: vw(7) solid $yellow;
                  bottom: 0;
                  left: vw(-3);
                  z-index: -1;
                  animation: mentoringLine 0.5s 1s forwards ease-in-out;
                  border-radius: vw(2.5);
                }
                @keyframes mentoringLine {
                  from{
                    width: 0;
                  }
                  to{
                    width: vw(70);
                  }

                }
              }
            }

          }
        }
      }
    }

    /* s 02.17*/
    .section-process {
      position: relative;
      padding: vw(76) 0 0;
      text-align: center;
      color: #fff;
      //background-color: #34a6f9;
      background: #fff url("../img/mentoring/bg-main-progress2.png") no-repeat top center / contain;

      .h2-title {
        color: $gray-fff;
        margin-bottom: vw(48) !important;
      }
      .step-box {
        display: flex;
        justify-content: center;
        li {
          font-size: 0;
          display: inline-block;
          width: vw(48);
          height: vw(67);
          background-position: 0 0;
          margin-right: vw(18);
          position: relative;
          &.active {
            height: vw(67);
          }

          &:nth-of-type(1) {
            background: url("../img/mentoring/img-submain-step2.svg") no-repeat;
            background-size: 100% auto;

            &.active {
              background: url("../img/mentoring/img-submain-step2-active.svg") no-repeat;
              background-size: 100% auto;
            }
          }
          &:nth-of-type(2) {
            background: url("../img/mentoring/img-submain-step3.svg") no-repeat;
            background-size: 100% auto;

            &.active {
              background: url("../img/mentoring/img-submain-step3-active.svg") no-repeat;
              background-size: 100% auto;
            }
          }
          &:nth-of-type(3) {
            background: url("../img/mentoring/img-submain-step4.svg") no-repeat;
            background-size: 100% auto;
            margin-right: 0;

            &.active {
              background: url("../img/mentoring/img-submain-step4-active.svg") no-repeat;
              background-size: 100% auto;
            }

            &:after {
              display: none;
            }
          }
          &:after {
            content: '..';
            font-size: vw(13);
            color: $gray-fff;
            letter-spacing: vw(1);
            opacity: 0.5;
            position: absolute;
            right: vw(-13);
            top: 45%;
          }
        }
      }

      .slider-box {
        position: relative;
        .swiper-wrapper{

          .item {
            width: 100%;
            height: vw(563);
            padding-bottom: vw(302);
            padding-top: vw(30);

            &.item-1 {
              .item-img {
                position: relative;
                width: 100%;
                height: auto;
                margin: 0 auto;
                top: vw(-80);

                img {
                  width: 100%;
                }
              }
            }

            &.item-2 {
              .item-img {
                position: relative;
                width: vw(250);
                height: auto;
                margin: 0 auto vw(90);

                svg {
                  width: 100%;
                }
              }
            }

            &.item-3 {
              .item-img {
                position: relative;
                width: vw(300);
                height: auto;
                margin: 0 auto;

                svg {
                  width: 100%;
                }
              }
            }

            .info-box {
             position: absolute;
              bottom: 0;
              width: 100%;
              text-align: center;
              padding: vw(83) 0 vw(108);
              p{
                &:nth-of-type(1) {
                  font-weight: 600;
                  font-size: vw(15);
                }
                &:nth-of-type(2) {
                  margin-bottom: vw(6);
                  color: $gray-800;
                }
                &:nth-of-type(3) {
                  color: $gray-700;
                }
              }

            }
          }
        }
        .slider-pagination {
          width: 100%;
          position: absolute;
          z-index: 3;
          bottom: vw(76);
          text-align: center;
          line-height: 1;

          .swiper-pagination-bullet {
            width: vw(8);
            height: vw(8);
            margin: 0 vw(6);
            background-color: #e9f7ff!important;
            opacity: 1;

            &.swiper-pagination-bullet-active{
              background-color: $blue!important;
            }
          }

        }
      }
      /*.slide-infobox{
        position: absolute;
        bottom: 0;
        width: 100%;
        color: #333;
        z-index:2;
        @include background-img($width: 375, $height: 302, $category: 'mentoring', $img: 'bg-main-progress.png');

        .info{
          position: absolute;
          width: 100%;
          bottom: vw(120);
          left: 50%;
          transform: translateX(-50%);
          display: none;
          z-index: 1;
          &.active{
            display: block;
          }
        }
      }*/
    }

    .section-answer {
      background-color: #edf8ff;

      .answer_box {
        white-space: nowrap;
        overflow-x: auto;
        margin: 0 vw(-24);
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar{
          display: none;
          width: 0;
          height: 0;
          background: transparent;
          -webkit-appearance: none;
        }

        .item {
          background-color: $gray-fff;
          border-radius: vw(16);
          padding: vw(24) vw(24) vw(32);
          width: vw(220);
          margin-right: vw(16);
          display: inline-block;

          &:first-of-type {
            margin-left: vw(24);
          }

          &:last-of-type {
            margin-right: vw(24);
          }

          .skin_icon {
            margin-bottom: vw(16);
            text-align: center;
            .icon{
              width: vw(76);
              height: vw(76);
            }

          }

          .type {
            display: flex;
            align-items: center;
            justify-content: space-between;
            >p{
              color: $gray-800;
            }

            .badge {
              font-size: vw(12);
            }
          }

          .area {
            >p {
              padding-top: vw(12);
              color: $gray-700;
              @include ellipsis(3)
            }
          }

        }

      }
    }

    .section-voc {
      background-color: #ffe444;
      position: relative;
      .content{
        padding-bottom: vw(96);
      }

      .review-wrap{
        overflow: hidden;
        height: vw(660);
      }

      .review_box {
        animation: up 15s infinite linear ;

        // Keyframes
        @keyframes up {
          0% {
            transform: translateY(0)
          }
          100% {
            transform: translateY(-60%)
          }
        }


        .item {
          padding: vw(20);
          margin-bottom: vw(16);
          background-color: $gray-fff;
          border-radius: vw(16);

          .info-area {
            font-size: 0;
            margin-bottom: vw(6);

            .icon {
              width: vw(32);
              height: vw(32);
            }

            .username {
              vertical-align: middle;
              display: inline-block;
              margin-left: vw(8);
              font-size: vw(13);
              color: $gray-600;
              line-height: vw(18);
            }
          }

          .content-area {
            margin-bottom: vw(12);
            font-size: vw(15);
            color: $gray-800;
            line-height: vw(22);
            @include ellipsis(2)
          }

          .star-area {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .score {
              span {
                width: vw(14.5);
                height: vw(14);
                display: inline-block;

                &.on {
                  background: url("../img/mentoring/ico-star-yellow.svg") no-repeat 0 0;
                  background-size: 100% auto;
                  &.half{
                    background: url("../img/mentoring/ico-star-yellow-half.svg") no-repeat 0 0;
                    background-size: 100% auto;
                  }
                }

                &.off {
                  background: url("../img/mentoring/ico-star-gray.svg") no-repeat 0 0;
                  background-size: 100% auto;
                }
              }
            }

            .date {
              font-size: vw(13);
              color: $gray-600;
            }
          }

          &.active {
            .content-area {
              display: inline-block;
              overflow: unset;
            }
          }

          &:last-of-type {
            margin-bottom: vw(48);
          }
        }
      }

      .btn-wrap {
        position: absolute;
        bottom: vw(96);
        left: 50%;
        transform: translateX(-50%);
        width: 100%;

        /*흘러가기*/
        background: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 228, 68, 1) 60%);
        background: -o-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 228, 68, 1) 60%);
        background: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 228, 68, 1) 60%);
        background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 228, 68, 1) 60%);

        &:before {
          content: '';
          display: inline-block;
          width: vw(327);
          height: vw(70);
        }

      }

    }

    .section-faq {
      background-color: $gray-fff;
      .content{
        padding-bottom: vw(96);
      }

      .faq_box {
        .item {
          border-radius: vw(16);
          margin-bottom: vw(10);
          padding: vw(17) vw(20) vw(19) vw(45);
          background: $gray-200 url("../img/mentoring/ico-Q.svg") no-repeat left vw(20) top vw(22);
          background-size: vw(17) vw(14);

          .title {
            display: flex;
            justify-content: space-between;
            font-size: vw(15);
            line-height: vw(22);
            color: $gray-800;
            font-weight: 500;

            span {
              width: calc(100% - #{vw(28)});
            }

            i {
              margin-top: vw(6);
            }
          }

          .solution {
            padding-top: vw(14);
            font-size: vw(13);
            line-height: vw(18);
            display: none;
          }

          &.active {
            background: $blue url("../img/mentoring/ico-Q-white.svg") no-repeat left vw(20) top vw(22);
            background-size: vw(17) vw(14);

            .title {
              color: $gray-fff;

              .ico-plus-sm-gray {
                background: url("../img/common/ico-minus-sm-white.svg") no-repeat 0 0;
                background-size: vw(12) vw(12);
              }
            }

            .solution {
              color: $gray-fff;
            }
          }

          &:last-of-type {
            margin-bottom: vw(48);
          }
        }
      }
    }

    /*후기전체보기*/
    &.voc {
      .header-details {
        background-color: #ffe444;
      }

      .body-details {
        background-color: #ffe444;

        .section-voc {
          padding: vw(20) vw(24) vw(48);

          .h2-title {
            margin-bottom: vw(24);
            font-size: vw(22);
            line-height: vw(33);
          }
          .review_box{
            animation: unset;
            .item{
              &:last-of-type{
                margin-bottom: 0;
              }
            }
          }
          .btn-wrap{
            padding: vw(48) 0 0;
            background: linear-gradient(#ffe444, #ffe444 100%);
            bottom: 0;
            position: relative;
            &:before{
              display: none;
            }
          }
        }
      }
    }

  }

}
