/*
|----------------------------------------------------------------------|
 v.0.1 선미 : 최초 작업 -- 2021.12.10
 v.0.2 선미 : toast-popup 추가 -- 2021.12.13
 v.0.3 선미 : btn-select 화살표 추가 / 개선사례조회_상세보기 추가 -- 2021.12.14
 v.0.4 주연 : 고객제안 메인 -- 2021.12.13
|----------------------------------------------------------------------|
*/


/*공통*/
.select-popup{
  margin-bottom: 8px;
  .btn-select{
    width: 100%;
    height: 60px;
    line-height: 58px;
    padding: 0 20px;
    border: 1px solid $gray-300;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.5px;
    border-radius: 12px;
    color: $gray-700;
    display: inline-block;
    background: #fff url(../img/common/ico-select-disabled.png) right 20px center/20px 20px no-repeat;
  }
  .toast-content{
    padding: 24px!important;
    ul{
      li{
        margin-bottom: 12px;

        &:last-of-type{
          margin-bottom: 0;
        }
        a{
          display: block;
          line-height: 40px;
          letter-spacing: 0;
        }
        &.active{
          background: url("../img/common/check-primary.png") no-repeat right center;
          background-size: 24px 24px;
          display: block;
          a{
            color: $primary;
            font-weight: 700;
          }
        }
      }
    }

  }
}

/*공통 - 얇은버전*/
.divider {
  width: 100%;
  height: 1px;
  background-color: $gray-300;
  margin: 25px 0 25px;
}

/*공통*/
.upload-box{
  margin-right: -24px;
  white-space: nowrap;
  overflow-x: scroll;
  padding-top: 2px;
  &::-webkit-scrollbar {
    display: none;
  }
  .img-upload{
    width: 72px;
    height: 72px;
    border-radius: 12px;
    background : $gray-400 url("../img/common/icon-camera.png") no-repeat center top 14px;
    background-size: 28px 28px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    input[type=file]{
      height: 100%;
    }
    .num{
      font-size: 13px;
      color:$gray-700;
      text-align: center;
      padding-top: 5px;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .upload-list{
    display: inline-block;
    vertical-align: middle;
    ul{
      li{
        position: relative;
        display: inline-block;
        margin-left: 4px;
        &:last-of-type{
          margin-right: 25px;
        }
        img{
          width: 72px;
          height: 72px;
          border-radius: 12px;
        }
        .delete-upload{
          background: url("../img/common/icon-cancel.png") no-repeat 0 0;
          background-size: 100% auto;
          width: 20px;
          height: 20px;
          display: inline-block;
          font-size: 0;
          position: absolute;
          right: -2px;
          top: -2px;
        }
      }
    }
  }

}


/*의견남기기*/
.opinion {
  background-color: $gray-200;
  padding: 48px 24px 76px;
}
.section-input{
  letter-spacing: -0.5%;
  margin-bottom: 48px;
  input{
    margin-bottom: 8px;
  }
}
.section-privacy{
  margin-bottom: 48px;
  .font-h5{
    color: $gray-800;
    margin-bottom: 8px;
    font-weight: 700;
  }
  .font-body-1{
    color: $gray-700;
    margin-bottom: 32px;
  }
  .radio-box{
    margin-bottom: 24px;
    .custom-radio{
      margin-right: 24px;
    }
  }
  .input-box{
    input[type=password]{
      margin-bottom: 14px;
    }
  }
  .custom-checkbox{
    display: block;
    margin-bottom: 3px;
    &:last-of-type{
      margin-bottom: 0;
    }
    a{
      font-weight: 500;
      text-decoration: underline;
    }

  }
  .desc{
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.5px;
    color: $gray-600;
    padding-top: 16px;
  }
}
.btn-wrap{
  text-align: center;
}
#completePopup{
  .modal-content{
    width: 77.333% !important;
    margin: 0 auto;
  }
}




/*개선사례조회_상세보기*/
.view-details{
  .header-details{
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 25px;
    line-height: 1.155;
  }
  .body-details{
    .area-title{
      padding: 20px 25px 32px;
      text-align: center;
      border-bottom:1px solid $gray-900;
      .badge-box{
        margin-bottom: 8px;
      }
      .title{
        font-size: 28px;
        line-height: 39px;
        color: #222222;
        font-weight: 700;
        margin-bottom: 12px;
      }
      .info-line{
        letter-spacing: 0;
        font-size: 13px;
        .like{
          margin-right: 8px;
          .num{
            font-weight: 600;
            color: $gray-700;
            margin-left: 2px;
          }
        }
        .date{
          font-weight: 400;
          color: $gray-600;
          margin-left: 8px;
          position: relative;
          &:before{
            content: '';
            display: inline-block;
            position: absolute;
            width: 1px;
            height: 10px;
            background-color: $gray-400;
            left: -8px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
    .area-desc{
      padding: 48px 24px 0;
      .text{
        word-break: keep-all;
        color: $gray-700;
        letter-spacing: 0;
      }
      .divider{
        margin: 32px 0;
      }
      .attach-box{
        white-space: nowrap;
        overflow-x: scroll;
        ul{
          li{
            position: relative;
            display: inline-block;
            margin-left: 4px;
            &:first-of-type{
              margin-left: 0;
            }
            img{
              width: 72px;
              height: 72px;
              border-radius: 12px;
            }
          }
        }
      }
      .btn-wrap{
        text-align: center;
        padding: 32px 0;
        .btn-outline{
          background-color: #ffffff;
          border:1px solid $gray-800;
          color: $gray-800;
          padding: 0 20px;
          min-width: unset;
          .icon{
            margin-left: 4px;
          }
          &:first-of-type{
            margin-right: 4px;
          }
        }
      }
    }

    /*답변완료*/
    .answer-wrap{
      background-color: #f8f8f8;
      padding: 32px 64px 32px 24px;
      margin: 17px 0;
      .badge{
        margin-bottom: 8px;
      }
      .text{
        color:$gray-800
      }
    }

    /*수정하기*/
    .edit-wrap{
      padding: 20px 24px 48px;
      input{
        margin-bottom: 8px;
      }
      .section-input{
        margin-bottom: 12px;
      }
    }
  }
  .footer-details{
    border-top: 1px solid $gray-400;
    padding: 32px 20px 48px;
  }
}
