/*
|----------------------------------------------------------------------|
 v.0.1 선미 : 최초 작업 -- 2021.12.10
 v.0.2 선미 : toast-popup 추가 -- 2021.12.13
 v.0.3 선미 : btn-select 화살표 추가 / 개선사례조회_상세보기 추가 -- 2021.12.14
 v.0.4 주연 : 고객제안 메인 -- 2021.12.13
|----------------------------------------------------------------------|
*/


/*공통*/
.select-popup{
  margin-bottom: vw(8);
  .btn-select{
    width: 100%;
    height: vw(60);
    line-height: vw(58);
    padding: 0 vw(20);
    border: 1px solid $gray-300;
    font-size: vw(15);
    font-weight: 400;
    letter-spacing: vw(-0.5);
    border-radius: vw(12);
    color: $gray-700;
    display: inline-block;
    background: #fff url(../img/common/ico-select-disabled.svg) right vw(20) center/vw(20) vw(20) no-repeat;
  }
  .toast-content{
    padding: vw(24)!important;
    ul{
      li{
        margin-bottom: vw(12);

        &:last-of-type{
          margin-bottom: 0;
        }
        a{
          display: block;
          line-height: vw(40);
          letter-spacing: 0;
        }
        &.active{
          background: url("../img/common/check-primary.png") no-repeat right center;
          background-size: vw(24) vw(24);
          display: block;
          a{
            color: $primary;
            font-weight: 700;
          }
        }
      }
    }

  }
}

/*공통 - 얇은버전*/
.divider {
  width: 100%;
  height: vw(1);
  background-color: $gray-300;
  margin: vw(25) 0 vw(25);
}

/*공통*/
.upload-box{
  margin-right: vw(-24);
  white-space: nowrap;
  overflow-x: scroll;
  padding-top: vw(2);
  &::-webkit-scrollbar {
    display: none;
  }
  .img-upload{
    width: vw(72);
    height: vw(72);
    border-radius: vw(12);
    background : $gray-400 url("../img/common/icon-camera.png") no-repeat center top vw(14);
    background-size: vw(28) vw(28);
    display: inline-block;
    vertical-align: middle;
    position: relative;
    input[type=file]{
      height: 100%;
    }
    .num{
      font-size: vw(13);
      color:$gray-700;
      text-align: center;
      padding-top: vw(5);
      position: absolute;
      bottom: vw(10);
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .upload-list{
    display: inline-block;
    vertical-align: middle;
    ul{
      li{
        position: relative;
        display: inline-block;
        margin-left: vw(4);
        &:last-of-type{
          margin-right: vw(25);
        }
        img{
          width: vw(72);
          height: vw(72);
          border-radius: vw(12);
        }
        .delete-upload{
          background: url("../img/common/icon-cancel.png") no-repeat 0 0;
          background-size: 100% auto;
          width: vw(20);
          height: vw(20);
          display: inline-block;
          font-size: 0;
          position: absolute;
          right: vw(-2);
          top: vw(-2);
        }
      }
    }
  }

}


/*의견남기기*/
.opinion {
  background-color: $gray-200;
  padding: vw(48) vw(24) vw(76);
}
.section-input{
  letter-spacing: 0;
  margin-bottom: vw(48);
  input{
    margin-bottom: vw(8);
  }
}
.section-privacy{
  margin-bottom: vw(48);
  .font-h5{
    color: $gray-800;
    margin-bottom: vw(8);
    font-weight: 700;
  }
  .font-body-1{
    color: $gray-700;
    margin-bottom: vw(32);
  }
  .radio-box{
    margin-bottom: vw(24);
    .custom-radio{
      margin-right: vw(24);
    }
  }
  .input-box{
    input[type=password]{
      margin-bottom: vw(14);
    }
  }
  .custom-checkbox{
    display: block;
    margin-bottom: vw(3);
    &:last-of-type{
      margin-bottom: 0;
    }
    a{
      font-weight: 500;
      text-decoration: underline;
    }

  }
  .desc{
    font-size: vw(12);
    line-height: vw(16);
    letter-spacing: vw(-0.5);
    color: $gray-600;
    padding-top: vw(16);
  }
}
.btn-wrap{
  text-align: center;
}
/*
#completePopup{
  .modal-content{
    width: 77.333% !important;
    margin: 0 auto;
  }
}

*/



/*개선사례조회_상세보기*/
.view-details{
  .header-details{
    height: vw(60);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 vw(25);
    line-height: 1.155;
  }
  .body-details{
    .area-title{
      padding: vw(20) vw(25) vw(32);
      text-align: center;
      border-bottom:1px solid $gray-900;
      .badge-box{
        margin-bottom: vw(8);
      }
      .title{
        font-size: vw(28);
        line-height: vw(39);
        color: #222222;
        font-weight: 700;
        margin-bottom: vw(12);
      }
      .info-line{
        letter-spacing: 0;
        font-size: vw(13);
        .like{
          margin-right: vw(8);
          .num{
            font-weight: 600;
            color: $gray-700;
            margin-left: vw(2);
          }
        }
        .date{
          font-weight: 400;
          color: $gray-600;
          margin-left: vw(8);
          position: relative;
          &:before{
            content: '';
            display: inline-block;
            position: absolute;
            width:vw(1);
            height: vw(10);
            background-color: $gray-400;
            left: vw(-8);
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
    .area-desc{
      padding: vw(48) vw(24) 0;
      .text{
        word-break: keep-all;
        color: $gray-700;
        letter-spacing: 0;
        font-size: vw(16);
      }
      .divider{
        margin: vw(32) 0;
      }
      .attach-box{
        white-space: nowrap;
        overflow-x: scroll;
        ul{
          li{
            position: relative;
            display: inline-block;
            margin-left: vw(4);
            &:first-of-type{
              margin-left: 0;
            }
            img{
              width: vw(72);
              height: vw(72);
              border-radius: vw(12);
            }
          }
        }
      }
      .btn-wrap{
        text-align: center;
        padding: vw(32) 0;
        .btn-outline{
          background-color: #ffffff;
          border:1px solid $gray-800;
          color: $gray-800;
          padding: 0 vw(20);
          min-width: unset;
          .icon{
            margin-left: vw(4);
          }
          &:first-of-type{
            margin-right: vw(4);
          }
        }
      }
    }

    /*답변완료*/
    .answer-wrap{
      background-color: #f8f8f8;
      padding: vw(32) vw(64) vw(32) vw(24);
      margin: vw(17) 0;
      .badge{
        margin-bottom: vw(8);
      }
      .text{
        color:$gray-800;
        font-size: vw(16);
      }
    }

    /*수정하기*/
    .edit-wrap{
      padding: vw(20) vw(24) vw(48);
      input{
        margin-bottom: vw(8);
      }
      .section-input{
        margin-bottom: vw(12);
      }
    }
  }
  .footer-details{
    border-top: 1px solid $gray-400;
    padding: vw(32) vw(20) vw(48);
  }
}
