.brand-wrap {
  .inner {
    position: relative;
    max-width: 1242px;
    min-width: 1242px;
    margin: 0 auto;
  }

  .section-intro {
    .heading {
      text-align: center;
      padding: 40px 0 80px;

      .font-h1 {
        margin-bottom: 12px;
      }

      .font-h5 {
        font-size: 18px;
        line-height: 28px;
        color: $gray-700;
      }
    }
  }

  .contents {
    > .bg {
      @include background-img ($width: 1920, $height: 600, $category: 'brand', $img: 'bg-brand.png');
      width: auto;
      background-size: cover;
      background-position: center;

      .inner {
        height: 100%;
      }

      .txt {
        display: flex;
        height: 100%;
        align-items: center;
        padding-left: 22px;
        align-items: center;
        font-weight: bold;
        font-size: 34px;
        line-height: 44px;
        letter-spacing: -0.01em;
      }
    }

    .box-txt {
      text-align: center;
      padding: 120px 0;

      .desc {
        font-size: 24px;
        line-height: 32px;
        color: $gray-800;
        margin-bottom: 10px;
      }

      .title {
        font-weight: bold;
        font-size: 32px;
        line-height: 42px;
        text-align: center;
        color: $gray-800;
        margin-bottom: 20px;
      }

      .title-sm {
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: $gray-700;
      }
    }

    .box-bg {
      width: 100%;
      height: 451px;

      + .box-bg {
        margin-bottom: 120px;

        .inner {
          .text-wrap {
            padding: 93px 0 0 70px;
          }
        }
      }

      .inner {
        display: flex;
        height: 100%;

        .img {
          width: 501px;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .text-wrap {
          background-color: $gray-200;
          width: calc(100% - 501px);
          padding: 50px 0 0 70px;

          .font-h3 {
            font-weight: bold;
            font-size: 28px;
            line-height: 39px;
            color: $gray-800;
            margin-bottom: 20px;
          }

          .font-h6 {
            font-size: 14px;
            line-height: 22px;
            color: $gray-700;

            + .font-h6 {
              margin-top: 30px;
            }
          }

          .btn-wrap {
            justify-content: flex-start;
            margin-top: 40px;

            .btn {
              display: flex;
              align-items: center;
            }

            .ico-plus-lg {
              @include background-img ($width: 12, $height: 12, $category: 'brand', $img: 'ico-plus.svg');
            }
          }
        }
      }

      + .box-bg {
        margin-top: 30px;
      }
    }

    .box-link {
      padding-bottom: 240px;

      ul {
        display: flex;

        li {
          width: 286px;
          height: 241px;

          + li {
            margin-left: 33px;
          }

          a {
            display: block;
            height: 100%;
            position: relative;
          }

          &:nth-of-type(1) {
            background: url(../img/brand/bg-quarter1.png) no-repeat 0 0;
            background-size: 100% auto;
          }

          &:nth-of-type(2) {
            background: url(../img/brand/bg-quarter2.png) no-repeat 0 0;
            background-size: 100% auto;
          }

          &:nth-of-type(3) {
            background: url(../img/brand/bg-quarter3.png) no-repeat 0 0;
            background-size: 100% auto;
          }

          &:nth-of-type(4) {
            background: url(../img/brand/bg-quarter4.png) no-repeat 0 0;
            background-size: 100% auto;
          }
        }
      }
    }
  }
}
