.brand-wrap {
  .inner {
    position: relative;
    max-width: 1242px;
    min-width: 1242px;
    margin: 0 auto;
  }

  .section-intro {
    .heading {
      text-align: center;
      padding: 40px 0 80px;

      .font-h1 {
        margin-bottom: 12px;
      }

      .font-h5 {
        font-size: 18px;
        line-height: 28px;
        color: $gray-700;
      }
    }
  }

  .contents {
    > .bg {
      @include background-img ($width: 1920, $height: 600, $category: 'brand', $img: 'bg-brand.png');
      width: auto;
      background-size: cover;
      background-position: center;

      .inner {
        height: 100%;
      }

      .txt {
        display: flex;
        height: 100%;
        align-items: center;
        padding-left: 22px;
        align-items: center;
        font-weight: bold;
        font-size: 34px;
        line-height: 44px;
        letter-spacing: -0.01em;
      }
    }

    .box-txt {
      text-align: center;
      padding: 120px 0;

      .desc {
        font-size: 24px;
        line-height: 32px;
        color: $gray-800;
        margin-bottom: 10px;
      }

      .title {
        font-weight: bold;
        font-size: 32px;
        line-height: 42px;
        text-align: center;
        color: $gray-800;
        margin-bottom: 20px;
      }

      .title-sm {
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: $gray-700;
      }
    }

    .box-bg {
      width: 100%;
      height: 451px;

      .inner {
        display: flex;
        height: 100%;

        .img {
          width: 501px;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .text-wrap {
          width: calc(100% - 501px);
        }
      }

      + .box-bg {
        margin-top: 30px;
      }
    }

    .box-link {
      ul {
        font-size: 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        li {
          font-size: vw(16);
          width: 50%;
          height: vw(150);

          a {
            display: block;
            height: 100%;
            padding: vw(30);
            position: relative;

            span {
              display: block;
            }

            .icon {
              position: absolute;
              bottom: vw(30);
            }
          }

          &:nth-of-type(1) {
            background: url(../img/brand/bg-quarter1.svg) no-repeat 0 0;
            background-size: 100% auto;
          }

          &:nth-of-type(2) {
            background: url(../img/brand/bg-quarter2.svg) no-repeat 0 0;
            background-size: 100% auto;
          }

          &:nth-of-type(3) {
            background: url(../img/brand/bg-quarter3.svg) no-repeat 0 0;
            background-size: 100% auto;
          }

          &:nth-of-type(4) {
            background: url(../img/brand/bg-quarter4.svg) no-repeat 0 0;
            background-size: 100% auto;
          }

        }

      }
    }
  }
}
