
.event-wrap {
  /* custom */
  .tab {
    text-transform: none;
    width: auto;
    background-color: transparent;
    overflow-x: visible;
    overflow-y: visible;

    &::after {
      content: none;
    }
  }

  .col-3 {
    flex: none;
    max-width: none;
    padding-right: 0;
    padding-left: 0;
    width: auto;
  }

  /* common */
  .event__wrap {
    /** ---------------------------------------------------------------------------------
    * ## 공통요소
    * --------------------------------------------------------------------------------- */
    .talign_left {text-align: left;}
    .talign_right {text-align: right;}
    .pull-right {float:right;margin-right:0.3em;}
    .pull-left {float:left;margin-right:0.3em;}
    .cb:after {content:"";display:block;overflow:hidden;clear:both;}
    .sound-only {position:absolute;width:1px;height:1px;overflow:hidden;clip:rect(1px 1px 1px 1px);clip:rect(1px, 1px, 1px, 1px);}
    .blind {position:absolute;left:-3721em;}
    .c_point {color:#2fcab0;}
    .c_grey {color:#999;}
    .c_pink {color:#f72f6d;}
    .red {color: #f00;}
    .gold {color: #a5763e;}
    .color-black-three {color:#333;}
    .fnt_eng {font-family:$poppins;}
    .fnt_num {font-family:'Roboto', sans-serif;}
    .underline {text-decoration:underline;}
    a.underline {text-decoration:underline !important;}
    .label {display:inline-block;text-align:center;padding:0 9px;height:22px;line-height:20px;border-radius:11px;font-size:14px;box-sizing:border-box;}
    .label strong {font-family:'Roboto' !important;font-size:inherit !important;}
    .label strong em.unit {margin:0 !important;padding:0 !important;font-size:inherit !important;position:static !important;}
    .label-small {height:20px;line-height:16px;padding:1px 7px 0;}
    .label-square {font-size:11px;font-weight:500;letter-spacing:-0.33px;border-radius:0;}
    .label-red {border:solid 1px #f72f6d;color:#f72f6d;background:#fff;}
    .label-green {background-color:#2fcab0;color:#fff;}
    .label-green strong {font-weight:normal !important;color:#fff !important;}
    .txt01 {font-size:14px;font-weight:300;line-height:1.86;color:#111;}
    .fs24 {font-size:24px !important;}
    html.ss {height:100%;overflow:hidden;}
    .mt30 {
      margin-top: 30px !important;
    }
    .rds41 {
      border-radius: 41px !important;
    }
    .x120 {
      width: 120px !important;
    }
    .fieldset {border:0 none;}
    .fieldset + .fieldset {margin-top:60px;}
    .fieldset .sec-tit + p {margin:6px 0 20px;}
    .fieldset .sec-tit + .field {margin-top:20px;}
    .fieldset .field {display:flex;align-items:center;}
    .fieldset .field .insert.self-top {align-self:flex-start;}
    .fieldset .field .insert .itx-uio {vertical-align:middle;}
    .fieldset .field .insert .itx-uio + .dbtn {width:120px;padding:0;}
    .fieldset .field .insert .itx-uio + .dbtn + .has_block,.fieldset .field .insert .itx-uio.has_block {margin-top:10px;}
    .fieldset .field .insert .rdo-uio-small + .rdo-uio-small,.fieldset .field .insert .chk-uio-small + .chk-uio-small {margin-left:27px;}
    .fieldset .field .insert .stx-uio-box {width:114px;margin-left:7px;vertical-align:middle;}
    .fieldset .field .insert .stx-uio-box select {background-position:calc(100% - 10px);}
    .fieldset .field .insert .data {display:inline-block;padding:10px 0;font-size:14px;}
    .fieldset .field .insert .dbtn-xxs {margin-left:5px;}
    .txt-uio {border:1px solid #efefef;display:block;}
    .txt-uio textarea {border:none;box-sizing:border-box;font-size:14px;letter-spacing:-0.7px;width:100%;color:#333;padding-top:18px;padding-left:20px;resize:none;outline:none;}
    .txt-uio textarea::placeholder {color:#999;}
    .txt-uio.x921 {width:921px;}
    .itx-uio {border:1px solid #efefef;height:40px;display:inline-block;}
    .itx-uio.has_block {display:block;}
    .itx-uio input {box-sizing:border-box;font-size:14px;letter-spacing:-0.7px;width:100%;height:40px;color:#333;padding-left:20px;outline:none;}
    .itx-uio input::placeholder {color:#999;}
    .itx-uio.x921 {width:921px;}
    .itx-uio input:disabled {background-color:#eee;}
    .itx-uio.w320 {width:320px;}
    .itx-uio.min {width:59px;padding:0;}
    .itx-uio.min input {padding:0;text-align:center;}
    .itx-uio.site {width:179px;}
    .itx-uio.zipcode {width:120px;}
    .itx-uio.user,.itx-uio.skintype {width:140px;}
    .itx-uio + .dash,.itx-uio + .date,.itx-uio + .at {display:inline-block;text-align:center;vertical-align:middle;}
    .itx-uio + .dash,.itx-uio + .date {width:19px;}
    .itx-uio + .at {width:32px;}
    .itx-uio + .date {color:#999;}

    .column {width:1300px;margin-left:auto;margin-right:auto;padding-top:34px;}
    .column:after {content:"";display:block;overflow:hidden;clear:both;}
    .column.nopad {padding-top:0;}
    .column .side {font-size:0;width:275px;float:left;line-height:0;padding-top:10px;padding-bottom:311px;}
    .column .side .sect + .sect {margin-top:60px;}
    .column .side h1.d1 {font-size:24px;font-weight:500;font-stretch:normal;font-style:normal;letter-spacing:-0.6px;text-align:left;color:#333;line-height:23px;margin-bottom:40px;position:relative;}
    .column .side h1.d1:before {content:'';background-color:#eee;display:inline-block;width:16px;height:23px;margin-right:8px;position:relative;top:3px;}
    .column .side h1.d1-all:before {background:url('../img/event/ico_side_all.svg') no-repeat 50%;background-size:16px 16px;}
    .column .side h1.d1-filter:before {background:url('../img/event/ico_side_filter.svg') no-repeat 50%;background-size:18px 16px;}
    .column .side h1.d1-filter .btn-reset {display:block;background:url('../img/event/ico_side_reload.svg') no-repeat 0 0;background-size:18px 21px;width:18px;height:21px;position:absolute;right:0;top:-1px;}
    .column .side .group {border-top:1px solid #f2f2f2;}
    .column .side .group:last-child {border-bottom:1px solid #f2f2f2;}
    .column .side .group h2.d2 a,.column .side .group h2.d2 button {display:block;width:100%;font-size:16px;font-weight:500;font-stretch:normal;font-style:normal;letter-spacing:-0.32px;text-align:left;color:#333;height:56px;line-height:56px;background:url('../img/event/ico_side_arr_up.svg') no-repeat 100% 50%;}
    .column .side .group h2.d2 a.show a,.column .side .group h2.d2 button.show a,.column .side .group h2.d2 a.act a,.column .side .group h2.d2 button.act a,.column .side .group h2.d2 a.show button,.column .side .group h2.d2 button.show button,.column .side .group h2.d2 a.act button,.column .side .group h2.d2 button.act button {background:url('../img/event/ico_side_arr_down.svg') no-repeat 100% 50%;}
    .column .side .group.show h2.d2 a,.column .side .group.act h2.d2 a,.column .side .group.show h2.d2 button,.column .side .group.act h2.d2 button {background:url('../img/event/ico_side_arr_down.svg') no-repeat 100% 50%;}
    .column .side .group .toggle-bar {display:none;padding-bottom:0;overflow:hidden;}
    .column .side .group.act .toggle-bar {display:block;padding-bottom:12px;}
    .column .side .group .chk-uio-small [type=checkbox]:checked + em + i.lab {color:#2fcab0 !important;}
    .column .side .group .rdo-uio-small em:before {background:#2fcab0 !important;}
    .column .side .group .rdo-uio-small [type=radio]:checked + em:before {background:#2fcab0 !important;}
    .column .conts {width:966px;float:right;}
    .column .conts hgroup {position:relative;margin-bottom:36px;}
    .column .conts hgroup .options {position:absolute;}
    .column .conts hgroup .options-left {left:0;}
    .column .conts hgroup .options-right {top:0;right:0;}
    .column .conts hgroup h1.tit {font-size:32px;font-weight:bold;font-stretch:normal;font-style:normal;line-height:1.44;letter-spacing:-0.8px;text-align:left;color:#333; margin-bottom:20px;}
    .column .conts-full {width:100%;}
    .column-wide {width:100%;}
    .column-wide .conts-full {width:1300px;margin-left:auto;margin-right:auto;float:none;}
    .column-wide .conts-wide {width:100%;margin-left:auto;margin-right:auto;float:none;}
    @media all and (max-width:1599px) {
      .column {width:1134px;margin-left:auto;margin-right:auto;}
      .column .side {width:245px;float:left;}
      .column .conts {width:842px;float:right;}
      .column-wide .conts-full {width:1134px;float:none;}
      .column-wide .conts-wide {width:100%;margin-left:auto;margin-right:auto;float:none;}
    }

    .stx-uio {position:relative;height:36px;display:inline-block;box-sizing:border-box;min-width:107px;}
    .stx-uio.has_block {display:block;}
    .stx-uio:after {position:absolute;bottom:0;left:0;content:'';width:100%;height:2px;background-color:#222;}
    .stx-uio select {border:none;appearance:none;height:inherit;width:100%;background:transparent url('../img/event/ico_stx_arr_down.svg') no-repeat 100% 50%;background-size:8px 6px;outline:1px solid transparent;letter-spacing:2.8px;cursor:pointer;font-weight:bold;font-size:14px;padding-right:12px;}
    .stx-uio select::-ms-expand {display:none;}
    .stx-uio-box {border:1px solid #efefef;height:40px;}
    .stx-uio-box select {box-sizing:border-box;font-weight:normal;font-size:14px;letter-spacing:-0.7px;width:100%;height:40px;padding-left:20px;color:#999;}
    .stx-uio-box select:focus {color:#333;}
    .stx-uio-box:after {display:none;}
    .stx-uio.x478 {width:478px;}
    .stx-uio.x478 select {background:transparent url('../img/event/ico_stx_arr_down.svg') no-repeat 96.95982628% 50%;background-size:8px 6px;}
    .stx-uio.x921 {width:921px;}
    .stx-uio.x921 select {background:transparent url('../img/event/ico_stx_arr_down.svg') no-repeat 96.95982628% 50%;background-size:8px 6px;}
    ul.items-list-uio li a {display:block;font-size:14px;font-weight:300;letter-spacing:-0.28px;text-align:left;color:#666;padding:8px 0;line-height:1;will-change:color;transition:color 0.2s 0s linear;}
    ul.items-list-uio li a:focus,ul.items-list-uio li a:hover {color:#2fcab0;}
    ul.items-list-uio li.on a {font-weight:500;color:#2fcab0;}
    .input__srch__box {position:relative;width:700px;height:83px;}
    .input__srch__box input[type=text] {display:block;width:700px;height:79px;background:#fff;border-bottom:4px solid #000;font-size:34px;font-weight:bold;color:#222;padding-left:15px;}
    .input__srch__box button[type=submit],.input__srch__box button.submit {position:absolute !important;display:block;width:79px;height:79px;top:0;right:0;background:transparent url('../img/event/uio_srch_btn.svg') no-repeat 31px 29px;}


    /** ---------------------------------------------------------------------------------
    * ## 탭 UIO
    * --------------------------------------------------------------------------------- */
    .tab__uio {font-size:0;}
    .tab__uio .tab {text-transform:uppercase;display:inline-block;}
    .tab__uio__top {position:relative;height:61px;white-space:nowrap;background-color:#f4f4f4;text-align:center;font-size:0;line-height:1;}
    .tab__uio__top:before,.tab__uio__top:after {content:'';display:block;position:absolute;pointer-events:none;touch-action:none;width:100%;bottom:0;left:0;overflow:hidden;}
    .tab__uio__top:before {height:1px;z-index:3;background:#ddd;bottom:-1px;}
    .tab__uio__top:after {height:22px;background-image:linear-gradient(to bottom, #f4f4f4, #eaeaea);z-index:2;}
    .tab__uio__top .tab {font-size:0;line-height:1;position:relative;font-weight:normal;font-stretch:normal;font-style:normal;line-height:1.5;letter-spacing:normal;text-align:left;color:#000;width:50%;height:61px;text-align:center;z-index:1;}
    .tab__uio__top .tab:before {content:'';display:block;width:1px;height:100%;overflow:hidden;background:#efefef;position:absolute;left:0;top:0;z-index:2;opacity:1;}
    .tab__uio__top .tab.active {background:#fff;z-index:3;}
    .tab__uio__top .tab.active:before {opacity:1;}
    .tab__uio__top .tab.active:after {content:'';position:absolute;display:block;width:100%;height:10px;bottom:-1px;left:0;overflow:hidden;background:#fff;}
    .tab__uio__top .tab strong,.tab__uio__top .tab span {position:relative;display:inline-block;line-height:61px;vertical-align:middle;height:23px;line-height:23px;top:20px;font-weight:normal;font-stretch:normal;font-style:normal;letter-spacing:normal;color:#000;}
    .tab__uio__top .tab strong {font-size:16px;font-family: $poppins;font-weight:600;}
    .tab__uio__top .tab span {font-size:12px;margin-left:10px;}
    .tab__uio__type2 {text-align:center;}
    .tab__uio__type2.has_shadow {box-shadow:0 4px 10px rgba(0, 0, 0, 0.08);}
    .tab__uio__type2 .tab {position:relative;display:inline-block;width:auto;height:60px;font-stretch:normal;font-style:normal;letter-spacing:normal;color:#999;vertical-align:middle;border-top:1px solid #ddd;border-bottom:1px solid #ddd;box-sizing:border-box;background:#fff;cursor:pointer;}
    .tab__uio__type2 .tab:before,.tab__uio__type2 .tab:after {content:'';display:block;width:1px;height:100%;position:absolute;background:#ddd;top:0;overflow:hidden;}
    .tab__uio__type2 .tab:before {left:0;}
    .tab__uio__type2 .tab:after {right:0;opacity:0;}
    .tab__uio__type2 .tab:last-child:after {opacity:1;}
    .tab__uio__type2 .tab > span {height:60px;line-height:60px;font-size:20px;font-weight:500;}
    .tab__uio__type2 .tab.active {color:#fff;background:#2fcab0;border-top-color:#2fcab0;border-bottom-color:#2fcab0;}
    .tab__uio__type2 .tab.active:before {background:#2fcab0;}
    .tab__uio__type2 .tab.active span {font-weight:900;}
    .tab__uio__type2 .tab.active + .tab:before {opacity:0;}
    .tab__uio__type2.col-5 .tab {width:20%;}
    .tab__uio__type2.col-4 .tab {width:25%;}
    .tab__uio__type2.col-3 .tab {width:33.3%;}
    .tab__uio__type2.col-3 .tab:nth-of-type(2) {width:33.4%;}
    .tab__uio__type2.col-3 .tab:nth-of-type(3) {width:33.3%;}
    .tab__uio__type2.col-2 .tab {width:50%;}
    .tab__uio__type3 {font-size:0;height:112px;text-align:center;box-sizing:border-box;line-height:0;}
    .tab__uio__type3 .tab {font-size:0;display:inline-block;vertical-align:top;height:inherit;}
    .tab__uio__type3 .tab i.ico {display:block;box-sizing:border-box;width:80px;height:80px;border-radius:40px;border:1px solid #efefef;background-color:#fafafa;margin-left:auto;margin-right:auto;margin-bottom:23px;transition:background-color 0.3s 0s linear;will-change:background-color;}
    .tab__uio__type3 .tab i.ico:before {opacity:1;transform:scale(1);will-change:opacity, transform;}
    .tab__uio__type3 .tab em {display:block;font-size:14px;font-weight:500;letter-spacing:-0.7px;color:#333;}
    .tab__uio__type3 .tab:focus i.ico,.tab__uio__type3 .tab:hover i.ico {background-color:#2fcab0;transition:background 0.3s 0.2s ease-out, border-color 0.4s 0.1s ease-in;}
    .tab__uio__type3 .tab:focus i.ico:before,.tab__uio__type3 .tab:hover i.ico:before {transform:scale(1.1);transition:transform 0.2s 0s ease-in, opacity 0.2s 0s ease-in;}
    .tab__uio__type3 .tab + .tab {margin-left:30px;}
    .tab__uio__type4 {text-align:center;height:39px;font-size:0;line-height:0;}
    .tab__uio__type4 .tab {position:relative;display:inline-block;font-size:0;height:45px;box-sizing:border-box;padding-left:30px;padding-right:30px;}
    .tab__uio__type4 .tab + .tab:before {content:'|';position:absolute;width:1px;height:21px;top:0;left:0;overflow:hidden;background-color:#ddd;}
    .tab__uio__type4 .tab span {font-family:'Poppins',sans-serif;position:relative;display:block;font-size:24px;font-weight:600;text-align:center;color:#ddd;padding-top:13px;}
    .tab__uio__type4 .tab span:after {content:' 활성';position:absolute;top:28px;left:50%;width:100%;margin-left:-50%;height:4px;object-fit:contain;background-color:#62d8d4;overflow:hidden;color:#62d8d4;opacity:0;}
    .tab__uio__type4 .tab.active span:after {opacity:1;}
    .tab__uio__type5 {height:110px;font-size:0;}
    .tab__uio__type5 .tab {position:relative;display:inline-block;vertical-align:top;cursor:pointer;}
    .tab__uio__type5 .tab:before {content:'';display:block;width:1px;height:27px;overflow:hidden;background:#ddd;position:absolute;left:0;top:50%;margin-top:-13px;opacity:0;}
    .tab__uio__type5 .tab + .tab:before {opacity:1;}
    .tab__uio__type5 .tab span {display:block;font-size:30px;height:110px;line-height:110px;color:#ddd;font-weight:bold;padding:0 26px;}
    .tab__uio__type5 .tab.act span,.tab__uio__type5 .tab:hover span {color:#000;}
    .tab__uio__type6 {font-size:0;width:1300px;margin-left:auto;margin-right:auto;}
    .tab__uio__type6 .tab {position:relative;display:inline-block;font-size:16px;font-weight:500;font-stretch:normal;font-style:normal;height:60px;line-height:60px;letter-spacing:-0.4px;text-align:center;color:#999;padding:0 15px;will-change:color;transition:color 0.3s 0s linear;overflow:hidden;}
    .tab__uio__type6 .tab w em {margin-left:3px;}
    .tab__uio__type6 .tab:hover {color:#333;}
    .tab__uio__type6 .tab:after {content:'';display:block;width:100%;height:3px;background:#2fcab0;overflow:hidden;bottom:0;left:0;opacity:0;transition:opacity 0.3s 0s linear;}
    .tab__uio__type6 .tab.act {color:#333;}
    .tab__uio__type6 .tab.act:after {opacity:1;}
    .tab__uio__type6 .tab:nth-of-type(1) {padding-left:0;}
    .tab__uio.is__quration {width:1300px;transition:all 0.2s ease 0s;}
    .tabs {font-size:0;}
    .tabs_simple .tab {height:16px;font-size:14px;font-weight:normal;letter-spacing:-0.42px;text-align:center;color:rgba(17, 17, 71, 0.4);padding-left:15px;padding-right:15px;position:relative;cursor:pointer;}
    .tabs_simple .tab:after {content:'';display:block;width:1px;position:absolute;right:0;top:0;height:12px;top:50%;margin-top:-6px;overflow:hidden;background:#eaeaea;}
    .tabs_simple .tab.act {color:#1d1d17;}
    .tabs_simple .tab:last-child {padding-right:0;}
    .tabs_simple .tab:last-child:after {opacity:0;}
    @media all and (max-width:1599px) {
      .tab__uio__type2 .tab {height:52px;}
      .tab__uio__type2 .tab > span {height:52px;line-height:52px;font-size:15px;}
      .tab__uio.is__quration {width:1134px;}
    }
    @media all and (min-width:1600px) {
      .module__banner .dbtn-close {right:39.9px;}
    }
    @media all and (min-width:1921px) {
      .module__banner .dbtn-close {right:39.9px;}
    }
  }

  /** ---------------------------------------------------------------------------------
   * ## 탭 UIO
   * --------------------------------------------------------------------------------- */
  .tab__uio__type3 .tab i.ico {border:1px solid #efefef;background-color:#f4f4f4;}
  .tab__uio__type4 .tab.active span {color:#1d1d17;}
  .tabs_simple .tab:after {background:#eaeaea;}
  .tabs_simple .tab.act {color:#1d1d17;}

  /** ---------------------------------------------------------------------------------
   * ## 팁, 정보, 유의사항, 읽어주세요
   * --------------------------------------------------------------------------------- */
  .module_tip p {font-size:14px;font-weight:300;color:#333;letter-spacing:-0.35px;line-height:24px;}
  .module_tip p strong {font-weight:bold;}
  .module_tip p strong.int {font-family:'Roboto', sans-serif;}
  .module_tip h1.imperative,.module_tip h2.imperative,.module_tip h3.imperative,.module_tip h4.imperative,.module_tip h5.imperative,.module_tip h6.imperative {font-size:14px;font-weight:bold;letter-spacing:-0.48px;}
  .module_tip h1.imperative:before,.module_tip h2.imperative:before,.module_tip h3.imperative:before,.module_tip h4.imperative:before,.module_tip h5.imperative:before,.module_tip h6.imperative:before {content:'!';background:url('../img/event/ico_imperative.svg') no-repeat 0 4px;display:inline-block;width:4px;height:24px;vertical-align:middle;margin-right:8px;color:rgba(0, 0, 0, 0);}
  .module_tip h1.imperative + ul.dot,.module_tip h2.imperative + ul.dot,.module_tip h3.imperative + ul.dot,.module_tip h4.imperative + ul.dot,.module_tip h5.imperative + ul.dot,.module_tip h6.imperative + ul.dot {margin-top:14px;}
  .module_tip ul.dot {margin-left:12px}
  .module_tip ul.dot li {font-size:14px;font-weight:300;color:#111;}
  ul.dot {margin:0;padding:0;list-style:none;}
  ul.dot li {position:relative;padding-left:12px;word-break:keep-all;font-size:14px;letter-spacing:-0.42px;text-align:left;font-weight:normal;line-height:1.86;}
  ul.dot li strong {font-weight:bold;}
  ul.dot li:before {content:'';position:absolute;width:3px;height:3px;border-radius:1.5px;background:#333;top:12px;left:0;}

  /* table */
  table.notification_db {width:100%;border-collapse:collapse;border-top:1px solid #ddd;}
  table.notification_db tbody tr th,table.notification_db tbody tr td {border-top:1px solid #efefef;}
  table.notification_db tbody tr:last-child th,table.notification_db tbody tr:last-child td {border-bottom:1px solid #efefef;}
  table.notification_db tbody th[scope=row],table.notification_db tbody td {padding-top:21px;padding-bottom:21px;font-size:14px;color:#333;}
  table.notification_db tbody th[scope=row] {background-color:#f5f5f5;color:#333;box-sizing:border-box;padding-left:30px;padding-right:30px;text-align:left;vertical-align:middle;}
  table.notification_db tbody td {padding-left:29px;line-height:2;letter-spacing:-0.28px;font-weight:400;word-break:keep-all;}
  table.notification_db tbody td a {color:#333;}
  table.only_tbody {width:100%;border-collapse:collapse;border-top:1px solid #ddd;}
  table.only_tbody strong.req:after {content:'*';color:#f72f6d;font-size:18px;font-weight:500;}
  table.only_tbody tbody th,table.only_tbody tbody td {text-align:left;font-size:14px;padding:8px 0;padding-left:34px;border-bottom:1px solid #efefef;font-weight:500;}
  table.only_tbody tbody th {border-bottom:1px solid #fff;background:#f5f5f5;}
  table.only_tbody tbody th.center {text-align:center;padding-left:0;padding-right:0;}
  table.only_tbody tbody th label.required:after {content:'*';font-size:18px;font-weight:500;font-stretch:normal;font-style:normal;letter-spacing:-0.54px;text-align:left;color:#f72f6d;}
  table.only_tbody tbody td {padding-left:20px;font-weight:400;}
  table.only_tbody tbody td.right {text-align:right;}

  /* pagination */
  ul.pagination {display:block;text-align:center;font-size:0;}
  ul.pagination li {display:inline-block;margin:0 5px;vertical-align:middle;}
  ul.pagination li strong,ul.pagination li a {position:relative;font-size:16px;display:block;padding:0 8px;text-align:center;height:20px;line-height:15px;color:#333;will-change:color;transition:color 0.3s 0s linear;}
  ul.pagination li a span {font-size:0;line-height:0;}
  ul.pagination li strong:after,ul.pagination li a:after {content:'';display:block;width:100%;height:3px;background:#2fcab0;position:absolute;bottom:0;left:0;opacity:0;will-change:opacity;transition:opacity 0.3s 0s linear;}
  ul.pagination li strong:hover,ul.pagination li a:hover {color:#2fcab0;}
  ul.pagination li.active a:after {opacity:1;}
  ul.pagination li.first,ul.pagination li.prev,ul.pagination li.next,ul.pagination li.last {height:20px;width:20px;box-sizing:border-box;border:1px solid #ddd;background:#fff;}
  ul.pagination li.first a,ul.pagination li.prev a,ul.pagination li.next a,ul.pagination li.last a {color:rgba(0, 0, 0, 0);padding:0;}
  ul.pagination li.first a:after,ul.pagination li.prev a:after,ul.pagination li.next a:after,ul.pagination li.last a:after {display:none;}
  ul.pagination li.first {background:url('../img/event/ico_paging_first.svg') no-repeat center center;background-size:50% auto;}
  ul.pagination li.first + .prev {margin-left:0px;}
  ul.pagination li.prev {background:url('../img/event/ico_paging_prev.svg') no-repeat 60% center;background-size:40% auto;}
  ul.pagination li.prev + li {margin-left:30px;}
  ul.pagination li.next {margin-left:30px;}
  ul.pagination li.next {background:url('../img/event/ico_paging_next.svg') no-repeat 40% center;background-size:40% auto;}
  ul.pagination li.next + .last {margin-left:0;}
  ul.pagination li.last {background:url('../img/event/ico_paging_last.svg') no-repeat center center;background-size:50% auto;}

  /* input */
  .stx-uio {position:relative;height:36px;display:inline-block;box-sizing:border-box;min-width:107px;}
  .stx-uio.has_block {display:block;}
  .stx-uio:after {position:absolute;bottom:0;left:0;content:'';width:100%;height:2px;background-color:#222;}
  .stx-uio select {border:none;appearance:none;height:inherit;width:100%;background:transparent url('../img/event/ico_stx_arr_down.svg') no-repeat 100% 50%;background-size:8px 6px;outline:1px solid transparent;letter-spacing:2.8px;cursor:pointer;font-weight:bold;font-size:14px;padding-right:12px;}
  .stx-uio select::-ms-expand {display:none;}
  .stx-uio-box {border:1px solid #efefef;height:40px;}
  .stx-uio-box select {box-sizing:border-box;font-weight:normal;font-size:14px;letter-spacing:-0.7px;width:100%;height:40px;padding-left:20px;color:#999;}
  .stx-uio-box select:focus {color:#333;}
  .stx-uio-box:after {display:none;}
  .stx-uio.x478 {width:478px;}
  .stx-uio.x478 select {background:transparent url('../img/event/ico_stx_arr_down.svg') no-repeat 96.95982628% 50%;background-size:8px 6px;}
  .stx-uio.x921 {width:921px;}
  .stx-uio.x921 select {background:transparent url('../img/event/ico_stx_arr_down.svg') no-repeat 96.95982628% 50%;background-size:8px 6px;}
  ul.items-list-uio li a {display:block;font-size:14px;font-weight:300;letter-spacing:-0.28px;text-align:left;color:#666;padding:8px 0;line-height:1;will-change:color;transition:color 0.2s 0s linear;}
  ul.items-list-uio li a:focus,ul.items-list-uio li a:hover {color:#2fcab0;}
  ul.items-list-uio li.on a {font-weight:500;color:#2fcab0;}
  .input__srch__box {position:relative;width:700px;height:83px;}
  .input__srch__box input[type=text] {display:block;width:700px;height:79px;background:#fff;border-bottom:4px solid #000;font-size:34px;font-weight:bold;color:#222;padding-left:15px;}
  .input__srch__box button[type=submit],.input__srch__box button.submit {position:absolute !important;display:block;width:79px;height:79px;top:0;right:0;background:transparent url('../img/event/uio_srch_btn.svg') no-repeat 31px 29px;}

  /** ---------------------------------------------------------------------------------
   * ## 버튼 UIO
   * --------------------------------------------------------------------------------- */
  .dbtn {display:inline-block;box-sizing:border-box;vertical-align:middle;object-fit:contain;-webkit-appearance:none !important;-moz-appearance:none !important;appearance:none !important;font-family:inherit;}
  .dbtn-circle-plus {width:28px;height:28px;line-height:28px;text-align:center;border-radius:14px;border:1px solid #ddd;box-sizing:border-box;}
  .dbtn-circle-plus:before {font-family:xeicon;content:'\e914';font-size:20px;position:relative;top:-1px;}
  .dbtn-circle-plus span {position:absolute;width:1px;height:1px;overflow:hidden;clip:rect(1px 1px 1px 1px);clip:rect(1px, 1px, 1px, 1px);}
  .dbtn-normal {font-size:18px;height:65px;text-align:center;font-weight:bold;color:#fff;letter-spacing:-0.9px;background-color:#2fcab0;box-shadow:0 6px 16px 0 rgba(29, 181, 156, 0.4);transition:background 0.3s linear;}
  .dbtn-normal > span {display:block;height:inherit;line-height:65px;}
  .dbtn-normal:hover {background-color:#20efcc;box-shadow:0 6px 16px 0 rgba(29, 181, 156, 0.4);}
  .dbtn-normal:hover > span {color:#fff;}
  .dbtn-small {font-size:18px;height:60px;text-align:center;font-weight:bold;font-weight:500;color:#fff;letter-spacing:-0.72px;background-color:#2fcab0;transition:background 0.3s linear;}
  .dbtn-small > span {display:block;height:inherit;line-height:60px;}
  .dbtn-small:hover {background-color:#20efcc;}
  .dbtn-small:hover > span {color:#fff;}
  .dbtn-small.shadow {box-shadow:0 6px 16px 0 rgba(29, 181, 156, 0.4);}
  .dbtn-small.shadow:hover {background-color:#20efcc;box-shadow:0 6px 16px 0 rgba(29, 181, 156, 0.4);}
  .dbtn-small.shadow:hover > span {color:#fff;}
  .dbtn-small:disabled {background-color:#ddd !important;}
  .dbtn-small54 {font-size:14px;height:54px;text-align:center;font-weight:bold;font-weight:500;color:#fff;letter-spacing:-0.72px;background-color:#2fcab0;padding-left:20px;padding-right:20px;transition:background 0.3s linear;min-width:120px;}
  .dbtn-small54 > span,.dbtn-small54 > strong {display:block;height:inherit;line-height:52px;}
  .dbtn-small54 > strong {font-weight:bold;}
  .dbtn-small54:hover {background-color:#20efcc;}
  .dbtn-small54:hover > span {color:#fff;}
  .dbtn-small54.shadow {box-shadow:0 6px 16px 0 rgba(29, 181, 156, 0.4);}
  .dbtn-small54.shadow:hover {background-color:#20efcc;box-shadow:0 6px 16px 0 rgba(29, 181, 156, 0.4);}
  .dbtn-small54.shadow:hover > span {color:#fff;}
  .dbtn-ssmall {font-size:14px;height:40px;text-align:center;font-weight:bold;font-weight:500;color:#fff;letter-spacing:-0.72px;background-color:#2fcab0;padding-left:20px;padding-right:20px;transition:background 0.3s linear;}
  .dbtn-ssmall > span {display:block;height:inherit;line-height:40px;}
  .dbtn-ssmall:hover {background-color:#20efcc;}
  .dbtn-ssmall:hover > span {color:#fff;}
  .dbtn-ssmall.shadow {box-shadow:0 6px 16px 0 rgba(29, 181, 156, 0.4);}
  .dbtn-ssmall.shadow:hover {background-color:#20efcc;box-shadow:0 6px 16px 0 rgba(29, 181, 156, 0.4);}
  .dbtn-ssmall.shadow:hover > span {color:#fff;}
  .dbtn-xs {font-size:14px;height:30px;text-align:center;font-weight:bold;font-weight:500;color:#fff;letter-spacing:-0.72px;background-color:#2fcab0;transition:background 0.3s linear;}
  .dbtn-xs > span {display:block;height:inherit;line-height:28px;}
  .dbtn-xs:hover {background-color:#20efcc;}
  .dbtn-xs:hover > span {color:#fff;}
  .dbtn-xs.shadow {box-shadow:0 6px 16px 0 rgba(29, 181, 156, 0.4);}
  .dbtn-xs.shadow:hover {background-color:#20efcc;box-shadow:0 6px 16px 0 rgba(29, 181, 156, 0.4);}
  .dbtn-xs.shadow:hover > span {color:#fff;}
  .dbtn-xss {font-size:12px;height:24px;text-align:center;  color:#fff;  background-color:#2fcab0;transition:background 0.3s linear;}
  .dbtn-xss > span {display:block;height:inherit;line-height:24px;}
  .dbtn-xss:hover {background-color:#20efcc;}
  .dbtn-xss:hover > span {color:#fff;}
  .dbtn-xss.shadow {box-shadow:0 6px 16px 0 rgba(29, 181, 156, 0.4);}
  .dbtn-xss.shadow:hover {background-color:#20efcc;box-shadow:0 6px 16px 0 rgba(29, 181, 156, 0.4);}
  .dbtn-xss.shadow:hover > span {color:#fff;}
  .dbtn.tealish {color:#fff;background-color:#2fcab0;}
  .dbtn.tealish:hover {background-color:#39efcc;}
  .dbtn.camo-green {color:#fff;background-color:#38221a;}
  .dbtn.camo-green:hover {background-color:#83240a;}
  .dbtn.dirt-brown {color:#fff;background-color:#4f342a;}
  .dbtn.dirt-brown:hover {color:#fff;background-color:#83240a;}
  .dbtn.dirt-brown:hover strong{color:#fff;}
  .dbtn.very-light-pink {color:#333;background-color:#fff;border:1px solid #ddd;}
  .dbtn.very-light-pink strong,.dbtn.very-light-pink span {color:#333;}
  .dbtn.very-light-pink strong {font-weight:bold;}
  .dbtn.very-light-pink:hover {color:#333;border-color:#000;}
  .dbtn.very-light-pink:hover strong,.dbtn.very-light-pink:hover span {color:#333;}
  .dbtn.f24 span {font-size:24px;letter-spacing:-0.96px;}
  .dbtn.b5 span {font-weight:500;}
  .dbtn.grey {background-color:#c9bab4;color:#fff;}
  .dbtn.purple {background:#6b389d;color:#fff;}
  .dbtn.purple:hover {background:#A662D8;}

  /** ----------------------------------------
  * ## BEST / NEW 라벨
  * ---------------------------------------- */
  .goods-label {font-stretch:normal;font-style:normal;text-align:center;display:inline-block;box-sizing:border-box;}
  .goods-label + .goods-label {margin-left:4px;}
  .goods-label.goods-label-sale {font-family:'Poppins', sans-serif;font-size:12px;font-weight:600;letter-spacing:1.2px;color:#fff;background-color:#62d8d4;padding-left:0px;padding-right:0px;width:68px;height:22px;line-height:22px;border-radius:2px;}
  .goods-label.goods-label-coupon {font-family:'Poppins', sans-serif;font-size:12px;font-weight:600;letter-spacing:1.2px;color:#fff;background-color:#6298d8;padding-left:0px;padding-right:0px;width:68px;height:22px;line-height:22px;border-radius:2px;}
  .goods-label.goods-label-gift {font-family:'Poppins', sans-serif;font-size:12px;font-weight:600;letter-spacing:1.2px;color:#fff;background-color:#a662d8;padding-left:0px;padding-right:0px;width:68px;height:22px;line-height:22px;border-radius:2px;}
  .goods-label.goods-label-new {font-family:'Poppins', sans-serif;font-size:12px;font-weight:600;letter-spacing:1.2px;color:#fff;background-color:#fcc63f;padding-left:0px;padding-right:0px;width:68px;height:22px;line-height:22px;border-radius:2px;}
  .goods-label.goods-label-best {font-family:'Poppins', sans-serif;font-size:12px;font-weight:600;letter-spacing:1.2px;color:#fff;background-color:#fb743b;padding-left:0px;padding-right:0px;width:68px;height:22px;line-height:22px;border-radius:2px;}

  /* ---------------------------------------------
  * ## ETC
  --------------------------------------------- */
  .goods_lists_wrap .paging_typeA.mg_b30 {margin-top:100px;}
  .detail__desc img, .evt_wrap img{vertical-align:top;}

  /* event */
  .event__wrap {padding-bottom:160px;}
  .event__wrap .column .conts hgroup {margin-bottom:0;}
  .event__wrap .tab-wrap {padding-bottom:40px;}
  .event__wrap .tab-wrap + .conts {margin-top:20px;}
  .event__wrap .tab__uio .tab {height:inherit;}
  .event__wrap .tab__uio .tab span {height:inherit;font-weight:700;font-stretch:normal;font-style:normal;padding-top:0;}
  .event__wrap .tab__uio .tab span:after {height:3px;}
  .event__wrap .tab__uio .tab.active span:after {top:auto;bottom:0;}
  .event__wrap .tab__uio + .tab__uio {margin-top:40px;}
  .event__wrap .tab__uio.tab__depth1 {height:55px;}
  .event__wrap .tab__uio.tab__depth1 .tab span {font-size:32px;line-height:1.47;letter-spacing:-2.7px;}
  .event__wrap .tab__uio.tab__depth1 .tab + .tab:before {top:10px;height:31px;}
  .event__wrap .tab__uio.tab__depth1 .tab.active span:after {width:calc(100% - (20px + 20px));margin-left:0;-webkit-transform:translateX(-50%);transform:translateX(-50%);}
  .event__wrap .tab__uio.tab__depth2 {height:27px;}
  .event__wrap .tab__uio.tab__depth2 .tab span {font-size:16px;letter-spacing:-0.8px;line-height:1.38;}
  .event__wrap .tab__uio.tab__depth2 .tab + .tab:before {height:16px;}
  .event__wrap .tab__uio.tab__depth2 .tab.active:after {top:4px;}
  .event__wrap .event-period {font-size:14px;font-weight:300;}
  .event__wrap .event-period dt {display:inline-block;letter-spacing:-0.42px;font-weight:500;}
  .event__wrap .event-period dt + .date {padding-left:6px;}
  .event__wrap .event-period dd,
  .event__wrap .event-period span,
  .event__wrap .event-period .date {display:inline-block;font-family:'Roboto', sans-serif;color:inherit;font-weight:500;}
  .event__wrap .module_action_t1 {margin-top:40px;}
  .event__wrap .shares {padding:20px;text-align:right;}
  .event-list-wrap {margin:0 auto;}
  .event__list {font-size:0;}
  .event__list .item {display:inline-block;width:406px;min-height:732px;vertical-align:top;}
  .event__list .item a:hover figure:before,
  .event__list .item a:hover figure:after {opacity:1;}
  .event__list .item figure {position:relative;width:406px;height:548px;margin-bottom:30px;}
  .event__list .item figure:before,
  .event__list .item figure:after {content:'';display:block;position:absolute;opacity:0;transition:opacity 0.3s 0s linear;}
  .event__list .item figure:before {top:0;left:0;width:100%;height:100%;background:rgba(0, 0, 0, 0.4);z-index:1;}
  .event__list .item figure:after {top:50%;left:50%;width:100px;height:100px;background-color:#60ccba;background-image:url('../img/event/ico_plus_view.svg');background-repeat:no-repeat;background-size:30px 30px;background-position:center center;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%);z-index:2;}
  .event__list .item figure img {width:100%;}
  .event__list .item figure .label {position:absolute;top:20px;left:20px;padding:0 15px;height:31px;line-height:31px;background-color:rgba(0, 0, 0, 0.2);border-radius:0;font-size:16px;}
  .event__list .item figure .label strong {color:#fff;}
  .event__list .item .event-info {padding:0 10px;}
  .event__list .item .event-tit {width:95%;font-size:24px;line-height:32px;color:#333;letter-spacing:-1.2px;text-align:left;margin-bottom:10px;}
  .event__list .item .event-period {color:#666;text-align:left;}
  .event__list .item .event-period .date {font-weight:300;}
  .event__list .item + .item {margin-left:41px;}
  .event__list .item.finished {min-height:760px;}
  .event__list .item.finished .label {display:none;}
  .event__list .item.finished .goods-label-gift {width:auto;height:23px;line-height:23px;font-family:'SourceHanSansKR';padding:0 10px;}
  .event__list .item.finished .goods-label + .event-tit {margin-top:5px;}
  .event__list .item.finished figure img {-webkit-filter:grayscale(100%) brightness(80%);filter:grayscale(100%) brightness(80%);}
  .event__list .item.finished figure:before,
  .event__list .item.finished figure:after {display:none;}
  .event__list .item.finished .event-period dt {letter-spacing:-0.7px;}
  .event__list.col3 .item:nth-of-type(3n-2) {margin-left:0;}
  .event__list .action {text-align:center;}
  .event__list .dbtn-more-plus {width:160px;height:40px;line-height:38px;border-radius:41px;border:1px solid #eaeaea;color:#333;letter-spacing:-0.7px;text-align:center;background-color: transparent;}
  .event__list .dbtn-more-plus span {line-height:40px;/*padding-left:20px;*/box-sizing:border-box;font-size: 12px}
  .event__list .dbtn-more-plus span:before {top:14px;left:52px;right:auto;}
  .event__list .dbtn-more-plus span:after {display:none;}
  .event-view-wrap {margin-bottom:60px;}
  .board__view__header {display:table;width:100%;font-size:0;border-top:1px solid #eaeaea;border-bottom:1px solid #efefef;}
  .board__view__header > div {padding:20px 30px 17px;box-sizing:border-box;}
  .board__view .event-subject {display:table-cell;width:75%;font-size:24px;font-weight:700;line-height:32px;letter-spacing:-1.2px;color:#333;vertical-align:middle;}
  .board__view .event-period {display:table-cell;text-align:right;color:#333;vertical-align:middle;}
  .board__view__desc img {width:100%;}
  .goods-list-wrap {margin-bottom:100px;}
  .goods__list {padding-bottom:40px;}
  .goods__list__base .item {margin-top:100px;}
  .goods__list__base .item + .item:nth-of-type(4n+1) {margin-left:0;}
  .goods__list__base .item:nth-child(1),
  .goods__list__base .item:nth-child(2),
  .goods__list__base .item:nth-child(3),
  .goods__list__base .item:nth-child(4) {margin-top:0;}
  .addline_bottom {border-color:#efefef;}
  .post__box {position:relative;margin-bottom:40px;}
  .post__box__write {width:1150px; position:relative;}
  .post__box__write .txt-uio {height:120px;box-sizing:border-box;}
  .post__box__write .txt-uio textarea {height:100%;}
  .post__box__write .word_miter {position:absolute;right:20px;bottom:16px;font-family:'Roboto', sans-serif;font-size:14px;line-height:28px;color:#999;letter-spacing:-0.28px;}
  .post__box .module_action {position:absolute;top:0;right:0;}
  .post__box .module_action .dbtn {height:120px;width:120px;font-size:16px;letter-spacing:-0.8px;color:#fff;font-weight:700;}
  .post__box .module_action .dbtn > span {height:auto;}
  .secret_check i.lab {font-weight:bold; background:url('/resources/assets/imgs/icon_lock.png') left center no-repeat;background-size:auto 14px;padding-left:16px;}
  .reply-wrap {margin-bottom:60px;}
  .review__box__articles__header {position:relative;font-size:0;margin-bottom:15px;}
  .review__box__articles__header .review_total {display:inline-block;font-size:14px;font-weight:300;letter-spacing:-0.28px;}
  .review__box__articles__header .review_total strong {display:inline-block;font-weight:700;font-size:inherit;color:#333;letter-spacing:-0.32px;}
  .review__box__articles__header .review_total .num {display:inline-block;font-family:'Roboto', sans-serif;font-size:16px;font-weight:500;color:#2fcab0;}
  .review__box__articles__header .review_alert {position:absolute;top:0;right:10px;font-size:14px;font-weight:300;letter-spacing:-0.28px;color:#999;padding-left:12px;}
  .review__box__articles__header .review_alert:before {content:'';display:inline-block;position:absolute;top:50%;left:0;width:3px;height:3px;border-radius:50%;background:#333;transform:translateY(-50%);}
  .review__box__articles__lists {padding-bottom:40px;}
  .review__box__articles__lists .item {position:relative;border-top:1px solid #efefef;padding-top:30px;padding-bottom:30px;padding-left:10px;padding-right:130px;background:#fff;}
  .review__box__articles__lists .item:first-child {border-top:1px solid #eaeaea;}
  .review__box__articles__lists .item:last-child {border-bottom:1px solid #efefef;}
  .review__box__articles__lists .item dt {font-size:0;margin-bottom:15px;}
  .review__box__articles__lists .item dt p {position:relative;display:inline-block;vertical-align:middle;}
  .review__box__articles__lists .item dt p.person {font-size:14px;padding:0 10px;}
  .review__box__articles__lists .item dt p.person:before {content:'';display:block;position:absolute;top:50%;left:0;width:1px;height:12px;margin-top:-6px;background:#eee;}
  .review__box__articles__lists .item dt p.person_id {font-weight:normal;font-family:$poppins;color:#333;}
  .review__box__articles__lists .item dt p.person_id:before {opacity:0;}
  .review__box__articles__lists .item dt p.person_date {font-weight:300;color:#666;}
  .review__box__articles__lists .item dt .icon.secret {margin-top:1px;}
  .review__box__articles__lists .item dd {position:relative;font-size:0;}
  .review__box__articles__lists .item dd .memo {font-size:14px;font-weight:300;font-stretch:normal;font-style:normal;line-height:24px;color:#333;padding-left:10px;overflow:hidden;}
  .review__box__articles__lists .item_blank {background:#fafafa;text-align:center;}
  .review__box__articles__lists .item_blank_delete {padding:48px 0;}
  .review__box__articles__lists .item_blank_reply {padding:68px 0;}
  .review__box__articles__lists .item_blank .reply_alert {display:inline-block;position:relative;font-size:16px;font-weight:700;line-height:22px;letter-spacing:-0.48px;color:#333;text-align:center;padding-left:12px;}
  .review__box__articles__lists .item_blank .reply_alert::before {content:'';display:inline-block;position:absolute;top:50%;left:0;width:4px;height:14px;background:url('../img/event/ico_caution.svg') no-repeat 0 0;background-size:cover;transform:translateY(-50%);}
  .review__box__articles__lists .item .module_action_t1 {position:absolute;top:30px;right:20px;margin-top:0;}
  .review__box__articles__lists .item .module_action_t1 .dbtn {width:80px;height:30px;border-radius:21px;min-width:auto;}
  .review__box__articles__lists .item .module_action_t1 .dbtn_delete {color:#333;padding:0;}
  .review__box__articles__lists .item .module_action_t1 .dbtn_delete span {position:relative;display:inline-block;font-weight:500;color:inherit;letter-spacing:-0.42px;line-height:27px;padding-left:15px;}
  .review__box__articles__lists .item .module_action_t1 .dbtn_delete span::before {content:'';position:absolute;top:50%;left:0;width:9px;height:9px;background:url('../img/event/ico_delete.svg') no-repeat 0 0;background-size:cover;margin-top:-6px;}
  .review__box__articles__lists .item.re-reply {padding-left:60px;background-color:#fafafa;position:relative;}
  .review__box__articles__lists .item.re-reply::before {content:"";position:absolute;left:40px;top:28px;width:13px;height:13px;border-width:0 0 1px 1px;border-style:solid;border-color:#000;}
  .review__box__articles__lists .item.re-reply dt p.person_id {color:#2fcab0;font-weight:bold;}
  .review__box__articles__lists .item.delete {background-color:#fafafa;padding:47px 0;text-align:center;font-size:16px;font-weight:bold;color:#333;}
  .review__box__articles__lists .item.delete .icon.ex_mark {margin-right:8px;}
  .review__box__articles ul.pagination {margin-top:20px;padding-bottom:40px;}
  .announce-winner-wrap .board__view__header {display:block;border-top-color:#ddd;border-bottom-color:#ddd;}
  .announce-winner-wrap .board__view .event-subject {display:block;width:100%;font-size:26px;letter-spacing:-0.78px;padding-bottom:19px;}
  .announce-winner-wrap .board__view .event-period {display:block;width:100%;border-top:1px solid #efefef;font-weight:500;color:#333;text-align:left;padding-top:22px;padding-bottom:22px;}
  .announce-winner-wrap .board__view .event-period li {display:inline-block;}
  .announce-winner-wrap .board__view .event-period li.win {float:right;}
  .announce-winner-wrap .board__view__desc {padding:50px 30px 60px;border-bottom:1px solid #efefef;}
  .announce-winner-wrap .board__view__desc p {font-size:14px;font-weight:400;line-height:28px;letter-spacing:-0.28px;color:#333;}
  .board__box__header {text-align:right;font-size:0;}
  .board__box__header .stx-uio {vertical-align:middle;}
  .board__box__header .stx-uio + .srch__box {margin-left:20px;}
  .board__box__header .srch__box {display:inline-block;vertical-align:middle;}
  .board__box__header .srch__box .input__srch__box {width:250px;height:36px;}

  .board__box__header .srch__box .input__srch__box input[type=text] {
    width: 100%;
    height: 36px;
    font-size: 14px;
    border-bottom-width: 2px;
    padding: 0 40px 0 5px;
    box-sizing: border-box;
    border-left: 0;
    border-right: 0;
    border-top: 0;
  }
  .board__box__header .srch__box .input__srch__box input[type=text]:focus {outline:0;}

  .board__box__header .srch__box .input__srch__box button[type=submit],
  .board__box__header .srch__box .input__srch__box button.submit {
    width: 36px;
    height: 36px;
    background-image: url('../img/event/uio_srch_btn_small.svg');
    background-position: 100% 50%;
    border: 0;
  }
  .board__box__list {margin-top:30px;}
  .board__box table.notification_db tr th,
  .board__box table.notification_db tr td {padding-top:20px;padding-bottom:20px;text-align:center;}
  .board__box table.notification_db thead tr th {font-size:14px;color:#333;letter-spacing:-0.42px;}
  .board__box table.notification_db tbody td {padding-left:0;}
  .board__box table.notification_db tbody td.title {text-align:left;padding-left:18px;padding-right:18px;}
  .board__box table.notification_db tbody td.title a {display:block;max-width:620px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
  .board__box table.notification_db tbody td.num,
  .board__box table.notification_db tbody td.period,
  .board__box table.notification_db tbody td.date {font-size:14px;font-family:'Roboto', sans-serif;}
  .board__box table.notification_db tbody td.period,
  .board__box table.notification_db tbody td.date {font-weight:300;color:#666;letter-spacing:normal;}
  .board__box ul.pagination {margin-top:60px;}
  @media all and (max-width:1599px) {
    .event__list .item {width:354px;min-height:663px;}
    .event__list .item figure {width:354px;height:478px;}
    .event__list .item + .item {margin-left:36px;}
    .event__list .item.finished {min-height:689px;}
    .goods__list {margin:0 -1px;}
    .goods__list__base .item + .item {margin-left:32px;}
    .post__box__write {position:relative;width:984px;}
    .board__box table.notification_db tbody td.title {padding-left:4px;padding-right:4px;}
  }
  .exec_sample_tails {width:1200px;margin-left:auto;margin-right:auto;margin-top:60px !important;}
  .exec_sample {width:1200px;box-shadow:10px 12px 36px 0 rgba(0, 0, 0, 0.06);border:solid 1px #efefef;background-color:#fff;margin-left:auto;margin-right:auto;padding:40px 0;text-align:center;}
  .exec_sample .sample_header {border-bottom:1px solid #efefef;padding-bottom:30px;}
  .exec_sample .sample_header h1 {font-size:32px;font-weight:bold;font-stretch:normal;font-style:normal;letter-spacing:-1.6px;text-align:center;color:#333;}
  .exec_sample .sample_header .is_guide {font-size:0;line-height:1;text-align:center;}
  .exec_sample .sample_header .is_guide p {display:inline-block;font-size:14px;font-weight:300;font-stretch:normal;font-style:normal;line-height:2;letter-spacing:-0.35px;color:#333;vertical-align:middle;}
  .exec_sample .sample_header .is_guide p.box {font-weight:bold;font-stretch:normal;font-style:normal;line-height:25px;letter-spacing:-0.35px;text-align:center;color:#fff;width:71px;height:25px;border-radius:15px;background-color:#86ddce;margin-right:10px;}
  .exec_sample .sample_container .sect {position:relative;z-index:10;width:1040px;margin-left:auto;margin-right:auto;padding:50px 0;text-align:left;}
  .exec_sample .sample_container .sect + .sect {padding-top:70px;padding-bottom:70px;border-top:1px solid #efefef;}
  .exec_sample .sample_container .sect + .sect:before {content:'';display:block;width:80px;height:80px;position:absolute;left:50%;margin-left:-40px;top:-40px;border:1px solid #efefef;border-radius:40px;box-sizing:border-box;z-index:20;background:#fff url('../img/event/ico_next_arrow_black.png') no-repeat 50%;background-size:contain;}
  .exec_sample .sample_container .sect-1:after {content:'';width:167px;height:136px;position:absolute;display:block;background:url('../img/event/img_sect_sample1@2x.png') no-repeat 0 0;background-size:contain;right:92px;top:50%;margin-top:-68px;}
  .exec_sample .sample_container .sect-2:after {content:'';width:126.2px;height:159.2px;position:absolute;display:block;background:url('../img/event/img_sect_sample2@2x.png') no-repeat 0 0;background-size:contain;right:113px;top:50%;margin-top:-80px;}
  .exec_sample .sample_container .sect-3 {padding-bottom:60px;}
  .exec_sample .sample_container .sect-3:after {content:'';width:156px;height:136.8px;position:absolute;display:block;background:url('../img/event/img_sect_sample3@2x.png') no-repeat 0 0;background-size:contain;right:94px;top:50%;margin-top:-68.4px;}
  .exec_sample .sample_container .sect h2 {font-size:18px;font-weight:bold;font-stretch:normal;font-style:normal;letter-spacing:normal;text-align:left;color:#35ceb3;text-decoration:underline;margin-bottom:16px;}
  .exec_sample .sample_container .sect .actions {font-size:0;}
  .exec_sample .sample_container .sect .actions .dbtn + .dbtn {margin-left:10px;}
  .exec_sample .sample_container .sect p {font-size:24px;font-weight:500;font-stretch:normal;font-style:normal;line-height:36px;letter-spacing:-0.6px;text-align:left;color:#333;}
  .exec_sample .sample_container .sect p .eng {font-family:$poppins;}
  @media all and (max-width:1599px) {
    .event__wrap {padding-bottom:230px;}
  }
}
