/*
|--------------------------------------------------------------------|
 v.0.1 주연 : 최초 작업 -- 2022.02.11
|--------------------------------------------------------------------|
*/
/* 메인 컨텐츠 */
.main-wrap {
  /* 공통 */
  .btn-wrap {
    width: 100%;
    text-align: left;

    .btn-main {
      display: inline-block;
      justify-content: center;
      align-items: center;
      padding: 0 40px;
      height: 62px;
      line-height: 62px;
      background: #287eff;
      border-radius: vw(100);
      font-weight: bold;
      font-size: 18px;
      color: #ffffff;
      letter-spacing: 0;

      .ico-arrow {
        @include background-img($width: 20, $height: 20, $category: 'main', $img: 'ico-arrow.svg');
        margin-left: 8px;
        transform: translateY(vw(-2));

        &.ico-arrow-black {
          background-image: url(../img/main/ico-arrow-black.svg);
        }
      }
    }
  }

  .inner {
    position: relative;
    max-width: 1242px;
    min-width: 1242px;
    margin: 0 auto;
  }

  /* banner */
  .banner {
    position: relative;
    width: 100%;
    height: 630px;

    .swiper-banner {
      .swiper-slide {
        width: 100%;
        height: 630px;
        background-size: cover;
        background-position: center;

        > a {
          display: flex;
          align-items: center;
          width: 100%;
          height: 100%;
        }

        .text-box {
          .title-sm {
            font-size: 16px;
            line-height: 24px;
            color: $gray-800;
            margin-bottom: 12px;
          }

          .title {
            font-weight: bold;
            font-size: 56px;
            line-height: 70px;
            letter-spacing: -0.01em;
            color: $gray-800;
            margin-bottom: 24px;
          }

          .tag {
            font-size: 18px;
            line-height: 28px;
            color: $gray-700;
          }
        }
      }
    }

    .pagination-wrap {
      position: absolute;
      width: 100%;
      height: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: 40px;
      left: 0;
      z-index: 2;

      .swiper-pagination-bullets {
        display: flex;
        align-items: center;

        .swiper-pagination-bullet {
          width: 8px;
          height: 8px;
          background: #2FCAB0;
          opacity: 0.3;

          + .swiper-pagination-bullet {
            margin-left: 12px;
          }

          &.swiper-pagination-bullet-active {
            opacity: 1;
          }
        }
      }

      .btn-play-stop {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 25px;
        width: 8px;

        &.play {
          .ico-pause {
            @include background-img($width: 8, $height: 12, $category: 'main', $img: 'ico-play.svg');
          }
        }

        &::before {
          content: '';
          position: absolute;
          left: -12px;
          top: 50%;
          transform: translateY(-50%);
          width: 1px;
          height: 12px;
          background-color: $gray-900;
          opacity: 0.2;
        }

        .ico-pause {
          @include background-img($width: 7, $height: 12, $category: 'main', $img: 'ico-pause.svg');
        }
      }
    }
  }

  /* visual */
  .visual {
    position: relative;
    width: 100%;
    height: 827px;
    background-color: $primary;
    overflow: hidden;

    .inner {
      height: 100%;
    }

    .editor-area {
      position: absolute;
      width: 360px;
      height: 360px;
      right: 84px;
      transform: translateY(-50%);
      top: 50%;

      &::after {
        content: '';
        position: absolute;
        @include background-img ($width: 372, $height: 372, $category: 'main', $img: 'bg-camera-frame.svg');
        left: -6px;
        top: -6px;
      }

      .img {
        position: absolute;
        width: 360px;
        height: 360px;
        bottom: 0;
        left: 0;
        overflow: hidden;
        background-color: #3DD7BD;
        border-radius: vw(16);

        img {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
        }
      }
    }

    .heading-area {
      padding-top: 278px;

      .heading {
        font-weight: bold;
        font-size: 52px;
        line-height: 70px;
        letter-spacing: -0.01em;
        color: #fff;
        margin-bottom: 15px;
      }

      .heading-sub {
        //font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: -0.005em;
        color: #ffffff;
        margin-bottom: 60px;
      }

      .btn-wrap {
        justify-content: flex-start;
      }
    }

    .chatbot-area {
      position: absolute;
      width: 100%;
      height: calc(100vh - #{vw(80)} - #{vw(60)} - #{vw(97)});
      top: vw(60);

      .btn-chatbot {
        bottom: 0;
      }
    }
  }

  /* 성분분석 */
  .analysis {
    padding: 252px 0 43px;
    width: 100%;
    background: linear-gradient(to right, #e6f9ff 660px, #ffffff 660px calc(100% - 660px));

    .inner {
      position: relative;
      display: flex;
      justify-content: flex-end;
      //overflow: hidden;
      height: 560px;
    }

    .heading-area {
      width: 50%;
      padding-left: 80px;

      .heading {
        font-weight: bold;
        font-size: 52px;
        line-height: 70px;
        letter-spacing: -0.01em;
        color: #222540;
        margin-bottom: 28px;
      }

      .heading-sub {
        //font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        color: $gray-800;
        margin-bottom: 58px;
      }

      .btn-wrap {
        justify-content: flex-start;
        margin-bottom: vw(60);

        .btn-main {
          background-color: #00d4d4;
        }
      }
    }

    .animation-box {
      position: absolute;
      width: auto;
      height: 560px;
      left: -146px;
      top: -107px;

      .ani {
        height: 100%;
      }
    }

    .animation-desc {
      display: flex;
      justify-content: center;
      align-items: center;
      height: vw(44);
      font-size: vw(15);
      line-height: vw(22);
      letter-spacing: -0.005em;
      color: $gray-800;
    }
  }

  /* 스킨멘토링 */
  .mentoring {
    padding: 235px 0 230px;
    height: 827px;
    background-color: #34a6f9;
    overflow: hidden;

    .inner {
      position: relative;
      //display: flex;
    }

    .heading-area {
      width: 50%;

      .heading {
        font-weight: bold;
        font-size: 52px;
        line-height: 70px;
        letter-spacing: -0.01em;
        margin-bottom: 30px;
        color: #fff;

        .color-yellow {
          color: #FFE444;
        }
      }

      .heading-sub {
        //font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        color: #fff;
        margin-bottom: 60px;
      }

      .btn-wrap {
        justify-content: flex-start;

        .btn-main {
          background-color: #0561eb;
        }
      }
    }

    .animation-box {
      position: absolute;
      left: 640px;
      top: -54px;
      width: 800px;

      .ani {
        width: 100%;
      }
    }
  }

  /* 고객제안 */
  .customer-suggestion {
    position: relative;
    width: 100%;
    height: 884px;

    .suggestion-wrap {
      position: relative;
      width: 100%;
      height: 100%;

      .bg-gradient {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }

      .back {
        position: absolute;
        width: 460px;
        height: 228px;
        top: 330px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;

        .smile-motif {
          position: absolute;
          width: 460px;
          height: auto;
        }
      }

      .front {
        position: absolute;
        width: 770px;
        height: 176px;
        z-index: 3;
        bottom: 120px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;

        .text-box {
          margin-bottom: 30px;

          .p-title {
            font-weight: bold;
            font-size: 32px;
            line-height: 44px;
            letter-spacing: -0.01em;
            margin-bottom: 12px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          .p-name {
            font-size: 18px;
            line-height: 28px;
            text-align: center;
            color: $gray-700;
          }
        }

        .btn-wrap {
          justify-content: center;

          .btn-main {
            display: flex;
            white-space: nowrap;
            justify-content: center;
            align-items: center;

            svg {
              margin-left: 8px;
            }
          }
        }

        .nav-box {
          position: absolute;
          width: 100%;
          top: 10px;
          left: 0;

          .btn-nav {
            position: absolute;
            top: 0;

            &.left {
              left: -34px;

              .ico-arrow-prev {
                @include background-img($width: 24, $height: 24, $category: 'main', $img: 'nav-prev.svg');
              }
            }

            &.right {
              right: -34px;

              .ico-arrow-next {
                @include background-img($width: 24, $height: 24, $category: 'main', $img: 'nav-next.svg');
              }
            }
          }
        }
      }

      .suggestion-slider {
        position: relative;
        z-index: 2;
        background-color: transparent;

        .swiper-wrapper {
          margin-top: 169px;

          .swiper-slide {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 212px;
            height: 450px;
            background-color: transparent;
            padding: 0;
            overflow: visible;

            .img-box {
              position: static;
              transform: none;
              opacity: .4;
              transition: none;
              transform-origin: center 269px;

              .img {
                width: 212px;
                height: 270px;

                img {
                  width: 100%;
                }
              }
            }

            &.swiper-slide-active {
              .img-box {
                animation-duration: 1s;
                animation-name: slidein;
                animation-fill-mode: both;
              }
            }
          }
        }
      }
    }
  }
  @keyframes slidein {
    from {
      margin-left: 200px;
      opacity: 0.4;
      transform: scale(1.5);
    }

    to {
      margin-left: 0;
      opacity: 1;
      transform: scale(1.5);
    }
  }
  /* 스토리 */
  .story {
    .story-heading-img-wrap {
      display: flex;
      overflow: hidden;
    }

    .story-heading-img {
      width: 50%;
      height: 580px;

      .flag {
        width: 621px;
        height: 240px;
        left: auto;
        right: 0;
        border-radius: 30px 0 0 0;
        margin: 0;

        .smile {
          width: 56px;
          height: 28px;
          bottom: 172px;
          right: 40px;
        }
      }

      .flag-content {
        position: absolute;
        width: 621px;
        right: 0;
        bottom: 0;
        padding-top: 0;

        .flag-inner {
          min-width: auto;
          height: 240px;
          padding-left: 60px;
          justify-content: flex-start;
          padding-top: 40px;
        }

        .category {
          font-size: 18px;
          line-height: 28px;
          margin-bottom: 8px;
        }

        .title {
          font-weight: 500;
        }

        .tag {
          font-size: 18px;
          line-height: 28px;
          font-weight: 400;
        }
      }
    }

    .btn-wrap {
      text-align: center;
      margin-top: 60px;
      margin-bottom: 120px;

      .btn-main {
        background-color: #eee;
        color: $gray-800;
      }
    }
  }

  /* 제안 */
  .suggestion {
    margin-bottom: 240px;

    .inner {
      overflow: hidden;
    }

    .heading {
      display: flex;
      align-items: center;
      margin-bottom: 50px;

      .ico-bulb {
        @include background-img($width: 25, $height: 37, $category: 'main', $img: 'ico-bulb.svg');
        margin-right: 11px;
      }

      span {
        font-weight: bold;
        font-size: 32px;
        line-height: 44px;
        letter-spacing: -0.01em;
      }
    }

    .list {
      &::after {
        content: '';
        display: block;
        clear: both;
      }

      .item {
        float: left;
        width: 288px;
        height: 264px;
        border-radius: 20px;
        padding: 40px 40px 0;
        margin-right: 30px;

        a {
          display: block;

          &:hover {
            color: $gray-900;
          }
        }

        .title {
          display: block;
          font-weight: bold;
          font-size: 20px;
          line-height: 30px;
          color: $gray-900;
        }

        .img {
          display: block;
          width: 100%;
          text-align: right;

          img {
            display: inline-block;
          }
        }

        &:nth-child(1) {
          background-color: #3bbea8;

          .title {
            margin-bottom: 31px;
          }

          .img {
            img {
              width: 99px;
            }
          }
        }

        &:nth-child(2) {
          background-color: #fadb50;

          .title {
            margin-bottom: 44px;
          }

          .img {
            img {
              width: 108px;
            }
          }
        }

        &:nth-child(3) {
          background-color: #838ef6;

          .title {
            margin-bottom: 20px;
          }

          .img {
            img {
              width: 123px;
            }
          }
        }

        &:nth-child(4) {
          background-color: #54b9f1;
          margin-right: 0;

          .title {
            margin-bottom: 26px;
          }

          .img {
            img {
              width: 104px;
            }
          }
        }
      }
    }
  }

  /* 최하단 버튼 */
  .float-bottom {
    .more-box {
      &::before {
        content: none;
      }
    }
  }
}

@media (max-width: 1242px) {
  .main-wrap .mentoring .inner {
    overflow: hidden;
  }
}
