/*
|--------------------------------------------------------------------|
 v.0.1 주연 : 최초 작업 -- 2022.02.11
|--------------------------------------------------------------------|
*/
/* 메인 컨텐츠 */
.main-wrap {
  /* 공통 */
  .btn-wrap {
    width: 100%;
    text-align: left;

    .btn-main {
      display: inline-block;
      justify-content: center;
      align-items: center;
      padding: 0 40px;
      height: 62px;
      line-height: 62px;
      background: #287eff;
      border-radius: vw(100);
      font-weight: bold;
      font-size: 18px;
      color: #ffffff;
      letter-spacing: 0;

      .ico-arrow {
        @include background-img($width: 20, $height: 20, $category: 'main', $img: 'ico-arrow.svg');
        margin-left: 8px;
        transform: translateY(vw(-2));

        &.ico-arrow-black {
          background-image: url(../img/main/ico-arrow-black.svg);
        }
      }
    }
  }

  .inner {
    position: relative;
    max-width: 1242px;
    min-width: 1242px;
    margin: 0 auto;
  }

  /* visual */
  .visual {
    position: relative;
    width: 100%;
    height: 538px;
    background-color: $primary;
    overflow: hidden;

    .editor-area {
      position: absolute;
      width: 977px;
      left: 411px;
      top: 42px;

      img {
        width: 100%;
      }
    }

    .heading-area {
      padding-top: 149px;

      .heading {
        font-weight: bold;
        font-size: 52px;
        line-height: 70px;
        letter-spacing: -0.01em;
        color: #fff;
        margin-bottom: 15px;
      }

      .heading-sub {
        //font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: -0.005em;
        color: #ffffff;
        margin-bottom: 60px;
      }

      .btn-wrap {
        justify-content: flex-start;
      }
    }

    .chatbot-area {
      position: absolute;
      width: 100%;
      height: calc(100vh - #{vw(80)} - #{vw(60)} - #{vw(97)});
      top: vw(60);

      .btn-chatbot {
        bottom: 0;
      }
    }
  }

  /* 성분분석 */
  .analysis {
    padding: 252px 0;
    width: 100%;
    background: linear-gradient(to right, #E6F9FF 660px, #ffffff 660px calc(100% - 660px));

    .inner {
      display: flex;
      justify-content: flex-end;
    }

    .heading-area {
      width: 50%;
      padding-left: 80px;

      .heading {
        font-weight: bold;
        font-size: 52px;
        line-height: 70px;
        letter-spacing: -0.01em;
        color: #222540;
        margin-bottom: 30px;
      }

      .heading-sub {
        //font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        color: $gray-800;
        margin-bottom: 60px;
      }

      .btn-wrap {
        justify-content: flex-start;
        margin-bottom: vw(60);

        .btn-main {
          background-color: #00d4d4;
        }
      }
    }

    .animation-box {
      width: 50%;
      padding-right: 80px;

      img {
        width: vw(262);
      }
    }

    .animation-desc {
      display: flex;
      justify-content: center;
      align-items: center;
      height: vw(44);
      font-size: vw(15);
      line-height: vw(22);
      letter-spacing: -0.005em;
      color: $gray-800;
    }
  }

  /* 스킨멘토링 */
  .mentoring {
    padding: 235px 0 230px;
    height: 827px;
    background-color: #34A6F9;

    .inner {
      display: flex;
    }

    .heading-area {
      width: 50%;

      .heading {
        font-weight: bold;
        font-size: 52px;
        line-height: 70px;
        letter-spacing: -0.01em;
        margin-bottom: 30px;
        color: #fff;
      }

      .heading-sub {
        //font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        color: #fff;
        margin-bottom: 60px;
      }

      .btn-wrap {
        justify-content: flex-start;

        .btn-main {
          background-color: #0561eb;
        }
      }
    }

    .animation-box {
      display: flex;
      align-content: center;
      width: 50%;
      text-align: right;

      .ani {
        display: flex;
        align-content: center;

        svg {
          width: vw(792);
        }
      }
    }
  }

  /* 고객제안 */
  .customer-suggestion {
    width: 100%;
    height: vw(698);

    .suggestion-wrap {
      .suggestion-slider {
        background-color: #fff;

        .swiper-pagination {
          top: vw(76);
          bottom: auto;

          .swiper-pagination-bullet {
            position: relative;
            background-color: transparent;
            width: auto;
            height: auto;
            font-family: $poppins-semiBold;
            font-style: normal;
            font-weight: 600;
            font-size: vw(15);
            line-height: vw(22);
            letter-spacing: -0.005em;
            color: rgba(34, 34, 34, .3);
            opacity: 1;
            margin: 0;

            + .swiper-pagination-bullet {
              margin: 0 0 0 vw(17);

              &::before {
                content: '';
                position: absolute;
                width: vw(1);
                height: vw(12);
                background-color: $gray-500;
                left: vw(-9);
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
        }

        .swiper-wrapper {
          .swiper-slide {
            width: vw(375);
            height: vw(698);
            background-color: #fff;
            padding: 0;

            .img-box {
              .img {
                width: vw(212);
                height: vw(270);
              }
            }

            .bg-gradient {
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: vw(698);
            }

            .smile-motif {
              width: vw(319);
              height: vw(196);
              top: vw(288);
            }

            .btn-wrap {
              position: absolute;
              bottom: vw(76);
              right: vw(24);
              width: auto;
              transform: translateX(vw(140));
              transition: .5s;
              transition-delay: .5s;
            }

            .text-box {
              position: absolute;
              width: vw(220);
              top: vw(532);
              left: vw(26);

              .p-title {
                font-weight: bold;
                font-size: vw(26);
                line-height: vw(32);
                letter-spacing: vw(-2);
                color: $gray-900;
                margin-bottom: vw(8);
              }

              .p-name {
                font-size: vw(13);
                line-height: vw(18);
                letter-spacing: -0.005em;
                color: $gray-700;
              }
            }

            .img-box {
            }

            &.swiper-slide-active {
              .btn-wrap {
                transform: translateX(0);
              }
            }
          }
        }
      }
    }
  }

  /* 스토리 */
  .story {
    .story-heading-img-wrap {
      display: flex;
      overflow: hidden;
    }

    .story-heading-img {
      width: 50%;
      height: 666px;

      .flag {
        width: 621px;
        left: auto;
        right: 0;
        border-radius: 50px 0 0 0;
        margin: 0;
      }

      .flag-content {
        position: absolute;
        width: 621px;
        right: 0;
        bottom: 0;


        .flag-inner {
          min-width: auto;
          padding-left: 60px;
        }
      }
    }

    .btn-wrap {
      text-align: center;
      margin-top: vw(32);
      margin-bottom: vw(76);

      .btn-main {
        background-color: #eee;
        color: $gray-800;
      }
    }
  }

  /* 제안 */
  .suggestion {
    margin-bottom: 240px;

    .heading {
      display: flex;
      align-items: center;
      margin-bottom: 50px;

      .ico-bulb {
        @include background-img($width: 25, $height: 37, $category: 'main', $img: 'ico-bulb.svg');
        margin-right: 11px;
      }

      span {
        font-weight: bold;
        font-size: 32px;
        line-height: 44px;
        letter-spacing: -0.01em;
      }
    }

    .suggestion-list {
    }

    .list {
      &::after {
        content: '';
        display: block;
        clear: both;
      }

      .item {
        float: left;
        width: 288px;
        height: 264px;
        border-radius: 20px;
        padding: 40px 40px 0;
        margin-right: 30px;

        .title {
          display: block;
          font-weight: bold;
          font-size: 20px;
          line-height: 30px;
        }

        .img {
          display: block;
          width: 100%;
          text-align: right;

          img {
            display: inline-block;
          }
        }

        &:nth-child(1) {
          background-color: #3bbea8;

          .title {
            margin-bottom: 31px;
          }

          .img {
            img {
              width: 99px;
            }
          }
        }

        &:nth-child(2) {
          background-color: #fadb50;

          .title {
            margin-bottom: 44px;
          }

          .img {
            img {
              width: 108px;
            }
          }
        }

        &:nth-child(3) {
          background-color: #838ef6;

          .title {
            margin-bottom: 20px;
          }

          .img {
            img {
              width: 123px;
            }
          }
        }

        &:nth-child(4) {
          background-color: #54b9f1;

          .title {
            margin-bottom: 26px;
          }

          .img {
            img {
              width: 104px;
            }
          }
        }
      }
    }
  }

  /* 최하단 버튼 */
  .float-bottom {
    .more-box {
      &::before {
        content: none;
      }
    }
  }
}
