.mentoring-wrap {
  .content{
    position: relative;
    &.bg-gray, &.bg-white{
      padding: 80px 0 240px;
    }
  }
  .bg-gray{
    padding: 80px 0 120px;
  }
  .inner{
      position: relative;
      max-width: 1242px;
      min-width: 1242px;
      margin: 0 auto;
  }

  /*step*/
  .step-heading {
    background-color: beige;
    width: 616px;
    margin: 0 auto 60px;
    font-size: 0;
    z-index: 20;

/*    + .area-desc {
      padding: vw(48) vw(24) 0;
    }

    &.scroll-up {
      position: fixed;
      top: vw(0);

      + .area-desc {
        padding: vw(187) vw(24) 0;
      }
    }

    &.scroll-down {
      position: fixed;
      top: vw(60);

      + .area-desc {
        padding: vw(187) vw(24) 0;
      }
    }*/

    .step {
      display: inline-block;
      position: relative;
      text-align: center;
      vertical-align: middle;
      padding: 0;

      &:before {
        content: '...';
        display: inline-block;
        color: $gray-400;
        font-size: 30px;
        position: absolute;
        letter-spacing: 1.5px;
        right: -15px;
        top: 40px;
      }

      .tit {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: $gray-600;
        display: block;
        margin-bottom: 12px;

      }
      .icon {
        width: 76px;
        height: 76px;
      }

      &:nth-of-type(1) {
        .icon {
          background: url("../img/mentoring/ico-step1.svg") no-repeat center center / 100% 100%;
        }
      }

      &:nth-of-type(2) {
        .icon {
          background: url("../img/mentoring/ico-step2.svg") no-repeat center center / 100% 100%;
        }
      }

      &:nth-of-type(3) {
        .icon {
          background: url("../img/mentoring/ico-step3.svg") no-repeat center center / 100% 100%;
        }
      }

      &:nth-of-type(4) {
        .icon {
          background: url("../img/mentoring/ico-step4.svg") no-repeat center center / 100% 100%;
        }

        &:before {
          display: none;
        }
      }

      .smile-graph {
        display: none;
        margin: 0 auto;
        padding: 0;
        list-style-type: none;
        overflow: hidden;
        position: relative;
        width: 76px;
        height: 38px;

        &::before { /*배경*/
          position: absolute;
          content: '';
          width: inherit;
          height: inherit;
          border: 11.8px solid #e9f7ff;
          border-top: none;
          border-bottom-left-radius: 38px;
          border-bottom-right-radius: 38px;
          top: 0;
          left: 0;
        }

        li { /*li기준점*/
          position: absolute;
          top: 0;
          left: 0;
          border:  11.8px solid;
          width: inherit;
          height: inherit;
          border-top: none;
          border-bottom-left-radius: 38px;
          border-bottom-right-radius: 38px;
          transform-origin: 50% 0;

          &.value { /*실제 그래프*/
            z-index: 1;
            border-color: $blue;
            transform: rotateZ(-360deg);
            animation: chartAni4 1s;
          }
        }

        /*    &.full{
              .value{
                z-index: 1;
                border-color: $blue;
                transform:rotateZ(0deg);
                animation:unset;
              }
            }*/
      }

      @keyframes chartAni4 {
        0% {
          transform: rotateZ(-180deg);
        }
      }

      &.active {
        .tit {
          font-weight: 700;
          color: $gray-900;
          margin-bottom: 50px;
        }

        .icon {
          width: 52px;
          height: 52px;
          position: absolute;
          bottom: 13px;
          left: 50%;
          transform: translateX(-50%);
        }

        &:nth-of-type(1) {
          .icon {
            background: url("../img/mentoring/ico-step1-active.svg") no-repeat center center / 100% 100%;
          }
        }

        &:nth-of-type(2) {
          .icon {
            background: url("../img/mentoring/ico-step2-active.svg") no-repeat center center / 100% 100%;
          }
        }

        &:nth-of-type(3) {
          .icon {
            background: url("../img/mentoring/ico-step3-active.svg") no-repeat center center / 100% 100%;
          }
        }

        &:nth-of-type(4) {
          .icon {
            background: url("../img/mentoring/ico-step4-active.svg") no-repeat center center / 100% 100%;
          }
        }

        .smile-graph {
          display: block
        }
      }
    }

  }

  /*step1,2 질문 title 영역*/
  .guidance {
    margin-bottom: 60px;

    .sub-desc {
      padding-top: 12px;
      color: $gray-600;
      letter-spacing: -0.005em;
    }
  }

  /*step1,2  질문 영역*/
  .asking {
    .box {
      .font-h6 {
        color: $gray-800;
        display: inline-block;
        width: 230px;
        line-height: 60px;
        vertical-align: top;
      }

      .input-area {
        width: calc(100% - 242px);
        margin-bottom: 48px;
        display: inline-block;
      }

      &:last-of-type {
        .input-area {
          margin-bottom: 60px;
        }
      }

      .badge-box {
        .badge {
          margin-right: 12px;
          margin-bottom: 20px;
          background-color: $gray-300;
          color: $gray-800;
          cursor: pointer;

          &.active {
            background-color: $yellow;
            font-weight: bold;
          }
        }
      }

      > textarea {
        margin-bottom: 20px;
      }
    }

    .input-box {
      margin-bottom: 60px;

      > .custom-checkbox {
        display: block;
      }
    }

    .question-box {
      .habit {
        li {
          background-color: $gray-fff;
          border-radius: 16px;
          font-size: 20px;
          color: $gray-800;
          font-weight: 700;
          padding: 30px 60px;
          margin-bottom: 24px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          &:last-of-type {
            margin-bottom: 60px
          }

          > p {
            display: inline-block;

            .num {
              color: $gray-600;
              margin-right: vw(4);
            }
          }

          > div {
            display: inline-block;
            text-align: right;

            .btn {
              width: 160px;
              background-color: transparent;
              border: 1px solid #dddddd;
              color: $gray-500;
              font-weight: 500;
              padding: 0;
              margin-right: vw(8);

              &:last-of-type {
                margin-right: 0;
              }

              &:active {
                background-color: transparent !important;
              }

              &.active {
                background-color: $blue !important;
                color: $gray-fff;
                border: unset;
                font-weight: 700;
              }
            }
          }

        }
      }
    }


    .font_right {
      text-align: right;
      padding-top: vw(20);
      font-weight: bold;
      font-size: vw(18);
      color: $gray-800;
    }

  }

  /*step3 읽어주세요*/
  .terms {
    .title {
      font-weight: bold;
      background-color: $gray-fff;
      margin-bottom: 12px;
    }
    .list-with-dot {
      margin-bottom: 8px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  /*step4*/
  .complete {
    width: 450px;
    margin: 0 auto;
    color: $gray-800;
    .img-box{
      position: relative;
      margin-bottom: 30px;
      .img{
        display: inline-block;
        img{
          width: 100%;
          height: auto;
        }

        &.mentor-img{
          width: 120px;
          height: 140px;
        }
        &.bubble-img{
          position: absolute;
          right: 120px;
          top: 9px;
          width: 64px;
          height: 56px;
          z-index: 1;
        }
        &.shadow-img{
          position: absolute;
          right: 120px;
          top: 14px;
          width: 63.4px;
          height: 54.3px;
        }
      }
      .dot {
        position: absolute;
        right:135px;
        top: 22px;
        z-index: 2;

        span {
          display: inline-block;
          background-color: $gray-800;
          width: 6px;
          height: 6px;
          border-radius: 3px;
          margin-right: 7px;

          &:nth-of-type(1) {
            animation: dot 1s infinite;
          }

          &:nth-of-type(2) {
            animation: dot 1s 0.3s infinite;
          }

          &:nth-of-type(3) {
            animation: dot 1s 0.5s infinite;
            margin-right: 0;
          }

          // Keyframes
          @keyframes dot {
            0% {
              transform: translateY(0)
            }
            50% {
              transform: translateY(-5px)
            }
            100% {
              transform: translateY(0)
            }
          }

        }
      }
    }

    .font-h5{
      margin-bottom: 12px;
    }

    .font-body-1 {
      color: $gray-800;
      margin-bottom: 8px;
    }

    .font-body-2 {
      color: $gray-600;
      margin-bottom: 40px;
    }
  }
  .etc_service {
    padding: 0 150px;
    .shortcuts {
      padding-top: 30px;

      a {
        font-weight: bold;
        line-height: 1;
        padding:30px 40px 30px 88px;
        width: calc(50% - 15px);
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 16px;
        color: $gray-850;

        span {
          vertical-align: middle;
          margin-right: vw(3);
        }

        &.ingredient {
          margin-right: 26px;
          background: #DFE2FF url("../img/mentoring/img-ingredient.svg") no-repeat center left 40px;
          background-size: 36px 36px;
        }

        &.inside {
          background: #d5f4ef url("../img/mentoring/img-inside.svg") no-repeat center left 40px;
          background-size: 36px 36px;
        }
      }
    }
  }





  .section-color {
    padding: vw(80) vw(0) vw(132);
    margin-bottom: vw(80);
    position: relative;

    &.bg-blue {
      background-color: $blue;
    }

    .font-h1, .font-h3 {
      color: $gray-fff;
      padding: 0 vw(24);
    }

    .floating-box {
      position: absolute;
      bottom: vw(-32);
      margin: 0 vw(24);

      .item {
        background-color: $gray-fff;
        box-shadow: 0 vw(4) vw(12) rgba(34, 34, 34, 0.08);
        border-radius: vw(16);
        padding: vw(20);

        .badge {
          margin-bottom: vw(3.5);
        }

        .question {
          font-size: vw(15);
          line-height: vw(22);
          color: $gray-800;
          margin-bottom: vw(5);
        }

        .date {
          font-size: vw(13);
          line-height: vw(18);
          color: $gray-600;
          font-family: Poppins , sans-serif;
        }
      }
    }
  }

  .section-tab {
      position: relative;
      z-index: 10;
      width:100%;
      background: $gray-fff;
      overflow-x: scroll;
      border-bottom: 1px solid #eeeeee;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar{
        display: none;
        width: 0;
        height: 0;
        background: transparent;
        -webkit-appearance: none;
      }

    &.fixed{
      position:fixed;
      top:16vw;
      &.top_0{
        top:0
      }
    }
    .font-h4 {
      padding: 0 vw(24);
      margin-bottom: vw(16);
    }

    .tab {
      overflow:unset;
      border-bottom: none;
      z-index: 5;
      .item {
        &.active {
          a {
            color: $blue;
            &:after {
              background-color: $blue;
            }
          }
        }
      }

      /*스킨멘토링내역 목록- tab 예외*/
      &._question-tab{
        position: relative;
        top: unset;
        &.tab-fixed{
          position:fixed;
          top:16vw;
          &.top_0{
            top: 0;
          }
        }
      }
    }
    .tab-content {
      background-color: $gray-200;
      border-top: $gray-300;
      padding: vw(50) vw(24) vw(76);

      .total {
        font-size: vw(13);
        line-height: vw(18);
        color: $gray-700;
        font-weight: 500;
        text-align: right;
        margin-bottom: vw(17);

        .answer {
          display: inline-block;

          &.waiting {
            padding-right: vw(8);
            position: relative;

            .num {
              font-weight: 600;
              color: $blue;
            }

            &:after {
              content: '';
              clear: both;
              display: inline-block;
              width: vw(1);
              height: vw(10);
              background-color: $gray-400;
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
            }
          }

          &.complete {
            padding-left: vw(8);

            .num {
              font-weight: 600;
              color: $gray-900;
            }
          }
        }
      }

      .answer-list {
        .item {
          background-color: $gray-fff;
          border-radius: vw(16);
          padding: vw(20);
          margin-bottom: vw(16);

          &:last-of-type {
            margin-bottom: vw(48);
          }

          .badge {
            margin-bottom: vw(3.5);
          }

          .question {
            font-size: vw(15);
            line-height: vw(22);
            color: $gray-800;
            margin-bottom: vw(5);
          }

          .date {
            font-size: vw(13);
            line-height: vw(18);
            color: $gray-600;
            font-family: Poppins, sans-serif;
          }
        }
      }
    }
  }




  .solution-details {
    .section-color {
      padding: vw(48) vw(0) vw(94);
      margin-bottom: vw(64);
      background: $blue url("../img/mentoring/bg-round.svg") no-repeat;
      background-size: vw(375) vw(208);

      &:after {
        content: '';
        display: inline-block;
        background: url("../img/mentoring/img-mentor2.svg") no-repeat;
        width: vw(134);
        height: vw(206);
        background-size: 100% auto;
        position: absolute;
        right: vw(36);
        bottom: vw(-14);
      }

      .floating-box {
        z-index: 1;
        width: calc(100% - #{vw(48)});

        p {
          color: $gray-800;
          font-weight: 500;
          font-size: vw(15);
        }
      }
    }

    .answer {
      margin: 0 vw(24) vw(32);

      > li {
        line-height: vw(24);
        margin-bottom: vw(32);

        &:last-of-type {
          margin-bottom: 0;
        }

        .title {
          margin-bottom: vw(12);
          letter-spacing: -0.02em;
        }

        .desc {
          color: $gray-700;
        }
      }
    }

    .step-box {
      > .title {
        margin-bottom: vw(20);
        padding: 0 vw(24);
      }

      .step {
        > p {
          padding: vw(12) vw(24);
          color: $gray-fff;
          font-size: vw(16);

          span {
            &.num {
              text-transform: uppercase;
              padding-right: vw(12);
              position: relative;
              font-family: Poppins, sans-serif;

              &:after {
                content: '';
                display: inline-block;
                width: vw(1);
                height: vw(14);
                background-color: $gray-fff;
                position: absolute;
                right: vw(6);
                top: vw(1.5);
                opacity: 0.3;
              }
            }
          }
        }

        > .box {
          background-color: $gray-200;
          padding: vw(20) vw(24) vw(48);

          .area {
            letter-spacing: -0.02em;
            margin-bottom: vw(24);
            color: $gray-700;
          }

          .list {
            white-space: nowrap;
            overflow-x: scroll;
            font-size: 0;
            margin: 0 vw(-24) vw(24);
            &::-webkit-scrollbar {
              display: none;
            }

            .item {
              margin-right: vw(16);
              display: inline-block;
              vertical-align: top;

              a {
                display: block;
                width: vw(120);

                .img {
                  width: vw(120);
                  height: vw(120);
                  display: inline-block;
                  margin-bottom: vw(16);

                  img {
                    width: 100%;
                    height: 100%;
                  }
                }

                .name {
                  width: vw(120);
                  display: block;
                  font-size: vw(13);
                  color: $gray-800;
                  white-space: normal;
                }
              }

              &:first-of-type {
                margin-left: vw(24);
              }

              &:last-of-type {
                margin-right: vw(24);
              }
            }
          }

          .define {
            background: $gray-fff;
            padding: vw(20);
            margin-top: vw(32);
            border-radius: vw(16);

            > p {
              color: $gray-800;
              margin-bottom: vw(8);
            }

            > span {
              color: $gray-700;
            }
          }
        }

        &:nth-of-type(1) {
          > p {
            background-color: #00b398
          }
        }

        &:nth-of-type(2) {
          > p {
            background-color: #006341
          }
        }

        &:nth-of-type(3) {
          > p {
            background-color: #97d700
          }
        }
      }
    }

    .greetings {
      background-color: #e9f7ff;
      padding: vw(48) vw(24);

      > p {
        padding-left: vw(30);
        background: url("../img/mentoring/bg-bubble.svg") no-repeat left center;
        background-size: vw(24) vw(24);
        margin-bottom: vw(12);
      }

      > span {
        letter-spacing: -0.02em;
        color: $gray-800;
      }
    }

    .more {
      padding: vw(32) vw(24);

      > p {
        color: $gray-800;
        margin-bottom: vw(16);
      }
    }
  }

  &.mentoring-sub-main {
      .section {
        padding: 0;

        .content {
          padding: vw(76) vw(24) vw(76);

          > .h2-title {
            text-align: center;
            margin-bottom: vw(32);
          }
        }

      }
    .section-color{
      color: $gray-fff;
      text-align: center;
      margin-bottom: 0;
      padding: vw(60) vw(0) vw(68);
      position: relative;
      .text-box{
        margin-top: vw(20);
        .font-h1{
          margin-bottom: vw(8);
        }
      }
      .img-box{
        position: relative;
        padding-top: vw(120);
        overflow: hidden;
        margin-bottom: vw(32);
        .img{
          margin: 0 auto;
          img{
            width: 100%;
            height: auto;
          }
          &.img-mentor{
            width: vw(143);
            height: vw(198);
            position: absolute;
            left: 50%;
            top: vw(300);
            transform: translateX(-50%);
            animation: mentor 1s 1s forwards;
          }
          @keyframes mentor{
            100% {top:vw(32)}
          }
        }
        .smile-graph {
          margin: 0 auto;
          padding: 0;
          list-style-type: none;
          overflow: hidden;
          position: relative;
          width: vw(260);
          height: vw(130);
          &::before { /*배경*/
            position: absolute;
            content: '';
            width: inherit;
            height: inherit;
            border: vw(37) solid $blue;
            border-top: none;
            top: 0;
            left: 0;
          }
          li { /*li기준점*/
            position: absolute;
            z-index: 11;
            top: 0;
            left: 0;
            border: vw(37) solid;
            width: inherit;
            height: inherit;
            border-top: none;
            border-bottom-left-radius: vw(130);
            border-bottom-right-radius: vw(130);
            transform-origin: 50% 0;
            &.value{ /*실제 그래프*/
              z-index: 1;
              border-color: #ffe444;
              animation: chartAni 1s 0.5s forwards;
              transform: rotateZ(-180deg)
            }
          }
        }
        @keyframes chartAni{
         100% {transform:rotateZ(-360deg);}
        }
      }
      .total-box{
        p{
          &.total{
            .num{
              font-weight: 600;
              padding: 0;
              font-family: Poppins, sans-serif;
            }
            .unit{
              font-weight: 700;
            }
          }

        }
      }
      .btn-box{
        padding: vw(24) vw(24) 0;
        margin-bottom: vw(86);
      }
    }

      .section-about {
        background-color: #edf8ff;
        text-align: center;
        .content{
          padding-bottom: vw(96);
        }
        .font-h5{
          margin-bottom: vw(12);
        }
        .desc{
          p{
            margin-bottom: vw(12);
            color: $gray-700;
            font-size: vw(16);

            &:last-of-type{
              margin-bottom: 0;
            }
            &:nth-of-type(2){
              span{
                color: $gray-800;
                &.underscore{
                  position: relative;
                  &:after{
                    content: '';
                    clear: both;
                    display: inline-block;
                    position: absolute;
                    border-bottom: vw(7) solid $yellow;
                    bottom: 0;
                    left: vw(-3);
                    z-index: -1;
                    animation: line 0.3s 1.5s forwards ease-in-out;
                    border-radius: vw(2.5);
                  }
                  @keyframes line {
                    from{
                      width: 0;
                    }
                    to{
                      width: vw(70);
                    }

                  }
                }
              }

            }
          }
        }
      }

      .section-process {
        background-color: #34a6f9;
        padding: vw(76) 0 0 !important;

        .content {
          padding: 0;

          .h2-title {
            color: $gray-fff;
            margin-bottom: vw(48) !important;
          }
        }

        .step-box {
          display: flex;
          justify-content: center;
          li {
            font-size: 0;
            display: inline-block;
            width: vw(48);
            height: vw(67);
            background-position: 0 0;
            margin-right: vw(18);
            position: relative;
            &.active {
              height: vw(67);
            }
            &:nth-of-type(1) {
              background: url("../img/mentoring/img-submain-step1.svg") no-repeat;
              background-size: 100% auto;
            }
            &:nth-of-type(2) {
              background: url("../img/mentoring/img-submain-step2.svg") no-repeat;
              background-size: 100% auto;

              &.active {
                background: url("../img/mentoring/img-submain-step2-active.svg") no-repeat;
                background-size: 100% auto;
              }
            }
            &:nth-of-type(3) {
              background: url("../img/mentoring/img-submain-step3.svg") no-repeat;
              background-size: 100% auto;

              &.active {
                background: url("../img/mentoring/img-submain-step3-active.svg") no-repeat;
                background-size: 100% auto;
              }
            }
            &:nth-of-type(4) {
              background: url("../img/mentoring/img-submain-step4.svg") no-repeat;
              background-size: 100% auto;
              margin-right: 0;

              &.active {
                background: url("../img/mentoring/img-submain-step4-active.svg") no-repeat;
                background-size: 100% auto;
              }

              &:after {
                display: none;
              }
            }
            &:after {
              content: '..';
              font-size: vw(13);
              color: $gray-fff;
              letter-spacing: vw(1);
              opacity: 0.5;
              position: absolute;
              right: vw(-13);
              top: 45%;
            }
          }
        }

        .process-swiper {
          position: relative;
          .swiper-wrapper{
            .page {
              background: $gray-fff;
              .page-round {
                overflow: hidden;
                background: #34a6f9;
                border-radius: 0 0 vw(170) vw(170)/0 0 vw(60) vw(60);
                width: 100%;
                height: vw(310);
                text-align: center;
                padding-top: vw(30);
              }
              .info-box {
                background: $gray-fff;
                position: relative;
                bottom: 0;
                width: 100%;
                text-align: center;
                padding: vw(30) 0 vw(108);
                p{
                  &:nth-of-type(1) {
                    font-weight: 600;
                    font-size: vw(15);
                  }
                  &:nth-of-type(2) {
                    margin-bottom: vw(6);
                    color: $gray-800;
                  }
                  &:nth-of-type(3) {
                    color: $gray-700;
                  }
                }
              }

              &.page1 {
                /*.process_box {
                  .carousel{
                    .carousel-inner{border: 1px solid red;
                      .carousel-item {
                        background: $gray-fff;
                        padding: vw(19) vw(24);
                        border-radius: vw(16);
                        font-size: 0;
                        display: inline-block;
                        margin: 0 auto;
                        // animation: fadeOut 3s 1s;
                        box-shadow: 0 vw(12) vw(8) rgba(34, 34, 34, 0.08);
                        width: vw(294);
                        height: vw(106);

                        .faq {
                          font-size: vw(15);
                          font-weight: 600;
                          margin-bottom: vw(12);
                          text-align: left;
                        }

                        .button {
                          font-size: vw(13);
                          line-height: vw(20);
                          border-radius: vw(16);
                          padding: vw(6) 0;
                          color: $gray-500;
                          width: vw(120);
                          margin: 0 vw(3);
                          border: 1px solid $gray-400;
                          display: inline-block;

                          &.button-yes {
                            margin-left: vw(0);
                          }

                          &.button-no {
                            margin-right: vw(0);
                          }

                          &.on {
                            &.button-yes {
                              background: $blue;
                              border: 1px solid $blue;
                              color: $gray-fff;
                            }

                            &.button-no {
                              background: #ffe444;
                              border: 1px solid #ffe444;
                              color: $gray-800;
                            }
                          }
                        }

                        &.item-sm {
                          padding: vw(13) vw(16);
                          width: vw(226);
                          height: vw(80) !important;

                          .faq {
                            font-size: vw(13);
                            margin-bottom: vw(10);
                            opacity: 0.7;
                          }

                          .button {
                            font-size: vw(11);
                            border-radius: vw(13);
                            padding: vw(3) 0;
                            font-weight: 600;
                            width: vw(90);
                            border: 1px solid $gray-400 !important;

                            &.on {
                              background: $gray-fff;
                              color: $gray-500;
                            }
                          }
                        }
                      }
                    }
                  }
                }*/
                .process_box {
                  .item {
                    background: $gray-fff;
                    padding: vw(19) vw(24);
                    border-radius: vw(16);
                    font-size: 0;
                    display: inline-block;
                    margin: 0 auto vw(16);
                    // animation: fadeOut 3s 1s;
                    box-shadow: 0 vw(12) vw(8) rgba(34, 34, 34, 0.08);
                    width: vw(294);
                    height: vw(106);
                    .faq {
                      font-size: vw(15);
                      font-weight: 600;
                      margin-bottom: vw(12);
                      text-align: left;
                    }
                    .button {
                      font-size: vw(13);
                      line-height: vw(20);
                      border-radius: vw(16);
                      padding: vw(6) 0;
                      color: $gray-500;
                      width: vw(120);
                      margin: 0 vw(3);
                      border: 1px solid $gray-400;
                      display: inline-block;

                      &.button-yes {
                        margin-left: vw(0);
                      }

                      &.button-no {
                        margin-right: vw(0);
                      }

                      &.on {
                        &.button-yes {
                          background: $blue;
                          border: 1px solid $blue;
                          color: $gray-fff;
                        }

                        &.button-no {
                          background: #ffe444;
                          border: 1px solid #ffe444;
                          color: $gray-800;
                        }
                      }
                    }

                    + .item-sm {
                      opacity: 0.7;
                      + .item-sm {
                        opacity: 0.45;
                      }
                    }

                    &.item-sm {
                      padding: vw(13) vw(16);
                      width: vw(226);
                      height: vw(80) !important;
                      margin-bottom: vw(8);
                      .faq {
                        font-size: vw(13);
                        margin-bottom: vw(10);
                        opacity: 0.7;
                      }
                      .button {
                        font-size: vw(11);
                        border-radius: vw(13);
                        padding: vw(3) 0;
                        font-weight: 600;
                        width: vw(90);
                        border: 1px solid $gray-400 !important;

                        &.on {
                          background: $gray-fff;
                          color: $gray-500;
                        }
                      }
                    }
                  }
                }
              }
              &.page2 {
                .worry_box{
                  background: $gray-fff;
                  border-radius: vw(12);
                  display: inline-block;
                  color: $gray-800;
                  overflow:hidden;
                  min-width: vw(238);
                  text-align: center;
                  .worry{
                    padding: vw(32) vw(24) vw(22);
                    text-align: center;
                    font-weight: 500;
                    .img{
                      width: vw(81);
                      height: vw(62);
                      margin :0 auto vw(12);
                      img{
                        width: 100%;
                        height: 100%;
                      }
                    }

                    .typing-txt{
                    //  display: none;
                    }
                  /*  .typing {
                      !*position: absolute;*!
                      display: inline-block;
                      font-size: vw(16);
                    }*/
                  }
                  .button{
                    background: $yellow;
                    font-weight: 700;
                    padding: vw(16) vw(24);
                    font-size: vw(16);
                  }
                }

              }
              &.page3 {
                .current-skin-box{
                  margin: 0 vw(53.5) vw(18);
                  background-color: $gray-fff;
                  border-radius: vw(20);
                  box-shadow: 0 vw(12) vw(8) rgba(34, 34, 34, 0.08);
                  width: vw(268);
                  padding: vw(22) vw(20);
                  display: flex;
                  align-items: center;
                  text-align: left;
                  .skin_icon{
                    display: inline-block;
                    margin-right: vw(13);
                    .icon{
                      width: vw(58);
                      height: vw(58);
                    }
                  }
                  .type{
                    display: inline-block;
                    width: calc(100% - #{vw(71)});
                    .title{
                      font-size: vw(16);
                      line-height: vw(18);
                    }
                    .desc{
                      color: $gray-500;
                      font-size: vw(10);
                      line-height: vw(18);
                      margin-bottom: vw(10);
                    }
                  }
                  .bar {
                    position: relative;
                    width: 100%;
                    height: vw(8);
                    background: linear-gradient(90deg, #47BDFF 0%, #FFE665 100%);
                    border-radius: vw(7);

                    .line-wrap {
                      position: absolute;
                      display: flex;
                      width: 100%;
                      height: vw(8);
                      left: 0;
                      top: 0;

                      .line {
                        width: 20%;
                        border-right: vw(1) solid rgba(238, 238, 238, .5);
                      }
                    }
                  }
                }
                .answer-skin-box{
                  display: flex;
                  justify-content: space-between;
                  margin: 0 vw(53.5);
                  .answer{
                    width: vw(110);
                    background-color: #7684ff;
                    border-radius: vw(14);
                    padding: vw(13) vw(8) vw(24) vw(12);
                    display: inline-block;
                    color: $gray-fff;
                    >p{
                      opacity: 0.8;
                      font-size: vw(14);
                      line-height: vw(18);
                      margin-bottom: vw(13);
                    }
                    ul{
                      li{
                        opacity: 0.8;
                        text-align: left;
                        font-size: vw(12);
                        line-height: vw(18);
                        font-weight: 500;
                        letter-spacing: vw(-0.4);
                      }
                    }
                  }
                  .foryou{
                    width: vw(110);
                    display: inline-block;
                    background-color: #a7d0f7;
                    border-radius: vw(14);
                    padding: vw(13) vw(21);
                    >p{
                      margin-bottom: vw(10);
                      color: $gray-800;
                      font-size: vw(14);
                    }
                    .img{
                      width: vw(56);
                      height: vw(59);
                      margin: 0 auto;
                      img{
                        width: 100%;
                        height: auto;
                      }
                    }

                  }
                }
                .img-mentor{
                  position: absolute;
                  bottom:vw(250);
                  left: 49%;
                  transform: translateX(-50%);
                  width: vw(190);
                  height: vw(201);
                  img{
                    width: 100%;
                    height: auto;
                  }
                }
              }

              @keyframes fadeOut {
                from {
                  opacity: 1;
                  transform: none;
                }
                to {
                  opacity: 0;
                  transform: translateY(-30px);
                }
              }
              @keyframes fadeIn {

                from {
                  opacity: 0;
                  transform: translateY(-30px);
                }
                to {
                  opacity: 1;
                  transform: none;
                }
              }
            }
          }
          .process-pagination {
            position: absolute;
            z-index: 3;
            bottom: vw(76);
            text-align: center;
            line-height: 1;

            .swiper-pagination-bullet {
              width: vw(8);
              height: vw(8);
              margin: 0 vw(6);
              background-color: #e9f7ff!important;
              opacity: 1;

              &.swiper-pagination-bullet-active{
                background-color: $blue!important;
              }
            }

          }
        }

      }

      .section-answer {
        background-color: #edf8ff;

        .answer_box {
          white-space: nowrap;
          overflow-x: auto;
          margin: 0 vw(-24);
          -ms-overflow-style: none;
          scrollbar-width: none;
          &::-webkit-scrollbar{
            display: none;
            width: 0;
            height: 0;
            background: transparent;
            -webkit-appearance: none;
          }

          .item {
            background-color: $gray-fff;
            border-radius: vw(16);
            padding: vw(24) vw(24) vw(32);
            width: vw(220);
            margin-right: vw(16);
            display: inline-block;

            &:first-of-type {
              margin-left: vw(24);
            }

            &:last-of-type {
              margin-right: vw(24);
            }

            .skin_icon {
              margin-bottom: vw(16);
              text-align: center;
              .icon{
                width: vw(76);
                height: vw(76);
              }

            }

            .type {
              display: flex;
              align-items: center;
              justify-content: space-between;
              >p{
                color: $gray-800;
              }

              .badge {
                font-size: vw(12);
              }
            }

            .area {
              >p {
                padding-top: vw(12);
                color: $gray-700;
                @include ellipsis(3)
              }
            }

          }

        }
      }

      .section-voc {
        background-color: $yellow;
        position: relative;

        .review-wrap{
          overflow: hidden;
          height: vw(660);

        }

        .review_box {
          animation: up 15s infinite linear ;

          // Keyframes
          @keyframes up {
            0% {
              transform: translateY(0)
            }
            100% {
              transform: translateY(-60%)
            }
          }


          .item {
            padding: vw(20);
            margin-bottom: vw(16);
            background-color: $gray-fff;
            border-radius: vw(16);

            .info-area {
              font-size: 0;
              margin-bottom: vw(6);

              .icon {
                width: vw(32);
                height: vw(32);
              }

              .username {
                vertical-align: middle;
                display: inline-block;
                margin-left: vw(8);
                font-size: vw(13);
                color: $gray-600;
                line-height: vw(18);
              }
            }

            .content-area {
              margin-bottom: vw(12);
              font-size: vw(15);
              color: $gray-800;
              line-height: vw(22);
              @include ellipsis(2)
            }

            .star-area {
              display: flex;
              justify-content: space-between;
              align-items: center;

              .score {
                span {
                  width: vw(14.5);
                  height: vw(14);
                  display: inline-block;

                  &.on {
                    background: url("../img/mentoring/ico-star-yellow.svg") no-repeat 0 0;
                    background-size: 100% auto;
                    &.half{
                      background: url("../img/mentoring/ico-star-yellow-half.svg") no-repeat 0 0;
                      background-size: 100% auto;
                    }
                  }

                  &.off {
                    background: url("../img/mentoring/ico-star-gray.svg") no-repeat 0 0;
                    background-size: 100% auto;
                  }
                }
              }

              .date {
                font-size: vw(13);
                color: $gray-600;
              }
            }

            &.active {
              .content-area {
                display: inline-block;
                overflow: unset;
              }
            }

            &:last-of-type {
              margin-bottom: vw(48);
            }
          }
        }
        .btn-wrap{
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          padding-bottom:  vw(96);
          &:before{
            content: '';
            display: inline-block;
            width: vw(327);
            height: vw(70);
          }
          width: 100%;

          /*흘러가기 ㅠㅠ*/
        /*  height: 200px;
          background: red;
          background: -webkit-linear-gradient(transparent, rgba(255,230,101,1) 60%);
          background: -o-linear-gradient(transparent, rgba(255,230,101,1) 60%);
          background: -moz-linear-gradient(transparent, rgba(255,230,101,1) 60%);
          background: linear-gradient(transparent, rgba(255,230,101,1) 60%);*/



        }
      }

      .section-faq {
        background-color: $gray-fff;
        .content{
          padding-bottom: vw(96);
        }

        .faq_box {
          .item {
            border-radius: vw(16);
            margin-bottom: vw(10);
            padding: vw(17) vw(20) vw(19) vw(45);
            background: $gray-200 url("../img/mentoring/ico-Q.svg") no-repeat left vw(20) top vw(22);
            background-size: vw(17) vw(14);

            .title {
              display: flex;
              justify-content: space-between;
              font-size: vw(15);
              line-height: vw(22);
              color: $gray-800;
              font-weight: 500;

              span {
                width: calc(100% - #{vw(28)});
              }

              i {
                margin-top: vw(6);
              }
            }

            .solution {
              padding-top: vw(14);
              font-size: vw(13);
              line-height: vw(18);
              display: none;
            }

            &.active {
              background: $blue url("../img/mentoring/ico-Q-white.svg") no-repeat left vw(20) top vw(22);
              background-size: vw(17) vw(14);

              .title {
                color: $gray-fff;

                .ico-plus-sm-gray {
                  background: url("../img/common/ico-minus-sm-white.svg") no-repeat 0 0;
                  background-size: vw(12) vw(12);
                }
              }

              .solution {
                color: $gray-fff;
              }
            }

            &:last-of-type {
              margin-bottom: vw(48);
            }
          }
        }
      }

      /*후기전체보기*/
      &.voc {
        .header-details {
          background-color: $yellow;
        }

        .body-details {
          background-color: $yellow;
          .section-voc {
            padding: vw(20) vw(24) vw(152);

            .h2-title {
              margin-bottom: vw(24);
              font-size: vw(22);
              line-height: vw(33);
            }
            .review_box{
              animation: unset;
              .item{
                &:last-of-type{
                  margin-bottom: 0;
                }
              }
            }
            .btn-wrap{
              padding: 0;
              background-color: unset;
              bottom: vw(48);
              &:before{
                display: none;
              }
            }
          }
        }
      }

  }

}
