/*공통*/
.select-popup {
  margin-bottom: vw(8);

  .btn-select {
    width: 100%;
    height: vw(60);
    line-height: vw(58);
    padding: 0 vw(20);
    border: 1px solid $gray-300;
    font-size: vw(15);
    font-weight: 400;
    letter-spacing: vw(-0.5);
    border-radius: vw(12);
    color: $gray-700;
    display: inline-block;
    background: $gray-fff url(../img/common/ico-select-disabled.svg) right vw(20) center/vw(20) vw(20) no-repeat;
  }

  .toast-content {
    padding: vw(24) !important;

    ul {
      li {
        margin-bottom: vw(12);

        &:last-of-type {
          margin-bottom: 0;
        }

        a {
          display: block;
          line-height: vw(40);
          letter-spacing: 0;
        }

        &.active {
          background: url("../img/common/check-primary.png") no-repeat right center;
          background-size: vw(24) vw(24);
          display: block;

          a {
            color: $primary;
            font-weight: 700;
          }
        }
      }
    }

  }
}

/*공통 - 얇은버전*/
.divider {
  width: 100%;
  height: vw(1);
  margin: vw(25) 0 vw(25);
  border-color: $gray-300;
}


/*의견남기기*/
.opinion {
  background-color: $gray-200;
  padding: 80px 0 120px;
}

.section-input {
  letter-spacing: 0;
  margin-bottom: vw(48);

  input {
    margin-bottom: vw(8);
  }

  .input-group {
    textarea {
      margin-bottom: 20px;
    }
  }
}

.section-privacy {
  margin-bottom: 60px;

  .font-h5 {
    color: $gray-800;
    margin-bottom: vw(8);
    font-weight: 700;
  }

  .font-body-1 {
    color: $gray-700;
    margin-bottom: vw(32);
  }

  .radio-box {
    margin-bottom: vw(24);

    .custom-radio {
      margin-right: vw(24);
    }
  }

  .input-box {
    input[type=password] {
      margin-bottom: vw(32);
    }

    input[type=text] {
      margin-bottom: vw(8);
    }
  }

  .custom-checkbox {
    display: block;
    margin-bottom: vw(6);

    label {
      .collection {
        color: $gray-600;
        margin-right: 6px;
      }

      .all {
        font-weight: bold;
        color: $gray-700;
      }

      a {
        color: $gray-800;
        font-weight: 500;
        text-decoration: underline;
      }
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .desc {
    font-size: vw(12);
    line-height: vw(16);
    letter-spacing: vw(-0.5);
    color: $gray-600;
    padding-top: vw(16);
  }

  .box {
    margin-bottom: 16px;
  }

  .box-gray {
    background-color: $gray-300;
    border-radius: 12px;
    padding: 20px 24px;
  }
}

.btn-wrap {
  text-align: center;
}

/* 고객제안 메인 */
.suggestion-wrap {
  .inner {
    position: relative;
    max-width: 1242px;
    min-width: 1242px;
    margin: 0 auto;
  }

  .heading-box {
    padding: 40px 0 80px;
    text-align: center;

    .font-h1 {
      margin-bottom: vw(12);
    }

    .font-h6 {
      color: $gray-700;
    }
  }

  .opinion {
    .custom-select {
      margin-bottom: vw(8);
    }

    .section-input {
      margin-bottom: 20px;
    }

    .section-privacy {
      .divider {
        margin-top: 0;
        margin-bottom: 24px;
      }
    }
  }

  .my-opinion-list {
    background-color: $gray-200;
    padding: vw(48) 0 240px;

    .item {
      float: left;
      width: 288px;
      margin-bottom: 24px;
      padding: 24px 20px;
      background-color: #fff;
      border-radius: 12px;
      margin-right: 30px;

      &:nth-child(4n) {
        margin-right: 0;
      }

      &:nth-child(4n+1) {
        clear: both;
      }

      .badge-box {
        margin-bottom: 10px;

        .badge {
          padding: 5px 10px;
        }
      }

      .cont-box {
        margin-bottom: 12px;

        .cont {
          line-height: vw(22);
          font-size: vw(15);
          @include ellipsis(2);

          .category {
            font-weight: bold;
            margin-right: vw(2);
          }
        }
      }

      .bottom-box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .date {
          font-family: $poppins-regular;
          font-size: vw(13);
          color: $gray-600;
        }

        .btn-like {
          display: flex;
          align-items: center;

          .icon {
            margin-right: vw(2);
            transform: translateY(vw(-3));
          }

          span {
            display: inline-block;
            font-family: $poppins-semiBold;
            font-size: vw(13);
            color: $gray-700;
          }
        }

        &.on {
          .btn-like {
            .icon {
              background-image: url(../img/common/ico-link-foc.svg);
            }
          }
        }
      }
    }

    .btn-wrap {
      padding-top: 36px;
    }
  }

  .suggestion-slider {
    position: relative;
    background-color: $primary;
    overflow: hidden;

    .swiper-slide {
      position: relative;
      width: 100%;
      height: 400px;
      padding: 80px 0 0 0;

      &.swiper-slide-active {
        .text-box {
          transform: translateX(0);
        }

        .img-box {
          transform: translateX(0);
        }
      }

      .text-box {
        position: relative;
        color: #fff;
        transition: 1s;
        transform: translateX(90%);
        z-index: 4;

        .font-body-2 {
          margin-bottom: 8px;
        }

        .font-h2 {
          margin-bottom: 16px;
          max-width: 560px;
          @include ellipsis(2);
        }

        .font-body-1 {
          width: 560px;
          @include ellipsis(2);
        }
      }

      .img-box {
        position: absolute;
        right: 170px;
        top: -23px;
        transition: 1.2s;
        transform: translateX(910%);
        z-index: 3;

        .img {
          width: vw(260);
          height: vw(290);

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .smile-motif {
      position: absolute;
      top: 101px;
      right: 116px;
      width: vw(360);
      height: vw(180);
      z-index: 2;

      svg {
        width: 100%;
        height: 100%;
      }

      //@include background-img($width: 276, $height: 180, $category: 'suggestion', $img: 'img-smile-motif.svg');
    }

    .swiper-pagination-wrapper {
      position: absolute;
      max-width: 1242px;
      min-width: 1242px;
      margin: 0 auto;
      left: 50%;
      transform: translateX(-50%);
      bottom: 96px;
      z-index: 1;
    }

    .swiper-pagination-bullets {
      width: auto;
      //bottom: vw(27);

      .swiper-pagination-bullet {
        background: #ffffff;
        opacity: 0.3;

        + .swiper-pagination-bullet {
          margin-left: 12px;
        }

        &.swiper-pagination-bullet-active {
          opacity: 1;
        }
      }
    }
  }

  .subject-list {
    padding-top: 120px;

    .list-heading {
      margin-bottom: 60px;

      .font-h2 {
        font-size: 32px;
        line-height: 44px;

        .num {
          font-family: $poppins-semiBold;
        }
      }
    }

    .list-body {
      .nav-tabs {
        border-bottom: 0;
        margin-bottom: 20px;
        justify-content: flex-end;

        .nav-link {
          position: relative;
          padding: 0 vw(8);
          border: 0 !important;
          color: $gray-400;
          font-size: vw(13);
          line-height: vw(18);
          letter-spacing: vw(-0.05);

          &.active {
            color: $gray-700;
            font-weight: bold;

            &::before {
              content: '';
              display: inline-block;
              vertical-align: middle;
              @include background-img($width: 12, $height: 12, $category: 'common', $img: 'ico-check.svg');
              margin-right: vw(3);
              transform: translateY(vw(-2));
            }
          }

          + .nav-link {
            &::after {
              content: '';
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
              width: vw(3);
              height: vw(3);
              border-radius: 50%;
              background-color: $gray-400;
            }
          }
        }
      }

      .list {
        margin-bottom: vw(36);
      }

      .sizer, .item {
        width: 288px;
      }

      .item {
        padding: 0;
        margin-bottom: 24px;

        &:nth-child(4n+1) {
          margin-right: 0;
        }

        .item-inner {
          background-color: $gray-200;
          border-radius: vw(12);
          padding: 24px 20px;
        }

        &.completed {
          .item-inner {
            background-color: $primary-light;
          }

          .link {
            .num {
              color: $primary;
            }

            &.on {
              .ico-like {
                background-image: url(../img/common/ico-link-foc2.svg);
              }
            }
          }
        }

        .completed-txt {
          margin-bottom: vw(6);
          line-height: vw(18);

          .ico-link {
            background-image: url(../img/common/);
          }

          > span {
            display: inline-block;
            vertical-align: middle;
            font-weight: bold;
            font-size: vw(13);
            line-height: vw(18);
            letter-spacing: vw(-0.05);
            color: $primary;
          }
        }

        .font-body-2 {
          color: $primary;
          font-family: $poppins-semiBold;
          font-weight: bold;
          margin-bottom: vw(6);
        }

        .font-body-1 {
          color: $gray-700;
          margin-bottom: vw(8);
          min-height: 48px;
        }

        .link {
          .ico-like {
            vertical-align: middle;
            transform: translateY(vw(-2));
          }

          .num {
            font-family: $poppins-semiBold;
            display: inline-block;
            font-size: vw(13);
            vertical-align: middle;
            margin-left: vw(4);
          }

          &.on {
            .ico-like {
              background-image: url(../img/common/ico-link-foc.svg);
            }
          }
        }
      }
    }

    .btn-wrap {
      display: flex;
      justify-content: center;
      margin-bottom: vw(28);
    }
  }

  .register-box {
    background-color: $gray-200;
    padding: 80px 0 0;

    .box {
      position: relative;
      text-align: center;
      background: #FFFFFF;
      border-radius: 20px;
      padding: 60px 106px 30px;

      .input-box {
        margin-bottom: vw(24);

        input {
          width: 100%;
        }
      }
    }

    .img {
      width: 74px;
      margin: 0 auto 20px;
    }

    .font-h4 {
      margin-bottom: 30px;
      color: $gray-800;
      font-size: 20px;
      line-height: 30px;
    }

    .btn-wrap {
      border-bottom: 1px solid $gray-300;
      padding-bottom: 40px;

      .btn {
        padding: 0 50px;
      }
    }

    .text-btn {
      font-weight: 500;
      font-size: 16px;
      padding-top: vw(24);

      a {
        color: $gray-700;
      }
    }
  }

  .caution-box {
    padding: 80px 0 0;

    .title {
      margin-bottom: vw(12);
      line-height: vw(19);

      i, span {
        display: inline-block;
        vertical-align: middle;
        line-height: vw(19);
      }

      span {
        font-weight: bold;
        font-size: vw(15);
        letter-spacing: vw(-0.05);
        color: $gray-800;
      }

      i {
        margin-right: vw(3);
      }
    }

    .list-with-dot {
      padding-left: vw(3);

      a {
        color: $gray-700;
        font-weight: 500;
        text-decoration: underline;
      }
    }
  }
}
