/*
|----------------------------------|
 v.0.1 선미 : 최초 작업 -- 2021.12.14
|----------------------------------|
*/

.badge{
  padding: 6px 10px;
  border-radius: 12.5px;
  font-size: 13px;
  color: #ffffff;
  font-weight: 500;
  &.badge-primary{
    background-color: $primary;
  }
  &.badge-blue{
    background-color: $blue;
  }
  &.badge-gray{
    background-color: $gray-600;
  }
}

