/*
|----------------------------------|
 v.0.1 선미 : 최초 작업 -- 2021.12.14
 v.0.2 주연 : vw 적용 -- 2021.12.14
|----------------------------------|
*/
.badge {
  padding: vw(6) vw(10);
  border-radius: vw(12.5);
  font-size: vw(13);
  color: #ffffff;
  font-weight: 500;

  &.badge-primary {
    background-color: $primary;
  }

  &.badge-blue {
    background-color: $blue;
  }

  &.badge-gray {
    background-color: $gray-600;
  }

  &.badge-dark {
    background-color: $gray-800;
  }

  &.badge-violet {
    background-color: rgba(97, 112, 255, 0.9);
  }
}

