/*
|--------------------------------------------------------------------|
 v.0.1 주연 : 최초 작업 -- 2021.11.30
 v.0.2 주연 : vw 적용 -- 2021.12.14
 v.0.3 선미 : color-blue / bg-gray 추가 -- 2021.12.20
 v.0.4 주연 : color-yellow / color-violet 추가 -- 2022.01.03
 v.0.5 주연 : color-red 추가 -- 2022.01.10
|--------------------------------------------------------------------|
*/
.bg-primary { background-color: $primary;}
.bg-blue { background-color: $blue;}
.bg-violet { background-color: $violet;}
.bg-gray{ background-color: $gray-200;}

.color-primary { color: $primary;}
.color-blue { color: $blue;}
.color-yellow { color: $yellow;}
.color-violet { color: $violet;}
.color-red { color: $error !important;}

.bg-gradient-red {
  background: linear-gradient(90deg, #F4C480 0%, #EA8181 100%) !important;
}
.bg-gradient-blue {
  background: linear-gradient(90deg, #47D4B2 0%, #47BDFF 100%) !important;
}
.bg-gradient-green {
  background: linear-gradient(90deg, #BFD976 0%, #47D46E 100%) !important;
}
