/*
|--------------------------------------------------------------------|
 v.0.1 주연 : 최초 작업 -- 2021.12.14
 v.0.2 주연 : vw 적용 -- 2021.12.14
 v.0.3 주연 : body.scrOff 추가 -- 2022.01.07
|--------------------------------------------------------------------|
*/
.list-with-dot {
  li {
    position: relative;
    font-size: vw(13);
    line-height: vw(18);
    letter-spacing: vw(-0.05);
    color: $gray-600;
    padding-left: vw(13);
    margin-bottom: vw(8);

    &:last-child {
      margin-bottom: 0;
    }

    &::after {
      content: '';
      position: absolute;
      width: vw(3);
      height: vw(3);
      left: 0;
      top: vw(8);
      background-color: $gray-600;
      border-radius: 50%;
    }
  }
}

body.scrOff {
  overflow: hidden;
}
