/*
|----------------------------------|
 v.0.1 주연 : 최초 작업 -- 2021.11.30
 v.0.2 태윤 : .icon-close-sm 추가 -- 2021.12.10
 v.0.3 태윤 : .icon-check-green 추가 -- 2021.12.13
 v.0.4 주연 : .ico-like / .ico-bookmark / .ico-caution 추가 -- 2021.12.13
 v.0.5 선미 : .ico-heart 추가 / ico-delete, ico-edit 사이즈 축소-- 2021.12.14
 v.0.6 주연 : vw 적용 -- 2021.12.14
 v.0.7 선미 : ico-arrow-green-right, ico-sns-kakao, ico-sns-facebook, ico-sns-line 추가 -- 2021.12.15
|----------------------------------|
*/
.icon {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center center;
  text-indent: -999em;
  overflow: hidden;
}

.ico-alert {
  @include background-img ($width: 24, $height: 24, $category: 'common', $img: 'ico-alert.svg');

  &.white {
    background-image: url(../img/common/ico-alert-white.svg);
  }
}

.ico-shop {
  @include background-img ($width: 24, $height: 24, $category: 'common', $img: 'ico-shop.svg');
}

.ico-accordion-close {
  @include background-img ($width: 24, $height: 24, $category: 'common', $img: 'ico-accordion-close.svg');
}

.ico-accordion-open {
  @include background-img ($width: 24, $height: 24, $category: 'common', $img: 'ico-accordion-open.svg');
}

.ico-close {
  @include background-img ($width: 24, $height: 24, $category: 'common', $img: 'ico-close.svg');

  &.white {
    background-image: url(../img/common/ico-close-white.svg);
  }
}

.ico-nav-prev {
  @include background-img ($width: 24, $height: 24, $category: 'common', $img: 'ico-nav-prev.svg');
}

.ico-nav-next {
  @include background-img ($width: 24, $height: 24, $category: 'common', $img: 'ico-nav-next.svg');
}

.ico-search {
  @include background-img ($width: 24, $height: 24, $category: 'common', $img: 'ico-search.svg');
}

.ico-arrow-left {
  @include background-img ($width: 24, $height: 24, $category: 'common', $img: 'ico-arrow-left.svg');
}

.ico-arrow-right {
  @include background-img ($width: 24, $height: 24, $category: 'common', $img: 'ico-arrow-right.svg');
}

.ico-arrow-green-right {
  @include background-img ($width: 8, $height: 8, $category: 'common', $img: 'ico-arrow-green-right.svg');
}

.ico-arrow-up {
  @include background-img ($width: 24, $height: 24, $category: 'common', $img: 'ico-arrow-up.svg');
}

.ico-arrow-down {
  @include background-img ($width: 24, $height: 24, $category: 'common', $img: 'ico-arrow-down.svg');
}

.ico-delete {
  @include background-img ($width: 20, $height: 20, $category: 'common', $img: 'ico-delete.svg');
}

.ico-edit {
  @include background-img ($width: 20, $height: 20, $category: 'common', $img: 'ico-edit.svg');
}

.ico-like {
  @include background-img ($width: 18, $height: 18, $category: 'common', $img: 'ico-link-nor.svg');
}

.ico-bookmark {
  @include background-img ($width: 18, $height: 18, $category: 'common', $img: 'ico-bookmark.svg');
}

.ico-check-green {
  @include background-img ($width: 24, $height: 24, $category: 'common', $img: 'ico-check-green.png');
}

.ico-heart {
  @include background-img ($width: 14, $height: 14, $category: 'common', $img: 'ico-heart.svg');
}

.ico-link {
  @include background-img ($width: 14, $height: 14, $category: 'common', $img: 'ico-link.png');
}

.ico-caution {
  @include background-img ($width: 18, $height: 18, $category: 'common', $img: 'ico-caution.svg');
}

.ico-check-black {
  @include background-img ($width: 24, $height: 24, $category: 'common', $img: 'ico-check-black.svg');
}

.ico-check-white {
  @include background-img ($width: 24, $height: 24, $category: 'common', $img: 'ico-check-white.svg');
}

.ico-sns-kakao {
  @include background-img ($width: 44, $height: 44, $category: 'common', $img: 'ico-sns-kakao.svg');
}

.ico-sns-facebook {
  @include background-img ($width: 44, $height: 44, $category: 'common', $img: 'ico-sns-facebook.svg');
}

.ico-sns-line {
  @include background-img ($width: 44, $height: 44, $category: 'common', $img: 'ico-sns-line.svg');
}
