/*
|----------------------------------|
 v.0.1 주연 : 최초 작업 -- 2021.11.30
 v.0.2 태윤 : .icon-close-sm 추가 -- 2021.12.10
 v.0.3 태윤 : .icon-check-green 추가 -- 2021.12.13
 v.0.4 주연 : .ico-like / .ico-bookmark / .ico-caution 추가 -- 2021.12.13
 v.0.5 선미 : .ico-heart 추가 / ico-delete, ico-edit 사이즈 축소-- 2021.12.14
 v.0.6 주연 : vw 적용 -- 2021.12.14
|----------------------------------|
*/
.icon {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center center;
  text-indent: -999em;
  overflow: hidden;
}

.ico-prev {
  @include background-img ($width: 12, $height: 12, $category: 'common', $img: 'ico-prev.png');
}

.ico-next {
  @include background-img ($width: 12, $height: 12, $category: 'common', $img: 'ico-next.png');
}

.ico-alert {
  @include background-img ($width: 24, $height: 24, $category: 'common', $img: 'ico-alert.png');

  &.white {
    background-image: url(../img/common/ico-alert-white.png);
  }
}

.ico-nav-menu-shop {
  @include background-img ($width: 24, $height: 24, $category: 'common', $img: 'nav-menu-shop.png');
}

.ico-accordion {
  @include background-img ($width: 24, $height: 24, $category: 'common', $img: 'ico-accordion-open.png');

  &.ico-accordion-close {
    background-image: url(../img/common/ico-accordion-close.png);
  }
}

.ico-accordion-close {
  @include background-img ($width: 24, $height: 24, $category: 'common', $img: 'ico-accordion-open.png');
}

.ico-close {
  @include background-img ($width: 24, $height: 24, $category: 'common', $img: 'ico-close.png');

  &.white {
    background-image: url(../img/common/ico-close-white.png);
  }

}

.ico-close-sm{
  @include background-img ($width: 16, $height: 16, $category: 'common', $img: 'ico-close-sm.png');
}


.ico-nav-prev {
  @include background-img ($width: 24, $height: 24, $category: 'common', $img: 'ico-nav-prev.png');
}

.ico-nav-next {
  @include background-img ($width: 24, $height: 24, $category: 'common', $img: 'ico-nav-next.png');
}

.ico-search {
  @include background-img ($width: 24, $height: 24, $category: 'common', $img: 'ico-search.png');
}

.ico-arrow-left {
  @include background-img ($width: 24, $height: 24, $category: 'common', $img: 'ico-arrow-left.png');
}

.ico-arrow-right {
  @include background-img ($width: 24, $height: 24, $category: 'common', $img: 'ico-arrow-right.png');
}

.ico-arrow-up {
  @include background-img ($width: 24, $height: 24, $category: 'common', $img: 'ico-arrow-up.png');
}

.ico-arrow-down {
  @include background-img ($width: 24, $height: 24, $category: 'common', $img: 'ico-arrow-down.png');
}

.ico-delete {
  @include background-img ($width: 20, $height: 20, $category: 'common', $img: 'ico-delete.png');
}

.ico-edit {
  @include background-img ($width: 20, $height: 20, $category: 'common', $img: 'ico-edit.png');
}

.ico-like {
  @include background-img ($width: 18, $height: 18, $category: 'common', $img: 'ico-link-nor.png');
}

.ico-bookmark {
  @include background-img ($width: 18, $height: 18, $category: 'common', $img: 'ico-bookmark.png');
}

.ico-check-green {
  @include background-img ($width: 24, $height: 24, $category: 'common', $img: 'ico-check-green.png');
}

.ico-heart {
  @include background-img ($width: 14, $height: 14, $category: 'common', $img: 'ico-heart.png');
}

.ico-link {
  @include background-img ($width: 14, $height: 14, $category: 'common', $img: 'ico-link.png');
}

.ico-caution {
  @include background-img ($width: 18, $height: 18, $category: 'common', $img: 'ico-caution.png');
}
