/*
|--------------------------------------------------------------------|
 v.0.1 주연 : 최초 작업 -- 2021.11.30
 v.0.2 선미 : 불필요 css 제거 및 checkbox,radio 추가 -- 2021.12.07
 v.0.3 주연 : input / select / textarea -- 2021.12.09
 v.0.4 선미 : select 화살표제거 -- 2021.12.10
|--------------------------------------------------------------------|
*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* switch */
.custom-switch {
  padding-left: 40px;

  .custom-control-input {
    width: 40px;
    height: 24px;
  }

  .custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    background-color: $gray-500;
    border-color: $gray-500;
  }

  .custom-control-input:not(:disabled):active ~ .custom-control-label::before {
    background-color: $gray-500;
    border-color: $gray-500;
  }

  .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
  }

  .custom-control-label::before {
    background-color: $gray-500;
    border-color: $gray-500;
    width: 2.5rem;
    height: 1.5rem;
    border-radius: 100px;
    left: -40px;
    top: 0;
  }

  .custom-control-label::after {
    background-color: $gray-fff;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    top: 3px;
    left: -37px;
  }

  .custom-control-input:checked ~ .custom-control-label::before {
    background-color: $primary;
    border-color: $primary;
  }

  .custom-control-input:checked ~ .custom-control-label::after {
    transform: translateX(1rem);
  }

  .custom-control-input[disabled] ~ .custom-control-label::before, .custom-control-input:disabled ~ .custom-control-label::before {
    background-color: $gray-500;
    border-color: $gray-500;
  }
}

/* checkbox */
.custom-checkbox {
  display: inline-block;

  .custom-control-input {
    width: 24px;
    height: 24px;
  }

  .custom-control-label::before {
    width: 24px;
    height: 24px;
    border-radius: 6px;
    top: 0;
    border: 2px solid #dddddd;
  }

  .custom-control-label::after {
    width: 24px;
    height: 24px;
    top: 0;
  }

  .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
  }

  .custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    border-color: #dddddd;
  }

  .custom-control-input:checked ~ .custom-control-label::before {
    background-color: $primary;
    border-color: $primary;
  }

  .custom-control-input:checked ~ .custom-control-label::after {
    background: url("../img/common/check.png") no-repeat center center;
  }

  .custom-control-input[disabled] ~ .custom-control-label::before, .custom-control-input:disabled ~ .custom-control-label::before {
    background: #bbbbbb;
    border: 2px solid #bbbbbb
  }

  .custom-control-input[disabled] ~ .custom-control-label::after, .custom-control-input:disabled ~ .custom-control-label::after {
    background: url("../img/common/check-disabled.png") no-repeat center center;
  }

  &.checkbox-sm {
    .custom-control-input {
      width: 20px;
      height: 20px;
    }
    .custom-control-label{
      font-size: 13px;
      font-weight: 400;
      color: $gray-700;
      padding-left: 2px;
    }

    .custom-control-label::before {
      width: 20px;
      height: 20px;
      border-radius: 4px;
    }

    .custom-control-label::after {
      width: 20px;
      height: 20px;
    }

    .custom-control-input:checked ~ .custom-control-label::after {
      background: url("../img/common/check-sm.png") no-repeat center center;
    }

    .custom-control-input[disabled] ~ .custom-control-label::after, .custom-control-input:disabled ~ .custom-control-label::after {
      background: url("../img/common/check-disabled-sm.png") no-repeat center center;
    }
  }
}

/* radio */
.custom-radio {
  display: inline-block;

  .custom-control-input {
    width: 24px;
    height: 24px;
  }
  .custom-control-label{
    padding-left: 8px;
    color:$gray-700
  }
  .custom-control-label::before {
    border: 2px solid #dddddd;
    width: 24px;
    height: 24px;
    top: 0;
  }

  .custom-control-label::after {
    width: 24px;
    height: 24px;
    top: 0;
  }

  .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
  }

  .custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    border-color: #dddddd;
  }

  .custom-control-input:checked ~ .custom-control-label::before {
    background-color: $primary;
    border: 2px solid $primary;
  }

  .custom-control-input:checked ~ .custom-control-label::after {
    background: url("../img/common/radio.png") no-repeat center center;
  }

  .custom-control-input[disabled] ~ .custom-control-label::before, .custom-control-input:disabled ~ .custom-control-label::before {
    background-color: #bbbbbb;
    border: 2px solid #bbbbbb;
  }

  .custom-control-input[disabled] ~ .custom-control-label::after, .custom-control-input:disabled ~ .custom-control-label::after {
    background: url("../img/common/radio-disabled.png") no-repeat center center;
  }

  &.radio-sm {
    .custom-control-input {
      width: 20px;
      height: 20px;
    }

    .custom-control-label::before {
      width: 20px;
      height: 20px;
    }

    .custom-control-label::after {
      width: 20px;
      height: 20px;
    }

    .custom-control-input:checked ~ .custom-control-label::after {
      background: url("../img/common/radio-sm.png") no-repeat center center;
    }

    .custom-control-input[disabled] ~ .custom-control-label::after, .custom-control-input:disabled ~ .custom-control-label::after {
      background: url("../img/common/radio-disabled-sm.png") no-repeat center center;
    }
  }
}

/* input */
.form-control {
  width: 100%;
  height: 60px;
  line-height: 58px;
  padding: 0 20px;
  border: 1px solid $gray-300;
  font-size: 15px;
  letter-spacing: -0.5px;
  font-weight: bold;
  border-radius: 12px;

  &::placeholder {
    color: $gray-500;
    font-weight: 400;
  }

  &:focus {
    border: 1px solid $gray-600;
    outline: none;
    box-shadow: none;
  }

  + .form-control {
    margin-top: 8px;
  }
}

/* select */
.custom-select {
  width: 100%;
  height: 60px;
  line-height: 58px;
  padding: 0 20px;
  border: 1px solid $gray-300;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.5px;
  border-radius: 12px;
  color: $gray-700;
  background: #fff url(../img/common/ico-select-disabled.png) right 20px center/20px 20px no-repeat;

  &::placeholder {
    color: $gray-500;
    font-weight: normal;
  }

  &:focus {
    border: 1px solid $gray-600;
    outline: none;
    box-shadow: none;
  }
}

/* textarea */
textarea.form-control {
  width: 100%;
  padding: 20px;
  line-height: 22px;
  height: 160px;
  resize: none;

  &:disabled {
    //border: 1px solid $line-e9e9e9;
    //background-color: $bg-f7f7f7;
    //color: $gray-909090;
  }

  &.form-control-lg {
    height: 200px;
  }
}

/* search */
.input-search {
  position: relative;

  .form-control {
    padding: 0 50px 0 20px;
  }

  .btn-search {
    position: absolute;
    background-image: url("../img/common/ico-search.png");
    width: 24px;
    height: 24px;
    background-size: cover;
    z-index: 2;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    margin-left: 0;
    padding: 0;
  }

  &.input-search-list {
    .form-control {
      border-left: 0;
      border-right: 0;
      border-top: 0;
      border-radius: 0;
      border-bottom: 2px solid $gray-900;
      padding: 0 25px 0 0;
    }

    .btn-search {
      right: 0;
    }
  }
}
