/*
|----------------------------------------------------------------------|
 v.0.1 선미 : 최초 작업 -- 2021.12.07
 v.0.2 주연 : 헤더 추가 -- 2021.12.13
 v.0.3 주연 : vw 적용 -- 2021.12.14
 v.0.4 주연 : header-detail 추가 -- 2021.12.17
 v.0.5 태윤 : header > .bg-primary .header-slogan 추가 -- 2021.12.20
 v.0.6 선미 : bg-primary / header-slogan 불필요 css 제거 -- 2021.12.28
 v.0.7 선미 : header-white {z-index: 5-> 20 } 변경 -- 2021.01.05
 v.0.8 선미 : header-details >  fixed 추가 -- 2021.01.06
 v.0.9 주연 : header / header-details 수정 -- 2022.01.21
|----------------------------------------------------------------------|
*/

a {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

/* header */
.sticky-wrapper {
  background-color: $gray-fff;
}

.header {
  position: relative;
  width: 100%;
  height: vw(60);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 vw(20);
  background-color: $gray-fff;
  z-index: 5 !important;

  .brand-logo {
    a {
      display: block;
      width: vw(50);
      height: auto;

      img {
        width: 100%;
      }
    }
  }

  .btn-alert {
    a {
      display: block;
    }
  }

  &.scroll-up {
    position: fixed;
    left: 0;
    top: vw(-60);

    + .container {
      padding-top: vw(60) !important;
    }
  }

  &.scroll-down {
    position: fixed;
    left: 0;
    top: 0;

    + .container {
      padding-top: vw(60) !important;
    }
  }
}


.header-white {
  position: fixed;
  width: 100%;
  height: vw(60);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 vw(20);
  background-color: $gray-fff;
  z-index: 20 !important;

  &.header-slogan {
    padding: 0px vw(24);
  }

  .brand-logo {
    a {
      display: block;
      width: vw(50);
      height: vw(25);
      background: url("../img/common/logo-black.svg") no-repeat 0 0;
      background-size: 100% auto;
    }
  }

  .btn-alert {
    a {
      display: block;
    }
  }

  &.header-transparent {
    background-color: transparent;
    position: absolute;

    .brand-logo {
      a {
        background: url("../img/common/logo-white.svg") no-repeat 0 0;
        background-size: 100% auto;
      }
    }

    .btn-alert {
      a {
        i {
          background: url("../img/common/ico-alert-white.svg") no-repeat 0 0;
          background-size: 100% auto;
        }
      }
    }
  }
}

.header-main {
  position: fixed;
  width: 100%;
  height: vw(60);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 vw(20);
  background-color: $gray-fff;
  z-index: 20 !important;

  &.header-slogan {
    padding: 0 vw(24);
  }

  .brand-logo {
    a {
      display: block;
      width: vw(50);
      height: vw(25);
      background: url("../img/common/logo-black.svg") no-repeat 0 0;
      background-size: 100% auto;
    }
  }

  .btn-alert {
    a {
      display: block;
    }
  }

  &.header-transparent {
    background-color: transparent;
    position: absolute;

    .brand-logo {
      a {
        background: url("../img/common/logo-white.svg") no-repeat 0 0;
        background-size: 100% auto;
      }
    }

    .btn-alert {
      a {
        i {
          background: url("../img/common/ico-alert-white.svg") no-repeat 0 0;
          background-size: 100% auto;
        }
      }
    }
  }

  &.scroll-up {
    top: vw(0);
  }
}

.header-details {
  z-index: 20;
  //transition: top 0.2s ease-in-out;
  position: relative;
  width: 100%;
  height: vw(60);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 vw(18);
  line-height: 1.155;
  background-color: #fff;

  .btn-prev {
    display: block;
    position: absolute;
    left: vw(17);
    top: 50%;
    transform: translateY(-50%);
  }

  + .body-details {
    padding-top: 0;
  }

  &.scroll-up {
    position: fixed;
    left: 0;
    top: vw(-60);

    + .body-details {
      padding-top: vw(60);
    }

    + .container {
      .freesample-application-section {
        padding: vw(80) vw(24) vw(24);
      }

      .skin-report-detail {
        padding-top: vw(60);
      }
    }
  }

  &.scroll-down {
    position: fixed;
    left: 0;
    top: 0;

    + .body-details {
      padding-top: vw(60);
    }

    + .container {
      .freesample-application-section {
        padding: vw(80) vw(24) vw(24);
      }

      .skin-report-detail {
        padding-top: vw(60);
      }
    }
  }
}

/* layout */
.wrap {
  position: relative;
  width: 100%;
  overflow: hidden;

  .container {
    max-width: none !important;
    padding: 0 !important;
  }
}

/* footer */
.footer {
  background-color: #000;
  padding-top: vw(35);
  padding-bottom: vw(157);
  color: #666666;

  .section {
    margin-left: vw(30);
    margin-right: vw(30);
  }

  .section_service_center {
    margin-bottom: vw(18);
    display: flex;
    justify-content: space-between;
    letter-spacing: normal;

    .info {
      color: $gray-fff;
      font-size: vw(14);

      .num {
        font-size: vw(28);
        font-weight: 700;
        line-height: 1;
      }
    }

    .time {
      line-height: 1;
      display: block;
      font-size: vw(11);
      color: #666;

      p {
        margin-bottom: vw(6);

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  .section_link {
    border-top: vw(1) solid #222;
    border-bottom: vw(1) solid #222;
    margin-bottom: vw(20);
    padding-top: vw(6);
    padding-bottom: vw(6);
    letter-spacing: normal;

    ul {
      li {
        display: inline-block;
        width: 33.3%;
        position: relative;

        &:before {
          content: '';
          display: block;
          background: #666;
          opacity: 0.5;
          width: vw(1);
          height: vw(8);
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: vw(-4);
        }

        &:nth-of-type(3n - 2):before {
          opacity: 0;
        }

        a {
          font-size: vw(11);
          font-weight: 500;
          color: #666;
          text-align: center;
          display: block;
          padding-top: vw(5);
          padding-bottom: vw(5);
        }
      }
    }
  }

  .section_brand {
    text-align: center;
    margin-bottom: vw(30);
    margin-top: vw(24);

    img {
      width: vw(190);
      height: auto;
    }
  }

  .section_more_info {
    margin-bottom: vw(20);

    .title {
      margin-top: vw(11);
      color: $gray-fff;
      font-size: vw(14);
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: center;

      .btn-more {
        background: url(../img/common/footer_arrow_round.png) no-repeat center center;
        width: vw(19);
        height: vw(19);
        display: inline-block;
        background-size: 100% auto;
        margin-left: vw(10);
        vertical-align: sub;

        &.show {
          transform: rotate(180deg);
        }
      }
    }

    .desc {
      display: none;

      &.show {
        margin-top: vw(11);
        display: block;
      }

      .address {
        margin-bottom: vw(20);

        li {
          display: inline-block;
          font-size: vw(11);
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: #666;

          span {
            &:first-of-type {
              padding-right: vw(10);
              position: relative;

              &:after {
                content: '';
                display: block;
                width: vw(1);
                height: vw(8);
                position: absolute;
                right: 0;
                top: 50%;
                margin-top: vw(-4);
                background: #282828;
                overflow: hidden;
              }
            }

            &:last-of-type {
              padding-left: vw(10);
            }
          }
        }
      }

      .business {
        margin-bottom: vw(20);

        > a {
          position: relative;
          display: inline-block;
          font-size: vw(11);
          font-weight: 500;
          font-stretch: normal;
          letter-spacing: normal;
          text-align: left;
          color: $gray-fff;
          margin-bottom: vw(17);

          &:after {
            content: '';
            display: block;
            width: 100%;
            height: vw(1);
            position: absolute;
            bottom: vw(-1);
            left: 0;
            background: $gray-fff;
          }

          .arrow-right {
            background: url(../img/common/footer_arrow_right_sm.svg) no-repeat center center;
            width: vw(7);
            height: vw(7);
            display: inline-block;
            background-size: 100% auto;
            margin-left: vw(7);
            vertical-align: middle;
          }
        }

        .copyright {
          font-size: vw(10);
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.6;
          letter-spacing: normal;
          color: #666;
        }
      }
    }
  }

  .section_family_site {
    position: relative;
    background-color: #222222;

    &:after {
      content: '';
      position: absolute;
      top: vw(15);
      right: vw(20);
      display: block;
      width: vw(10);
      height: vw(6);
      background: url(../img/common/footer-select-arrow.svg) no-repeat;
      background-size: contain;
      touch-action: none;
    }

    .footer-select {
      box-sizing: border-box;
      color: #666;
      appearance: none;
      display: block;
      height: vw(37);
      background: transparent url(../img/common/icon_earth.svg) no-repeat vw(15) 50%;
      background-size: vw(20) vw(20);
      padding-left: vw(45);
      line-height: 1.5;
      letter-spacing: vw(1);
      font-weight: 500;
      border: none;
      width: 100%;

      &:focus {
        outline: none;
        box-shadow: none;
      }

      option {
        color: #000000;
      }
    }
  }
}
