/*
|----------------------------------|
 v.0.1 태윤 : 최초 작업 -- 2021.12.09
 v.0.2 태윤 : modal-footer > .btn css속성 제거 (클래스로 버튼 색상 제어)
 v.0.3 주연 : vw 적용 -- 2021.12.14
|----------------------------------|
*/


.modal {
  word-break: keep-all;
  .modal-dialog {
    &.alert-popup {
      .modal-content {
        border-radius: vw(12);
        overflow: hidden;

        .modal-header {
          padding: vw(24) vw(24) 0 vw(24);
          border-bottom: none;

          .modal-title {
            font-size: vw(16);
            line-height: vw(24);
            letter-spacing: -0.005em;
            font-weight: 700;
            color: $gray-900;
          }
        }

        .modal-body {
          padding: vw(4) vw(24) vw(24) vw(24);
          text-align: left;
          color: $gray-800;
          font-size: vw(15);
          line-height: vw(22);
          font-weight: 400;

        }

        .modal-footer {
          display: flex;
          padding: 0;
          justify-content: space-between;

          .btn {
            display: inline-block;
            line-height: vw(50);
            background-color: #fff;
            border-color: #fff;
            border-radius: 0;
            font-weight: 400;
            font-size: vw(13);
            padding: 0;
            margin: 0;
            width: 50%;
            height: auto;
            color: $gray-600;

            + .btn {
              font-weight: 700;
              color: $gray-900;
              border-left: vw(1) solid $gray-300;
            }

            &.one {
              width: 100%;
              color: $gray-900;
              font-weight: 700;
            }
          }
        }
      }
    }

    &.modal-sm {
      width: vw(300);
      max-width: vw(300);
      margin: 0 auto;
    }
  }
  .btn {
    outline: none;
  }
}

.full-popup{
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: red;
  &.show{
    display: block;
  }
  &.full-popup{
    .popup-content{
      padding: vw(14) vw(24);
      .popup-header{
        position: fixed;
        top: 0px;
        left: 0px;
        height: vw(60);
        min-height: vw(60);
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .popup-body{
        height: calc (vw(100) - vw(60));
        padding: vw(20) 0px;
        .comment-list{
          .comment{
            background-color: #fff;
              border-radius: vw(12);
              padding: vw(20);
            &.manager{

            }
            +.comment.manager{

            }
          }
        }
      }
    }
  }
}
.toast-dim {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  background-color: rgba(33, 37, 41, 0.3);

  &.show {
    display: block;

    .toast-popup {
      .toast-content {
        bottom: 0;
        @keyframes animateup {
          from {
            bottom: vw(-300);
            opacity: 0;
          }
          to {
            bottom: 0;
            opacity: 1;
          }
        }
        animation: animateup 0.5s;
      }
    }
  }

  &.hide {
    display: block;

    .toast-popup {
      bottom: 0;

      .toast-content {
        @keyframes animatedown {
          from {
            bottom: 0;
            opacity: 1;
          }
          to {
            bottom: vw(-300);
            opacity: 0;
          }
        }
        animation: animatedown 0.5s;
      }
    }
  }

  .toast-popup {
    position: relative;
    width: auto;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    .toast-content {
      width: 100%;
      position: absolute;
      background-color: #fff;
      padding: vw(32);
      border-radius: vw(20) vw(20) 0 0;
      bottom: vw(-300);

      &.title {
        .toast-body {
          &.bg-docter {
            background-position: 100% 0;
            background-repeat: no-repeat;
            background-size: vw(115) vw(120);
            background-image: url("../img/common/img-docterAnn.png");
          }

          .main-title {
            text-align: left;
            margin-bottom: vw(6);

            span {
              color: $primary;
            }
          }

          .desc {
            font-size: vw(13);
            font-weight: 400;
            line-height: vw(18);
            letter-spacing: -0.005em;
            text-align: left;
            color: #666;
            margin-bottom: vw(24);
          }

          textarea {
            border-radius: vw(12);
            width: 100%;
            border: vw(1) solid #eee;
            min-height: vw(160);
            resize: none;
            padding: vw(20);
            margin-bottom: vw(12);

            &::placeholder {
              font-size: vw(15);
              font-style: normal;
              font-weight: 400;
              line-height: vw(22);
              letter-spacing: -0.005em;
              text-align: left;
              color: #bbb;
            }

            &:focus {
              outline: none;
            }
          }

          .caption {
            font-size: vw(13);
            font-style: normal;
            font-weight: 500;
            line-height: vw(18);
            letter-spacing: -0.005em;
            text-align: left;
            color: #888888;
          }

        }
      }

      &.no-title {
        &.non-member {
          .toast-body {
            .desc {
              margin-bottom: vw(12);
            }

          }

          .main-title {
            margin-bottom: vw(32);

            span {
              color: $primary;
            }
          }
        }

        &.type {
          .toast-body {
            .select-list {
              display: flex;
              flex-direction: column;

              .list {
                display: inline-block;
                display: flex;
                justify-content: space-between;
                align-content: center;
                margin-bottom: vw(28);
                cursor: pointer;

                .icon {
                  display: none;
                }

                &.active {
                  span {
                    color: $primary;
                  }

                  .icon {
                    display: block;
                  }
                }

                &:nth-last-of-type(1) {
                  margin-bottom: 0;
                }

                span {
                  font-family: Noto Sans KR;
                  font-size: vw(16);
                  font-weight: 400;
                  line-height: vw(24);
                  letter-spacing: -0.005em;
                  text-align: left;
                  color: $gray-800;
                }
              }
            }
          }
        }

        .main-title {
          margin-bottom: vw(12);
        }

        .desc {
          margin-bottom: vw(32);
        }
      }

      .toast-header {
        margin-bottom: vw(24);
        padding: 0;
        display: flex;
        align-content: center;
        justify-content: space-between;
        border-bottom: 0;

        .title {
          font-size: vw(20);
          font-weight: 700;
          line-height: vw(30);
          letter-spacing: -0.005em;
          text-align: left;
          color: #444444;
        }
      }

      .toast-body {
        padding: 0;
        margin-bottom: vw(24);

        .main-title {
          font-size: vw(16);
          font-weight: 700;
          line-height: vw(24);
          letter-spacing: -0.005em;
          text-align: center;

        }

        .desc {
          font-size: vw(16);
          font-weight: 400;
          line-height: vw(25);
          letter-spacing: -0.005em;
          text-align: center;
        }

        .img {
          margin: 0 auto vw(24);

          &.logo {
            width: vw(88);
            height: auto;

            img {
              width: 100%;
              height: auto;
            }
          }
        }

        .text-btn {
          display: block;
          font-size: vw(15);
          font-weight: 500;
          line-height: vw(22);
          letter-spacing: -0.005em;
          text-align: center;
          text-decoration: underline;
        }

        span {
          color: $blue;
        }
      }

      .toast-footer {
        .btn {
          width: 100%;
        }
      }

    }

  }

}

