/*
|----------------------------------|
 v.0.1 주연 : 최초 작업 -- 2021.11.30
 v.0.2 선미 : tab(width: 100vw -> 100% 변경) -- 2021.12.07
 v.0.3 선미 : tab(color -> $primary 변경) -- 2021.12.07
 v.0.4 선미 : tab-content 추가 -- 2021.12.13
|----------------------------------|
*/


.tab {
  width: 100%;
  height: 50px;
  background-color: $gray-fff;
  overflow-x: auto;
  overflow-y: hidden;
  font-weight: 700;
  padding: 0 25px;

  .item {
    float: left;
    height: 50px;
    padding-right: 28px;

    a {
      position: relative;
      display: inline-block;
      height: 100%;
      line-height: 50px;
      font-family: $poppins-semiBold;
      color: $gray-600;
      font-size: 15px;
    }

    &.active {
      a {
        color: $primary;

        &::after {
          content: '';
          width: 100%;
          height: 2px;
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: $primary;
        }
      }
    }
  }
}

.tab-content{
  .tab-pane{
    display: none;
    &.active{
      display: block;
    }
  }

}
