/*
|----------------------------------|
 v.0.1 주연 : 최초 작업 -- 2021.11.2
 v.0.2 주연 : vw 적용 -- 2021.12.14
|----------------------------------|
*/
.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: bold;
}

.font-poppins {
  font-family: $poppins-regular;
}

.font-poppins-medium {
  font-family: $poppins-medium;
}

.font-poppins-semiBold {
  font-family: $poppins-semiBold;
}

.font-h1 {
  font-size: vw(32);
  line-height: vw(44);
}

.font-h2 {
  font-size: vw(28);
  line-height: vw(39);
}

.font-h3 {
  font-size: vw(22);
  line-height: vw(33);
}

.font-h4 {
  font-size: vw(20);
  line-height: vw(30);
}

.font-h5 {
  font-size: vw(18);
  line-height: vw(28);
}

.font-h6 {
  font-size: vw(16);
  line-height: vw(25);
}

.font-body-1 {
  font-size: vw(15);
  line-height: vw(22);
}

.font-body-2 {
  font-size: vw(13);
  line-height: vw(18);
}
