/*
|----------------------------------------------------------------------|
 v.0.1 선미 : 최초 작업 -- 2021.12.16
|----------------------------------------------------------------------|
*/


/*고객제안 , 스킨멘토링*/
.view-details{
  .header-details{
    /*layout.scss*/

  }
  .body-details{

    .area-title{
      padding: vw(20) vw(25) vw(32);
      text-align: center;
      border-bottom:1px solid $gray-900;
      .badge-box{
        margin-bottom: vw(8);
      }
      .title{
        font-size: vw(28);
        line-height: vw(39);
        color: #222222;
        font-weight: 700;
        margin-bottom: vw(12);
      }
      .info-line{
        letter-spacing: 0;
        font-size: vw(13);
        display: flex;
        align-items: center;
        justify-content: center;
        .like{
          margin-right: vw(8);
          position: relative;
          .icon{
            width: vw(14);
            height: vw(14);
          }
          .num{
            font-weight: 600;
            color: $gray-700;
            vertical-align: middle;
          }
          &:after{
            content: '';
            display: inline-block;
            position: absolute;
            width:vw(1);
            height: vw(10);
            background-color: $gray-400;
            right: vw(-8);
            top: 50%;
            transform: translateY(-50%);
          }
        }
        .date{
          font-weight: 400;
          color: $gray-600;
          margin-left: vw(8);
        }

        &.on {
          .like {
            .icon {
              background-image: url(../img/common/ico-link-foc.svg);
            }
          }
        }

        .desc{
          color: $gray-700;
          font-size: vw(15);
        }
      }
    }
    .area-desc{
      padding: vw(48) vw(24) 0;
      >.text{
        word-break: keep-all;
        color: $gray-700;
        letter-spacing: 0;
        font-size: vw(16);
        .more{
          text-decoration: underline;
          font-weight: 500;
          color: $gray-500;
          font-size: vw(15);
        }
      }
      .divider{
        margin: vw(32) 0;
      }
      .product-box{
        margin-top: vw(48);
        background: $primary-light;
        border-radius: vw(16);
        padding: vw(12) vw(60) vw(12) vw(12);
        display: flex;
        align-items: center;
        >img{
          width: vw(76);
          height: vw(76);
          border-radius: vw(10);
        }
        .text{
          padding-left: vw(16);
          font-weight: 700;
          .name{
            font-size: vw(15);
            line-height: vw(22);
            color: $gray-800;
            margin-bottom: vw(8);
            display: inline-block;
          }
          .more{
            display: block;
            color: $primary;
            font-size: vw(12);
            line-height: vw(18);
            .ico-arrow-green-right{
              margin-left: vw(2);
            }
          }
        }


      }

      /*질문 title 영역*/
      .guidance{
        margin-bottom: vw(32);
        .sub-desc{
          padding-top: vw(12);
          color: $gray-600;
        }
      }
      /*질문 영역*/
      .asking{
        padding-bottom: vw(48);
        .font-h6{
          color: $gray-800;
          margin-bottom: vw(12);
          padding-top: vw(32);
          &:first-of-type{
            padding-top: 0;
          }
        }
        .select-popup{
          margin-bottom: 0;
        }
        .badge-box{
          .badge{
            margin-right: vw(6);
            margin-bottom: vw(12);
            background-color: $gray-300;
            color: $gray-800;
            &.active{
              background-color: $yellow;
              font-weight: bold;
            }
          }
        }
        .font_right{
          text-align: right;
          padding-top: vw(20);
          font-weight: bold;
          font-size: vw(18);
          color: $gray-800;
        }
        .question-box{
          .habit{
            li{
              background-color: $gray-fff;
              border-radius: vw(16);
              font-size: vw(16);
              color: $gray-800;
              font-weight: 700;
              margin-bottom: vw(16);
              padding: vw(20);
              &:last-of-type{margin-bottom: 0}
              >p{
                margin-bottom: vw(16);
                .num{
                  color: $gray-600;
                  margin-right: vw(4);
                }
              }
              >div{
                display: flex;
                justify-content: space-between;
                .btn{
                  width: 50%;
                  background-color: transparent;
                  border: 1px solid #dddddd;
                  color: $gray-500;
                  font-weight: 500;
                  padding: 0;
                  margin-right: vw(8);
                  &:last-of-type{
                    margin-right: 0;
                  }
                  &:active{
                    background-color: transparent!important;
                  }
                  &.active{
                    background-color: $blue!important;
                    color: $gray-fff;
                    border: unset;
                    font-weight: 700;
                  }
                }
              }

            }
          }
        }
        >textarea{
          margin-bottom: vw(12);
        }
      }
    }

    /*생활습관 펼쳐보기*/
    .unfold-box{
      margin-top: vw(48);
      border-top:1px solid $gray-400;
      padding: vw(32) vw(24) 0;
      &._unfold{
        background-color: $gray-200;
        border-top: none;
      }
      >.title{
        text-align: center;
        font-weight: 700;
        font-size: vw(15);
        color: $gray-800;
        span{
          vertical-align: middle;
          margin-right: vw(6);
        }
      }
      .list{
        display: none;
        padding-top: vw(56);
        >li{
          margin-bottom: vw(32);
          &:first-of-type{
            margin-bottom: vw(22);
          }
          &:last-of-type{
          margin-bottom: 0;
         }
          .sub-title{
            color: $gray-800;
            font-size: vw(16);
            line-height: vw(24);
            font-weight: 700;
            margin-bottom: vw(12);
          }

          .badge-box{
            .badge{
              font-weight: 700;
              margin-right: vw(6);
              margin-bottom: vw(10);
              &:last-of-type{
                margin-right: 0;
              }
            }
          }
          .habit{
            background-color: $gray-fff;
            border-radius: vw(12);
            padding: vw(20);
            li{
              font-size: vw(15);
              color: $gray-800;
              font-weight: 500;
              margin-bottom: vw(8);
              &:last-of-type{margin-bottom: 0}
              .num{
                color: $gray-600;
                margin-right: vw(4);
              }
              .answer{
                color: $blue;
                font-weight: 700;
                margin-left: vw(4);
              }
            }
          }
        }



      }
    }

    .btn-wrap{
      text-align: center;
      padding: vw(32) 0;
      .btn{
        +.btn{
          margin-left: vw(4);
        }
      }
      &.sns{
        padding: vw(48) 0 vw(32);
        >a{
          margin-right: vw(8);
          &:last-of-type{
            margin-right: 0;
          }
        }
      }
    }

    /*답변완료*/
    .answer-wrap{
      background-color: #f8f8f8;
      padding: vw(32) vw(57) vw(32) vw(24);
      margin-top: vw(32);
      .badge{
        margin-bottom: vw(8);
      }
      .text{
        color:$gray-800;
        font-size: vw(16);
      }
    }

    /*수정하기*/
    .edit-wrap{
      padding: vw(20) vw(24) vw(48);
      input{
        margin-bottom: vw(8);
      }
      .section-input{
        margin-bottom: vw(12);
      }
      .btn-wrap{padding: 0}
    }

    /*step*/
    .step-heading{
      padding: vw(20) vw(15) vw(32);
      margin: 0 auto;
      background-color: $gray-fff;
      font-size:0;

      .step{
        display: inline-block;
        position: relative;
        text-align: center;
        vertical-align: middle;
        padding:0;
        &:before{
          content: '..';
          display: inline-block;
          color: $gray-400;
          font-size: vw(20);
          position: absolute;
          right: vw(-6);
          top: vw(35);
        }
        .tit{
          font-size: vw(13);
          line-height: vw(18);
          font-weight: 400;
          color: $gray-600;
          display: block;
          margin-bottom: vw(13);

        }
        .icon{
          width: vw(56);
          height: vw(56);
        }
        &:nth-of-type(1){
          .icon{background: url("../img/mentoring/ico-step1.svg") no-repeat center center / 100% 100%;}
        }
        &:nth-of-type(2){
          .icon{background: url("../img/mentoring/ico-step2.svg") no-repeat center center / 100% 100%;}
        }
        &:nth-of-type(3){
          .icon{background: url("../img/mentoring/ico-step3.svg") no-repeat center center / 100% 100%;}
        }
        &:nth-of-type(4){
          .icon {background: url("../img/mentoring/ico-step4.svg") no-repeat center center / 100% 100%;}
          &:before{
            display: none;
          }
        }

        .smile-graph {
          display: none;
          margin: 0 auto ;
          padding: 0;
          list-style-type: none;
          overflow: hidden;
          position: relative;
          width: vw(64);
          height: vw(32);
          &::before { /*배경*/
            position: absolute;
            content: '';
            width: inherit;
            height: inherit;
            border: vw(10) solid #E9F7FF;
            border-top: none;
            border-bottom-left-radius: vw(32);
            border-bottom-right-radius: vw(32);
            top: 0;
            left: 0;
          }
          li { /*li기준점*/
            position: absolute;
            top: 0;
            left: 0;
            border: vw(10) solid;
            width: inherit;
            height: inherit;
            border-top: none;
            border-bottom-left-radius: vw(32);
            border-bottom-right-radius: vw(32);
            transform-origin: 50% 0;
            &.value{ /*실제 그래프*/
              z-index: 1;
              border-color: $blue;
              transform:rotateZ(100deg);
              animation: chartAni4 1s 0.5s ;
            }
          }
        }
        @keyframes chartAni4{
          0%{transform: rotateZ(180deg);}
        }

        &.active{
          .tit{
            font-weight: 700;
            color: $gray-900;
            margin-bottom: vw(37);
          }
          .icon{
            width: vw(44);
            height: vw(44);
            position: absolute;
            bottom: vw(10);
            left: 50%;
            transform: translateX(-50%);
          }
          &:nth-of-type(1){
            .icon{background: url("../img/mentoring/ico-step1-active.svg") no-repeat center center / 100% 100%;}
          }
          &:nth-of-type(2){
            .icon{background: url("../img/mentoring/ico-step2-active.svg") no-repeat center center / 100% 100%;}
          }
          &:nth-of-type(3){
            .icon{background: url("../img/mentoring/ico-step3-active.svg") no-repeat center center / 100% 100%;}
          }
          &:nth-of-type(4){
            .icon{background: url("../img/mentoring/ico-step4-active.svg") no-repeat center center / 100% 100%;}
          }
          .smile-graph{display: block}
        }
      }

    }

    /*이용약관 펼쳐보기*/
    .terms{
      .title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        padding: vw(17) vw(24);
        background-color: $gray-fff;
        border-top: 1px solid $gray-400;
        font-size: vw(16);
      }
      .list-with-dot{
        padding: vw(32) vw(23);
        display: none;
      }

    }
  }
  .footer-details{
    border-top: 1px solid $gray-400;
    padding: vw(32) vw(20) vw(48);
    &.bg-dark{
      background-color: $gray-800!important;
      padding: vw(20);
      .page-btn-wrap{
        a{
          color: $gray-fff;
        }
        /*오른쪽 정렬일 경우 (기본은 space-between)*/
        &.btn-next{
          justify-content: flex-end;
        }
      }
    }
  }
}
