/*
|--------------------------------------------------------------------|
 v.0.1 주연 : 최초 작업 -- 2021.11.30
|--------------------------------------------------------------------|
*/

/** ---------------------------------------------------------------------------------
* ## 탭 UIO
* --------------------------------------------------------------------------------- */
.tab__uio {font-size:0;}
.tab__uio .tab {text-transform:uppercase;display:inline-block;}
.tab__uio__top {position:relative;height:61px;white-space:nowrap;background-color:#f4f4f4;text-align:center;font-size:0;line-height:1;}
.tab__uio__top:before,.tab__uio__top:after {content:'';display:block;position:absolute;pointer-events:none;touch-action:none;width:100%;bottom:0;left:0;overflow:hidden;}
.tab__uio__top:before {height:1px;z-index:3;background:#ddd;bottom:-1px;}
.tab__uio__top:after {height:22px;background-image:linear-gradient(to bottom, #f4f4f4, #eaeaea);z-index:2;}
.tab__uio__top .tab {font-size:0;line-height:1;position:relative;font-weight:normal;font-stretch:normal;font-style:normal;line-height:1.5;letter-spacing:normal;text-align:left;color:#000;width:50%;height:61px;text-align:center;z-index:1;}
.tab__uio__top .tab:before {content:'';display:block;width:1px;height:100%;overflow:hidden;background:#efefef;position:absolute;left:0;top:0;z-index:2;opacity:1;}
.tab__uio__top .tab.active {background:#fff;z-index:3;}
.tab__uio__top .tab.active:before {opacity:1;}
.tab__uio__top .tab.active:after {content:'';position:absolute;display:block;width:100%;height:10px;bottom:-1px;left:0;overflow:hidden;background:#fff;}
.tab__uio__top .tab strong,.tab__uio__top .tab span {position:relative;display:inline-block;line-height:61px;vertical-align:middle;height:23px;line-height:23px;top:20px;font-weight:normal;font-stretch:normal;font-style:normal;letter-spacing:normal;color:#000;}
.tab__uio__top .tab strong {font-size:16px;font-family:'Poppins',sans-serif;font-weight:600;}
.tab__uio__top .tab span {font-size:12px;margin-left:10px;}
.tab__uio.is__quration {width:1300px;transition:all 0.2s ease 0s;}
.tabs {font-size:0;}
.tabs_simple .tab {height:16px;font-size:14px;font-weight:normal;letter-spacing:-0.42px;text-align:center;color:rgba(17, 17, 71, 0.4);padding-left:15px;padding-right:15px;position:relative;cursor:pointer;}
.tabs_simple .tab:after {content:'';display:block;width:1px;position:absolute;right:0;top:0;height:12px;top:50%;margin-top:-6px;overflow:hidden;background:#eaeaea;}
.tabs_simple .tab.act {color:#1d1d17;}
.tabs_simple .tab:last-child {padding-right:0;}
.tabs_simple .tab:last-child:after {opacity:0;}
@media all and (max-width:1599px) {
  .tab__uio__type2 .tab {height:52px;}
  .tab__uio__type2 .tab > span {height:52px;line-height:52px;font-size:15px;}
  .tab__uio.is__quration {width:1134px;}
}
@media all and (min-width:1600px) {
  .module__banner .dbtn-close {right:39.9px;}
}
@media all and (min-width:1921px) {
  .module__banner .dbtn-close {right:39.9px;}
}

/** ---------------------------------------------------------------------------------
* ## 레이아웃 | 상단탭
* --------------------------------------------------------------------------------- */
.l__wrap {min-width:1280px;max-width:2560px;overflow:hidden;margin-left:auto;margin-right:auto;/*margin-top:-100px;will-change:margin-top;transition:margin-top 0.3s 0s linear;*/}
.l__wrap.showing {margin-top:0px;}
.l__wrap.hidebnr .srch_bar_wrap {position:fixed;margin-top:-100px;transition:margin-top 0.3s 0s linear;}
.l__wrap.fixed_gnb .gnb__wrap .l__gnb {position:fixed;left:0;top:0;animation:eft-slide-bottom 0.1s 0s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;}
.l__wrap.fixed_gnb .gnb__wrap .space_div_white,.l__wrap.fixed_gnb .gnb__wrap .gnb_baumann__wrap {position:fixed;}
.l__wrap.fixed_gnb .module_top_wrap {position:fixed;animation:eft-slide-bottom 0.1s 0s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;}
.l__wrap.fixed_gnb .module_pop_top_wrap {position:fixed;top:0px;}
.l__wrap.fixed_gnb .srch_bar_wrap {position:fixed;top:115px;margin-top:0;transition:margin-top 0.3s 0s linear; z-index:99;}
.l__top__banner,.l__top__tab {position:relative;z-index:13;}

/* custom */
.tab__uio__top .tab {
  background-color: transparent;
  overflow-x: visible;
  overflow-y: visible;
  border-bottom: 0;
}
.tab__uio__top .tab strong {
  font-family: $poppins-semiBold;
}

/** ---------------------------------------------
 * # 레이아웃 | 하단
 * ----------------------------------------------
 * 1. 하단 로고 정의
 * 2. 하단 메뉴 정의
 * 3. 회사 정보 정의
 * 4. SNS 메뉴 정의
 * 5. 고객센터 안내 정의
 * 6. 언어변경 정의
*/
.l__footer {background:#222;line-height:0;font-size:0;position:relative;z-index:40;min-height:340px;}
.l__footer .footer__in {position:relative;font-size:0px;padding-top:60px;padding-bottom:62px;max-width:1300px;will-change:width;transition:width 0.3s 0s linear;margin-left:auto;margin-right:auto;}
.l__footer .footer__in aside {width:190px;position:absolute;right:0;top:62px;}
.l__footer .footer__in aside .subLogo {display:block;max-width:190px;margin-top:21px;}
.l__footer .footer__in nav.l__fnb {display:flex;width:calc(100% - 200px);align-items:center;}
.l__footer .footer__in .logo {position:relative;width:66px;display:block;}
.l__footer .footer__in .logo img {opacity:1;will-change:opacity;transition:opacity 0.3s 0s linear;}
.l__footer .footer__in .l__fnb ul {margin-left:3px;}
.l__footer .footer__in .l__fnb li {display:inline-block;}
.l__footer .footer__in .l__fnb li a {font-stretch:normal;font-style:normal;display:inline-block;font-weight:500;font-size:14px;color:#888888;padding:0 30px;will-change:padding, color;transition:padding 0.3s 0s linear, color 0.3s 0s linear;}
.l__footer .footer__in .l__fnb li a:hover {color:#fff;}
.l__footer .footer__in .l__desc {margin-top:44px;will-change:top;transition:top 0.3s 0s linear;line-height:1;}
.l__footer .footer__in .l__desc p.corp {font-weight:bold;font-size:14px;margin-bottom:20px;font-stretch:normal;font-style:normal;letter-spacing:normal;color:#fff;will-change:margin;transition:margin 0.3s 0s linear;}
.l__footer .footer__in .l__desc ul.items {font-size:0;width:652px;display:block;will-change:width;transition:width 0.3s 0s linear;}
.l__footer .footer__in .l__desc ul.items li {display:inline-block;position:relative;font-weight:normal;font-size:12px;color:#a7a9ac;line-height:2;}
.l__footer .footer__in .l__desc ul.items li.address {width:652px;}
.l__footer .footer__in .l__desc ul.items li.corp_ceo:after,.l__footer .footer__in .l__desc ul.items li.corp_regnum:after {content:'';display:block;background:#333;position:absolute;overflow:hidden;width:1px;height:10px;right:0;top:50%;margin-top:-5px;}
.l__footer .footer__in .l__desc ul.items li.corp_ceo {padding-right:15px;}
.l__footer .footer__in .l__desc ul.items li.corp_regnum {padding-left:13px;padding-right:16px;}
.l__footer .footer__in .l__desc ul.items li.corp_marketnum {padding-left:11px;padding-right:20px;}
.l__footer .footer__in .l__desc ul.items li.corp_regnum_inq {width:103px;font-size:0;}
.l__footer .footer__in .l__desc ul.items li.corp_regnum_inq a {width:100%;display:block;text-align:center;font-size:11px;color:#fff;height:25px;line-height:21px;border:1px solid #fff;box-sizing:border-box;}
.l__footer .footer__in .l__desc ul.items li.corp_regnum_inq a:after {content:'';display:inline-block;width:7px;height:7px;background:url('../img/common/btn_ico_arr_right_xs.svg') no-repeat;background-size:contain;margin-left:5px;vertical-align:middle;}
.l__footer .footer__in .sns__group {margin-bottom:26px;}
.l__footer .footer__in .sns__group .sns {width:40px;height:40px;display:inline-block;}
.l__footer .footer__in .sns__group .sns + .sns {margin-left:10px;}
.l__footer .footer__in .sns__group .sns.sns-kakaoch {width:40px;height:40px;}
.l__footer .footer__in .sns__group .sns.sns-kakaoch a {display:block;width:100%;height:100%;background:url('../img/common/sns_kakaoch.png') no-repeat 50%;background-size:40px 40px;}
.l__footer .footer__in .sns__group .sns.sns-youtube {width:40px;height:40px;}
.l__footer .footer__in .sns__group .sns.sns-youtube a {display:block;width:100%;height:100%;background:url('../img/common/sns_youtube.png') no-repeat 50%;background-size:40px 40px;}
.l__footer .footer__in .sns__group .sns.sns-facebook {width:40px;height:40px;}
.l__footer .footer__in .sns__group .sns.sns-facebook a {display:block;width:100%;height:100%;background:url('../img/common/sns_facebook.png') no-repeat 50%;background-size:40px 40px;}
.l__footer .footer__in .sns__group .sns.sns-insta {width:40px;height:40px;}
.l__footer .footer__in .sns__group .sns.sns-insta a {display:block;width:100%;height:100%;background:url('../img/common/sns_insta.png') no-repeat 50%;background-size:40px 40px;}
.l__footer .footer__in .l__cs h5 {font-size:14px;font-weight:normal;font-stretch:normal;font-style:normal;color:#fff;line-height:1;}
.l__footer .footer__in .l__cs h5 a {font-size:16px;font-weight:bold;font-family:'Roboto',sans-serif;margin-left:10px;color:#fff;height:12px;display:inline-block;vertical-align:top;}
.l__footer .footer__in .l__cs ul.items {display:block;margin-top:25px;font-size:0;}
.l__footer .footer__in .l__cs ul.items li {font-size:12px;color:#a7a9ac;line-height:1;}
.l__footer .footer__in .l__cs ul.items li + li {margin-top:13px;}
.l__footer .footer__in .l__language {margin-top:14px;display:flex;align-items:center;}
.l__footer .footer__in .l__language dl {position:relative;width:190px;font-size:0;}
.l__footer .footer__in .l__language dl dt button {margin:0;padding:0;font-size:0;width:190px;height:34px;color:#a7a9ac;text-align:left;border-bottom:2px solid #b1b3b6;outline:none;box-sizing:border-box;}
.l__footer .footer__in .l__language dl dt button .ico-global {width:20px;height:21px;background:url('../img/common/ico__global.svg') no-repeat 0 0;background-size:contain;display:inline-block;}
.l__footer .footer__in .l__language dl dt button .ico,.l__footer .footer__in .l__language dl dt button span {display:inline-block;vertical-align:middle;font-size:14px;line-height:21px;}
.l__footer .footer__in .l__language dl dt button span {margin-left:10px;font-weight:bold;}
.l__footer .footer__in .l__language dl dt button:after {content:'';width:8px;height:6px;position:absolute;left:171px;top:17px;background:url('../img/common/btn_ico_arrbox_bottom_xs.svg') no-repeat 0 0;background-size:contain;transform:rotate(0deg);}
.l__footer .footer__in .l__language dl dt.act button:after {transform:rotate(-180deg);}
.l__footer .footer__in .l__language dl dd {position:absolute;bottom:0;left:0;display:block;width:100%;background:#fff;box-shadow:10px 10px 20px 0 rgba(0, 0, 0, 0.1);opacity:0;pointer-events:none;touch-action:none;}
.l__footer .footer__in .l__language dl dd.show {pointer-events:fill;touch-action:auto;}
.l__footer .footer__in .l__language dl dd a {display:block;font-size:14px;font-weight:500;font-stretch:normal;font-style:normal;line-height:1;letter-spacing:-0.35px;text-align:left;color:#999;padding:10px 30px;}
.l__footer .footer__in .l__language dl dd a:hover {color:#333;}
.l__footer .footer__in .corp_copyright {display:inline-block;position:relative;font-weight:normal;font-size:12px;color:#a7a9ac;line-height:2;margin-left:26px;}

@media all and (max-width:1599px) {
  .l__footer .footer__in {width:1134px;}
  .l__footer .footer__in .l__fnb li a {padding:0 17px;}
  .l__footer .footer__in .l__desc {margin-top:84px;}
  .l__footer .footer__in .l__desc p.corp {margin-bottom:25px;}
  .l__footer .footer__in .l__desc ul.items {width:628px;}
}

.l__footer {
  .dbtn, button, [type="button"], [type="reset"], [type="submit"] {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    -webkit-appearance: button;
    outline: none;
    cursor: pointer;
    line-height: 1;
    box-sizing: border-box;
  }
}
