/*
|--------------------------------------------------------------------|
 v.0.1 주연 : 최초 작업 -- 2022.01.27
|--------------------------------------------------------------------|
*/
.bg-primary { background-color: $primary;}
.bg-blue { background-color: $blue;}
.bg-violet { background-color: $violet;}
.bg-gray{ background-color: $gray-200;}

.color-primary { color: $primary;}
.color-blue { color: $blue;}
.color-yellow { color: $yellow;}
.color-violet { color: $violet;}
.color-red { color: $error !important;}

.bg-gradient-red {
  background: linear-gradient(90deg, #F24A4A 0%, #FFB9B9 100%) !important;
}
.bg-gradient-red-2 {
  background: linear-gradient(90deg, #FFB9B9 0%, #F24A4A 100%) !important;
}
.bg-gradient-blue {
  background: linear-gradient(90deg, #CEFCF1 0%, #2DAFF9 100%) !important;
}
.bg-gradient-green {
  background: linear-gradient(90deg, #E8FEB3 0%, #46D269 100%) !important;
}
