/*
|--------------------------------------------------------------------|
 v.0.1 주연 : 최초 작업 -- 2022.01.27
|--------------------------------------------------------------------|
*/
.bg-primary { background-color: $primary;}
.bg-blue { background-color: $blue;}
.bg-violet { background-color: $violet;}
.bg-gray{ background-color: $gray-200;}

.color-primary { color: $primary;}
.color-blue { color: $blue;}
.color-yellow { color: $yellow;}
.color-violet { color: $violet;}
.color-red { color: $error !important;}
