/*
|--------------------------------------------------------------------|
 v.0.1 주연 : 최초 작업 -- 2022.01.27
 v.0.2 선미 : heading-box 추가  -- 2022.02.07
 v.0.3 선미 : chatbot-box {position : absolute / 멘토링,성분분석 사용} 추가  -- 2022.02.07
 v.0.4 선미 :  header (_scroll) 추가 -- 2022.02.07
|--------------------------------------------------------------------|
*/

/* layout */
.wrap {
  position: relative;
  width: 100%;
  //max-width: 1920px;
  min-width: 1242px;
  margin: 0 auto;
  //overflow: hidden;

  .container {
    max-width: 1242px !important;
    min-width: 1242px;
    padding: 0 !important;
    //min-height: 1354px;
  }

  .container-fluid {
    padding: 0;
  }

  .heading-box {
    padding: 40px 0 80px;
    text-align: center;

    .font-h1 {
      margin-bottom: vw(12);
    }

    .font-h6 {
      color: $gray-700;
    }
  }
}

/* header */
.header {
  width: 100%;
  border-bottom: 1px solid $gray-300;

  .inner {
    display: flex;
    align-items: center;
    max-width: 1242px;
    min-width: 1242px;
    height: 100%;
    margin: 0 auto;
    padding: 28px 0;

    .logo {
      width: 60px;
      margin-right: 81px;

      img {
        width: 100%;
      }
    }

    .menu {
      ul {
        display: flex;
        align-items: center;

        .item {
          a {
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
          }

          + .item {
            margin-left: 48px;
          }
        }
      }
    }

    .link {
      margin-left: 79px;
      display: flex;
      align-items: center;

      .btn-alert, .btn-mypage {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
      }

      .btn-alert {
        position: relative;
        margin-left: 24px;

        &.on {
          &::after {
            content: '';
            position: absolute;
            right: 0;
            width: 3.33px;
            height: 3.33px;
            top: 0;
            border-radius: 50%;
            background-color: $error;
          }
        }
      }
    }
  }

  &._scroll {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 30;
    background-color: $gray-fff;
  }

  &.scroll-down {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 30;
    background-color: $gray-fff;

    + .container {
      padding-top: 86px !important;
    }
  }
}

/* location */
.location-box {
  height: 48px;

  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 1242px;
    height: 100%;
    margin: 0 auto;

    .item {
      display: flex;
      align-items: center;
      position: relative;
      height: 100%;

      a {
        display: flex;
        align-items: center;
        font-size: 12px;
        line-height: 16px;
        color: $gray-700;
        height: 100%;
      }

      + .item {
        margin-left: 19px;

        &::after {
          content: '';
          position: absolute;
          top: 23px;
          left: -11px;
          width: 3px;
          height: 3px;
          border-radius: 50%;
          background-color: $gray-500;
        }
      }
    }
  }
}

/* chatbot */
.chatbot-box {
  width: 100%;
  height: 240px;
  padding-left: 60px;
  padding-top: 23px;

  &.bg-light-gray {
    background-color: $gray-200;
  }

  .chatbot {
    display: block;
    @include background-img($width: 159, $height: 188, $category: 'common', $img: 'Dr.ann.png');
  }
}


/*멘토링 ,성분분석 따로 관리 - 여백 */
.mentoring-wrap {
  .chatbot-box {
    height: 240px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
  }
}
