/*
|--------------------------------------------------------------------|
 v.0.1 주연 : 최초 작업 -- 2022.01.27
 v.0.2 선미 : heading-box 추가  -- 2022.02.07
 v.0.3 선미 : chatbot-box {position : absolute / 멘토링,성분분석 사용} 추가  -- 2022.02.07
 v.0.4 선미 :  header (_scroll) 추가 -- 2022.02.07
|--------------------------------------------------------------------|
*/

/* layout */
.wrap {
  position: relative;
  width: 100%;
  //max-width: 1920px;
  min-width: 1242px;
  margin: 0 auto;
  //overflow: hidden;

  .container {
    position: relative;
    max-width: 1242px !important;
    min-width: 1242px;
    padding: 0 !important;
    //min-height: 1354px;
  }

  .container-fluid {
    position: relative;
    padding: 0;
  }

  .heading-box {
    padding: 40px 0 80px;
    text-align: center;

    .font-h1 {
      margin-bottom: vw(12);
    }

    .font-h6 {
      color: $gray-700;
    }
  }
}

/* header */
.header {
  position: relative;
  width: 100%;
  border-bottom: 1px solid $gray-300;
  z-index: 5;

  &.hovering {
    //height: 148px;
    //
    .header-mask {
      display: block;
      opacity: 1;
    }
  }

  .header-mask {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 10px;
    background-color: #fff;
    height: 148px;
    pointer-events: none;
    opacity: 1;
    will-change: opacity, transform;
    transform: translateY(-10px);
    transition: opacity 0.1s 0s linear, transform 0.2s 0s linear;
    box-shadow: 0 2px 6px rgba(34, 34, 34, 0.06);

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 86px;
      width: 100%;
      height: 1px;
      background-color: $gray-300;
    }
  }

  .inner {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 1242px;
    min-width: 1242px;
    height: 86px;
    margin: 0 auto;
    padding: 28px 0;

    .logo {
      width: 60px;
      margin-right: 80px;

      img {
        width: 100%;
      }
    }

    .menu {
      > ul {
        display: flex;
        align-items: center;

        .item {
          > a {
            position: relative;
            display: inline-block;
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;

            &:hover {
              color: $primary;

              &::after {
                content: '';
                position: absolute;
                bottom: -32px;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $primary;
              }
            }
          }

          + .item {
            padding-left: 48px;
          }

          &.hovering {
            .sub-menu {
              display: flex;
              opacity: 1;
            }
          }

          &:nth-child(1) {
            .sub-menu {
              padding-left: 141px;
            }
          }

          &:nth-child(2) {
            .sub-menu {
              padding-left: 82px;
            }
          }

          &:nth-child(3) {
            .sub-menu {
              padding-left: 167px;
            }
          }

          &:nth-child(4) {
            .sub-menu {
              padding-left: 482px;
            }
          }

          &:nth-child(5) {
            .sub-menu {
              padding-left: 574px;
            }
          }

          &:nth-child(6) {
            .sub-menu {
              padding-left: 616px;
            }
          }

          &:nth-child(7) {
            .sub-menu {
              padding-left: 811px;
            }
          }

          &:last-child {
            > a {
              &:hover {
                &::after {
                  content: none;
                }
              }
            }
          }
         &.on {
           > a {
             color: $primary;

             &::after {
               content: '';
               position: absolute;
               bottom: -32px;
               left: 0;
               width: 100%;
               height: 2px;
               background-color: $primary;
             }
           }
         }
        }
      }

      .sub-menu {
        display: none;
        position: absolute;
        width: 100%;
        height: 61px;
        background-color: #fff;
        left: 0;
        top: 87px;
        z-index: 20;
        opacity: 0;
        align-items: center;
        transition: opacity 0.1s 0s linear, transform 0.2s 0s linear;

        > li {
          + li {
            margin-left: 40px;
          }

          a {
            font-size: 14px;
            font-weight: 500;
            line-height: 22px;
            color: $gray-800;

            &:hover {
              color: $primary;
            }
          }

          &.on {
            a {
              color: $primary;
            }
          }
        }
      }
    }

    .link {
      margin-left: 78px;
      display: flex;
      align-items: center;

      .btn-alert, .btn-mypage {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 21px;
        height: 21px;
      }

      .btn-alert {
        position: relative;
        //cursor: pointer;
        margin-left: 24px;

        i {
          cursor: pointer;
        }

        &.on {
          &::after {
            content: '';
            position: absolute;
            right: 0;
            width: 3.33px;
            height: 3.33px;
            top: 0;
            border-radius: 50%;
            background-color: $error;
          }
        }
      }
    }
  }

  &._scroll {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 30;
    background-color: $gray-fff;
  }

  &.scroll-down {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 30;
    background-color: $gray-fff;

    + .container {
      padding-top: 86px !important;
    }
  }
}

/* location */
.location-box {
  height: 48px;

  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 1242px;
    height: 100%;
    margin: 0 auto;

    .item {
      display: flex;
      align-items: center;
      position: relative;
      height: 100%;

      a {
        display: flex;
        align-items: center;
        font-size: 12px;
        line-height: 16px;
        color: $gray-700;
        height: 100%;
      }

      + .item {
        margin-left: 19px;

        &::after {
          content: '';
          position: absolute;
          top: 23px;
          left: -11px;
          width: 3px;
          height: 3px;
          border-radius: 50%;
          background-color: $gray-500;
        }
      }
    }
  }
}

/* chatbot */
.chatbot-box {
  position: absolute;
  width: 1px;
  left: 0;
  bottom: 0;
  padding-top: 30px;
  padding-bottom: 30px;

  &.bg-light-gray {
    background-color: $gray-200;
  }

  .chatbot {
    cursor: pointer;
    position: absolute;
    width: 99px;
    height: 129px;
    left: 60px;
    bottom: 30px;
    display: block;

    img {
      width: 100%;
    }

    .tip {
      display: none;
      max-width: 292px;
      position: absolute;
      padding: vw(8) 16px;
      font-size: 13px;
      line-height: 18px;
      color: $gray-800;
      background-color: #fff;
      box-shadow: 0 3px 2px rgba(34, 34, 34, 0.04);
      border-radius: vw(12);
      white-space: nowrap;
      left: 0;
      bottom: 143px;
      border: 1px solid $gray-400;

      .btn-chatbot-close {
        position: absolute;
        top: vw(-8);
        right: -12px;
        @include background-img($width: 24, $height: 24, $category: 'common', $img: 'ico-chatbot-close.svg');
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 32px;
        width: 8px;
        height: 1px;
        background-color: #fff;
        z-index: 3;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -9px;
        left: 30px;
        width: 11px;
        height: 9px;
        @include background-img($width: 11, $height: 9, $category: 'common', $img: 'ico-chatbot-tip.svg');
      }
    }
  }
}

/* float button */
.float-button-box {
  position: fixed;
  z-index: 41;
  top: 50%;
  transform: translateY(-50%);
  right: 60px;

  .float-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background: $gray-800;
    box-shadow: 0 3px 2px rgba(34, 34, 34, 0.04);

    + .float-button {
      margin-top: vw(10);
    }

    &.float-button-white {
      background-color: #fff;
      border: 2px solid $gray-800;

      span {
        color: $gray-800;
      }
    }

    span {
      display: block;
      text-align: center;
      color: #fff;
      font-weight: bold;
      font-size: 13px;
      line-height: 18px;
    }
  }
}

/*멘토링 ,성분분석 따로 관리 - 여백 */
.mentoring-wrap {
  .chatbot-box {
    height: 240px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
  }
}

/* 알림 */
.notice-popup {
  display: none;
  position: absolute;
  width: 280px;
  height: 573px;
  background: #FFFFFF;
  border: 1px solid $gray-400;
  top: 43px;
  right: -20px;
  z-index: 5;
  border-radius: 16px;

  &.show {
    display: block;
  }

  &::after {
    content: '';
    position: absolute;
    right: 22px;
    top: -7px;
    @include background-img ($width: 12, $height: 7, $category: 'common', $img: 'ico-notice-tip.svg');
  }

  &::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 1px;
    background-color: #fff;
    right: 24px;
    top: -1px;
    z-index: 6;
  }

  .popup-header {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0 20px;
    border-radius: 16px 16px 0 0;

    .title {
      font-size: 18px;
      line-height: 28px;
    }

    .ico-close {
      width: 16px;
      height: 16px;
    }
  }

  .popup-content {
    padding: 0;
  }

  .toggle-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px 12px;

    .custom-switch {
      padding-top: 2px;
      padding-left: 40px;
      transform: translateX(6px);
    }

    .font-body-1 {
      color: $gray-800;
      font-weight: 500;
    }
  }

  .notice-list {
    overflow-y: auto;
    max-height: 477px;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .item {
      display: block;
      padding: 16px 16px 15px;

      &.active {
        background-color: #d5f4ef;
      }

      .title {
        font-weight: bold;
        font-size: 13px;
        line-height: 18px;
        color: $gray-800;
        margin-bottom: vw(4);
      }

      .content {
        font-size: 13px;
        line-height: 18px;
        color: $gray-700;
        margin-bottom: vw(12);
        //@include ellipsis(2);
      }

      .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .date {
          font-family: $poppins-regular;
          font-size: 12px;
          line-height: 16px;
          color: $gray-600;
        }

        .btn-delete {
          display: flex;
          align-items: center;

          .ico-delete {
            width: 18px;
            height: 18px;
          }
        }
      }

      + .item {
        border-top: 1px solid $gray-300;
      }
    }
  }
}
