/*
|--------------------------------------------------------------------|
 v.0.1 주연 : 최초 작업 -- 2022.01.27
|--------------------------------------------------------------------|
*/
.tab {
  width: 100%;
  height: vw(64);
  background-color: $gray-fff;
  overflow-x: auto;
  overflow-y: hidden;
  border-bottom: 1px solid $gray-300;

  &.tab-blue {
    .item {
      &.active {
        a {
          color: $blue;
        }
        &::after {
          background-color: $blue;
        }
      }
    }
  }

  &.tab-violet {
    .item {
      &.active {
        a {
          color: $violet;
        }
        &::after {
          background-color: $violet;
        }
      }
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
  }

  .item {
    position: relative;
    width: 100%;
    height: vw(64);

    a {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-family: $poppins-semiBold;
      font-size: vw(16);
      font-weight: 600;
      line-height: vw(64);
      color: $gray-600;
    }

    &.active {
      a {
        color: $primary;
      }

      &::after {
        content: '';
        width: 100%;
        height: vw(2);
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $primary;
      }
    }
  }
}

.tab-content {
  .tab-pane {
    display: none;

    &.active {
      display: block;
    }
  }
}
