/*
|--------------------------------------------------------------------|
 v.0.1 주연 : 최초 작업 -- 2022.01.27
|--------------------------------------------------------------------|
*/
.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: bold;
}

.font-poppins {
  font-family: $poppins-regular;
}

.font-poppins-medium {
  font-family: $poppins-medium;
}

.font-poppins-semiBold {
  font-family: $poppins-semiBold;
}

.font-ko {
  font-family: $font !important;
}

.font-h1 {
  font-size: 52px;
  line-height: 64px;
  letter-spacing: -0.01em;
}

.font-h2 {
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -0.01em;
}

.font-h3 {
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.01em;
}

.font-h4 {
  font-size: 24px;
  line-height: 35px;
}

.font-h5 {
  font-size: 20px;
  line-height: 30px;
}

.font-h6 {
  font-size: 18px;
  line-height: 28px;
}

.font-body-1 {
  font-size: 16px;
  line-height: 24px;
}

.font-body-2 {
  font-size: 15px;
  line-height: 22px;
}

.font-sm-1 {
  font-size: 13px;
  line-height: 18px;
}

.font-sm-2 {
  font-size: 12px;
  line-height: 16px;
}
