/*
|----------------------------------------------------------------------|
 v.0.1 선미 : 최초 작업 -- 2021.02.04
|----------------------------------------------------------------------|
*/

/*고객제안 , 스킨멘토링*/
.view-details {
  .body-details {
    width: 900px;
    margin: 0 auto;

    .area-title {
      padding: 40px 0 40px;
      text-align: center;
      border-bottom: 1px solid $gray-900;

      .badge-box {
        margin-bottom: 10px;
      }

      .title {
        word-break: keep-all;
      }

      .info-line {
        padding-top: 8px;

        .desc {
          color: $gray-700;
        }

        .like-box {
          padding-top: 20px;

          .like {
            margin-right: 10px;
            position: relative;

            .icon {
              width: 16px;
              height: 16px;
              margin-bottom: 4px;
            }

            .num {
              font-family: $poppins-semiBold;
              font-weight: 600;
              font-size: 15px;
              color: $gray-700;
              vertical-align: middle;
            }

            &:after {
              content: '';
              display: inline-block;
              position: absolute;
              width: 1px;
              height: 12px;
              background-color: $gray-400;
              right: -10px;
              top: 50%;
              transform: translateY(-50%);
            }

            + .date {
              margin-left: 10px;
            }
          }

          .date {
            font-weight: 400;
            font-size: 15px;
            color: $gray-600;
          }

          &.on {
            .like {
              .icon {
                background-image: url(../img/common/ico-link-foc.svg);
              }
            }
          }
        }
      }
    }

    .area-desc {
      padding: 60px 0;

      &.answer_paddng {
        padding-bottom: 0;
      }

      > .text {
        word-break: keep-all;
        color: $gray-700;
        letter-spacing: 0;
        font-size: vw(16);

        .more {
          text-decoration: underline;
          font-weight: 500;
          color: $gray-500;
          font-size: vw(15);
        }
      }

      .product-box {
        margin-top: 60px;
        background: $primary-light;
        border-radius: 16px;
        padding: 24px;
        display: flex;
        align-items: center;

        > img {
          width: 100px;
          height: 100px;
          border-radius: 12px;
        }

        .text {
          padding-left: 30px;

          .name {
            color: $gray-800;
            font-weight: 500;
            margin-bottom: 8px;
            display: inline-block;
          }

          .more {
            display: block;
            color: $primary;

            span {
              display: inline-block;
              vertical-align: middle;
            }

            .ico-arrow-green-right {
              margin-left: 4px;
              transform: translateY(1px);
            }
          }
        }


      }
    }

    /*생활습관 펼쳐보기*/
    .unfold-box {
      margin-top: vw(48);
      border-top: 1px solid $gray-400;
      padding: vw(32) vw(24) 0;

      &._unfold {
        background-color: $gray-200;
        border-top: none;
      }

      > .title {
        text-align: center;
        font-weight: 700;
        font-size: vw(15);
        color: $gray-800;

        span {
          vertical-align: middle;
          margin-right: vw(6);
        }
      }

      .list {
        display: none;
        padding-top: vw(56);
        padding-bottom: vw(48);

        > li {
          margin-bottom: vw(32);

          &:first-of-type {
            margin-bottom: vw(22);
          }

          &:last-of-type {
            margin-bottom: 0;
          }

          .sub-title {
            color: $gray-800;
            font-size: vw(16);
            line-height: vw(24);
            font-weight: 700;
            margin-bottom: vw(12);
          }

          .badge-box {
            .badge {
              font-weight: 700;
              margin-right: vw(6);
              margin-bottom: vw(10);

              &:last-of-type {
                margin-right: 0;
              }
            }
          }

          .habit {
            background-color: $gray-fff;
            border-radius: vw(12);
            padding: vw(20);

            li {
              font-size: vw(15);
              color: $gray-800;
              font-weight: 500;
              margin-bottom: vw(8);

              &:last-of-type {
                margin-bottom: 0
              }

              .num {
                color: $gray-600;
                margin-right: vw(4);
              }

              .answer {
                color: $blue;
                font-weight: 700;
                margin-left: vw(4);
              }
            }
          }
        }


      }
    }


    .sns-box {
      padding: 60px 0 0;
      text-align: center;

      > p {
        color: $gray-600;
        font-weight: 500;
      }

      .more {
        margin-bottom: 60px;
      }

      .btn-wrap {
        padding: 16px 0 0;

        > a {
          margin-right: 16px;

          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }

    .btn-wrap {
      text-align: center;
      padding: 40px 0 0;

      .btn {
        + .btn {
          margin-left: 8px;
        }
      }

      &.btn-wrap-xl {
        padding: vw(48) 0;
      }
    }

    /*답변완료*/
    .answer-wrap {
      background-color: #f8f8f8;
      padding: 40px;
      margin-top: 40px;

      .badge {
        margin-bottom: 10px;
      }

      .text {
        color: $gray-800;
        font-size: 16px;
      }
    }

    /*수정하기*/
    .edit-wrap {
      padding: vw(20) vw(24) vw(48);

      input {
        margin-bottom: vw(8);
      }

      .section-input {
        margin-bottom: vw(12);
      }

      .btn-wrap {
        padding: 0
      }
    }


  }

  .footer-details {
    width: 900px;
    margin: 0 auto;
    border-top: 1px solid $gray-400;
    padding: vw(32) vw(20) 240px;

    &.bg-dark {
      background-color: $gray-800 !important;
      padding: vw(20);

      .page-btn-wrap {
        a {
          color: $gray-fff;
        }

        /*오른쪽 정렬일 경우 (기본은 space-between)*/
        &.btn-next {
          justify-content: flex-end;
        }

        /*가운데 정렬일 경우 (기본은 space-between)*/
        &.btn-center {
          justify-content: center;
        }
      }
    }
  }

  /* 성분분석 */
  .analysis-wrap {
    /* 등록제안,수정요청입력란 */
    .heading {
      padding: vw(20) vw(24);

      .font-h3 {
        + .font-body-1 {
          color: $gray-700;
          padding-top: vw(8);
        }
      }

    }

    /* 질문 & 답 */
    .question-box {
      background-color: $gray-200;
      padding: vw(48) vw(24);

      .info {
        margin-bottom: vw(48);

        .sub-desc {
          padding-top: vw(12);
          color: $gray-600;
        }
      }

      .question-item {
        margin-bottom: vw(48);

        &:first-of-type {
          padding-top: 0;
        }

        &:last-of-type {
          margin-bottom: 0;
        }

        .question {
          padding-bottom: vw(12);

          .num {
            display: inline-block;
            vertical-align: middle;
            font-family: $poppins-semiBold;
            font-style: normal;
            font-weight: 600;
            font-size: vw(18);
            line-height: vw(28);
            color: $gray-600;
            margin-right: vw(8);
          }

          .font-h5 {
            display: inline-block;
            vertical-align: middle;
            font-weight: bold;
            color: $gray-800;
          }
        }

        .answer {
          position: relative;

          ul {
            li {
              display: block;
              width: 100%;
              background: #ffffff;
              padding: vw(14) vw(32);
              border-radius: vw(100);
              color: $gray-700;
              font-size: vw(15);
              line-height: vw(22);

              a {
                color: $gray-700;
                display: block;

                &:hover {
                  color: $gray-700;
                }
              }

              + li {
                margin-top: vw(10);
              }
            }
          }

          .delete {
            display: none;
          }

          &.complete {
            ul {
              li {
                background: $violet;

                a {
                  color: $gray-fff;
                }
              }
            }

            .delete {
              display: block;
              padding: 0 vw(10);
              position: absolute;
              right: vw(22);
              top: 50%;
              transform: translateY(-50%);

              .btn-delete {
                width: vw(12);
                height: vw(12);
                display: inline-block;
              }
            }
          }
        }
      }
    }


    /* 제품등록제안 */
    .full-img {
      width: vw(375);
      height: vw(375);
      color: $primary;

      img {
        width: 100%;
        height: auto;
      }
    }

    .propose-box {
      .form-control + .select-popup {
        margin-top: vw(8);
      }

      .caution-area {
        padding-top: vw(32);

        .title {
          margin-bottom: vw(12);

          .ico-caution {
            margin-right: vw(4.5);
          }

        }
      }

      .divider {
        margin-bottom: vw(24);
      }

      .check-area {
        label {
          a {
            font-weight: 500;
            text-decoration: underline;

            &:focus {
              color: $gray-900;
            }
          }
        }

        .list-with-dot {
          padding-top: vw(8);

          li {
            font-size: vw(12);
            margin-bottom: 0;
            padding-left: vw(7);
          }
        }

      }
    }

    /* 수정요청 입력 */
    .product-area {
      margin-bottom: vw(48);

      > .img-cosmetics {
        width: vw(78);
        height: vw(66);
        margin: 0 auto vw(16);

        img {
          width: 100%;
          height: auto;
        }
      }

      .product-name {
        color: $gray-800;
        text-align: center;

        span {
          color: $gray-600;
          font-size: vw(13);
          display: block;
          font-weight: normal;
        }
      }
    }

    .write-area {
      .sub-title {
        color: $gray-800;
        margin-bottom: vw(12);
      }

      .badge-box {
        font-size: 0;
        margin-bottom: vw(24);

        .badge {
          margin-right: vw(10);

          &:last-of-type {
            margin-right: 0;
          }

          &.active {
            background-color: $yellow;
            font-weight: bold;
          }
        }
      }

      textarea {
        margin-bottom: vw(32);
      }
    }

    /* 일치율팝업*/
    .match-rate {
      padding-bottom: vw(48);

      .table-box {
        text-align: center;
        margin-bottom: vw(48);

        thead {
          color: $gray-800;

          th {
            vertical-align: middle;
            padding: vw(16);
            width: 50%;
            border-top: vw(1) solid $gray-900;
            border-bottom: vw(1) solid $gray-400;
            font-size: vw(16);
          }
        }

        tbody {
          tr {
            &:last-of-type {
              th, td {
                border-bottom: vw(1) solid $gray-400
              }
            }
          }

          th, td {
            border-bottom: 1px solid $gray-300;
            color: $gray-700;
            font-weight: normal;
            font-size: vw(15);

          }
        }

      }

      .sub-title {
        color: $gray-800;
        margin-bottom: vw(12);
      }

      .method-box {
        border-radius: vw(16);
        display: flex;
        padding: vw(24);
        justify-content: space-between;
        align-items: center;
        background: $gray-fff url("../img/analysis/ico-minus.png") no-repeat center center;
        background-size: vw(28) vw(28);

        .area {
          display: inline-block;
          text-align: center;
          font-size: 0;

          &.good-area {
          }

          &.caution-area {
          }

          .tit {
            display: block;
            margin-bottom: vw(4);
            font-size: vw(15);

            + span {
              color: $gray-700;
              font-size: vw(13);
            }
          }
        }
      }

    }

  }
}



