/*
|----------------------------------------------------------------------|
 v.0.1 선미 : 최초 작업 -- 2021.02.04
|----------------------------------------------------------------------|
*/

/*고객제안 , 스킨멘토링*/
.view-details {
  .body-details {
    width: 900px;
    margin: 0 auto;

    .area-title {
      padding: 40px 0 40px;
      text-align: center;
      border-bottom: 1px solid $gray-900;

      .badge-box {
        margin-bottom: 10px;
      }

      .title {
        word-break: keep-all;
      }

      .info-line {
        padding-top: 8px;

        .desc {
          color: $gray-700;
        }

        .like-box {
          padding-top: 20px;

          .like {
            margin-right: 10px;
            position: relative;

            .icon {
              width: 16px;
              height: 16px;
              margin-bottom: 4px;
            }

            .num {
              display: inline-block;
              font-weight: 600;
              font-size: 15px;
              font-family: $poppins-semiBold;
              color: $gray-700;
              vertical-align: middle;
              transform: translateX(-3px);
            }

            &:after {
              content: '';
              display: inline-block;
              position: absolute;
              width: 1px;
              height: 12px;
              background-color: $gray-400;
              right: -10px;
              top: 50%;
              transform: translateY(-50%);
            }

            + .date {
              margin-left: 10px;
            }
          }

          .date {
            font-weight: 400;
            font-size: 15px;
            color: $gray-600;
          }

          &.on {
            .like {
              .icon {
                background-image: url(../img/common/ico-link-foc.svg);
              }
            }
          }
        }
      }
    }

    .area-desc {
      padding: 60px 0;

      &.answer_paddng {
        padding-bottom: 0;
      }

      > .text {
        word-break: keep-all;
        color: $gray-700;
        letter-spacing: 0;
        font-size: 16px;
      }

      .product-box {
        margin-top: 60px;
        background: $primary-light;
        border-radius: 16px;
        padding: 24px;
        display: flex;
        align-items: center;

        > img {
          width: 100px;
          height: 100px;
          border-radius: 12px;
        }

        .text {
          padding-left: 30px;

          .name {
            color: $gray-800;
            font-weight: 500;
            margin-bottom: 8px;
            display: inline-block;
          }

          .more {
            display: block;
            color: $primary;

            span {
              display: inline-block;
              vertical-align: middle;
              font-weight: 500;
            }

            .ico-arrow-green-right {
              margin-left: 4px;
              transform: translateY(1px);
            }
          }
        }
      }
    }

    .sns-box {
      padding: 60px 0 0;
      text-align: center;

      > p {
        color: $gray-600;
      }

      .more {
        margin-bottom: 60px;
      }

      .btn-wrap {
        padding: 16px 0 0;

        > a {
          margin-right: 16px;

          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }

    .btn-wrap {
      text-align: center;
      padding: 40px 0 0;

      .btn {
        + .btn {
          margin-left: 8px;
        }
      }

      &.btn-wrap-xl {
        padding: vw(48) 0;
      }
    }

    /*답변완료*/
    .answer-wrap {
      background-color: #f8f8f8;
      padding: 40px;
      margin-top: 40px;

      .badge {
        margin-bottom: 10px;
      }

      .text {
        color: $gray-800;
        font-size: 16px;
      }
    }

    /*수정하기*/
    .edit-wrap {
      padding: vw(20) vw(24) vw(48);

      input {
        margin-bottom: vw(8);
      }

      .section-input {
        margin-bottom: vw(12);
      }

      .btn-wrap {
        padding: 0
      }
    }


  }

  /*멘토링 - 생활습관 펼쳐보기*/
  .unfold-box {
    padding: 40px 0 60px;
    position: relative;

    > .title {
      text-align: center;
      padding: 40px 0;
      font-weight: 700;
      font-size: 16px;
      color: $gray-800;
      line-height: 1;
      width: 900px;
      margin: 0 auto;
      border-top: 1px solid $gray-300;
      cursor: pointer;

      span {
        vertical-align: middle;
        margin-right: 2px;
      }
    }

    .list-bg {
      display: none;
      background-color: $gray-200;
      padding: 80px 0;
      margin-bottom: 40px;

      .list {
        width: 900px;
        margin: 0 auto;

        > li {
          margin-bottom: 60px;

          &:first-of-type {
            margin-bottom: 50px;
          }

          &:last-of-type {
            margin-bottom: 0;
          }

          .sub-title {
            color: $gray-800;
            font-size: 20px;
            line-height: 30px;
            font-weight: 700;
            margin-bottom: 20px;
          }

          .badge-box {
            .badge {
              font-weight: 700;
              margin-right: 8px;
              margin-bottom: 10px;

              &:last-of-type {
                margin-right: 0;
              }
            }
          }

          .habit {

            li {
              background-color: $gray-fff;
              padding: 20px 30px;
              display: inline-flex;
              justify-content: space-between;
              align-items: center;
              width: calc(50% - 10px);
              font-size: 15px;
              color: $gray-800;
              font-weight: 500;
              margin-bottom: 16px;
              border-radius: 12px;
              margin-right: 16px;

              &:nth-of-type(2n) {
                margin-right: 0;
              }

              &:last-of-type {
                margin-bottom: 0
              }

              .num {
                font-family: Poppins-Medium, sans-serif;
                color: $gray-600;
                margin-right: vw(4);
              }

              .answer {
                color: $blue;
                font-weight: 700;
                text-align: right;
              }
            }
          }
        }
      }
    }
  }

  /*멘토링 - 답변완료*/
  .solution-box {
    .section-color {
      margin-top: 60px;
      padding: 120px 0 148px;
      margin-bottom: 120px;
      position: relative;
      background: $blue url("../img/mentoring/bg-round.svg") no-repeat right 50px bottom -28px / 278px 138px;
      background-size: 100% auto;

      &:after {
        content: '';
        display: inline-block;
        background: url("../img/mentoring/img-mentor2.svg") no-repeat;
        width: 186px;
        height: 286px;
        background-size: 100% auto;
        position: absolute;
        right: 100px;
        bottom: -24px;
      }

      .font-h1, .font-h3 {
        color: $gray-fff;
      }

      .floating-box {
        position: absolute;
        bottom: -40px;
        width: 100%;
        z-index: 3;

        .item {
          background-color: $gray-fff;
          box-shadow: 0 4px 12px rgba(34, 34, 34, 0.08);
          border-radius: 20px;
          padding: 40px;

          .question {
            font-size: vw(15);
            line-height: vw(22);
            color: $gray-800;
            margin-bottom: vw(5);
          }

          .date {
            font-size: vw(13);
            line-height: vw(18);
            color: $gray-600;
            font-family: Poppins, sans-serif;
          }
        }
      }
    }

    .solution-intro {
      width: 900px;
      padding: 120px 0 148px;
      margin: 60px auto 120px;
      position: relative;
      background: $blue url("../img/mentoring/bg-round.svg") no-repeat right 50px bottom -28px / 278px 138px;
      background-size: 100% auto;

      .font-h1, .font-h3 {
        color: $gray-fff;
      }

      .floating-box {
        position: absolute;
        bottom: -40px;
        width: 100%;
        z-index: 3;

        .item {
          background-color: $gray-fff;
          box-shadow: 0 4px 12px rgba(34, 34, 34, 0.08);
          border-radius: 20px;
          padding: 40px;

          .question {
            font-size: vw(15);
            line-height: vw(22);
            color: $gray-800;
            margin-bottom: vw(5);
          }

          .date {
            font-size: vw(13);
            line-height: vw(18);
            color: $gray-600;
            font-family: Poppins, sans-serif;
          }
        }
      }
    }

    .inner {
      width: 900px;
      margin: 0 auto;

      .answer {
        > li {
          margin-bottom: 60px;

          .title {
            margin-bottom: 16px;
          }

          .desc {
            color: $gray-700;
          }
        }
      }

      .step-box {
        > .title {
          margin-bottom: 30px;
        }

        .step {
          border-radius: 20px;
          overflow: hidden;
          margin-bottom: 30px;

          > p {
            padding: 16px 40px;
            color: $gray-fff;
            font-size: 18px;
            font-weight: 500;

            span {
              &.num {
                text-transform: uppercase;
                padding-right: 17px;
                position: relative;

                &:after {
                  content: '';
                  display: inline-block;
                  width: 1px;
                  height: 18px;
                  background-color: $gray-fff;
                  position: absolute;
                  right: 8px;
                  top: 5px;
                  opacity: 0.3;
                }
              }
            }
          }

          > .box {
            background-color: $gray-200;
            padding: 30px 40px 60px;

            .area {
              margin-bottom: 40px;
              color: $gray-700;
              @include ellipsis(3)
            }

            .list {
              font-size: 0;
              margin-bottom: 40px;

              .item {
                margin-right: 23.7px;
                display: inline-block;
                vertical-align: top;

                a {
                  display: block;
                  width: 145px;

                  .img {
                    width: 145px;
                    height: 145px;
                    display: inline-block;
                    border-radius: 12px;
                    overflow: hidden;
                    margin-bottom: 16px;

                    img {
                      width: 100%;
                      height: 100%;
                    }
                  }

                  .name {
                    width: 145px;
                    display: block;
                    font-size: 15px;
                    color: $gray-800;
                    white-space: normal;
                  }
                }

                &:last-of-type {
                  margin-right: 0;
                }
              }
            }

            .define {
              background: $gray-fff;
              padding: 30px;
              margin-top: 40px;
              border-radius: 12px;

              > p {
                color: $gray-800;
                margin-bottom: 12px;
              }

              > span {
                color: $gray-700;
              }
            }
          }

          &:nth-of-type(1) {
            > p {
              background-color: #00b398
            }
          }

          &:nth-of-type(2) {
            > p {
              background-color: #006341
            }
          }

          &:nth-of-type(3) {
            > p {
              background-color: #97d700
            }
          }
        }
      }

      .greetings {
        background-color: #e9f7ff;
        padding: 40px;
        border-radius: 20px;

        > p {
          padding-left: 32px;
          background: url("../img/mentoring/bg-bubble.svg") no-repeat left center;
          background-size: 26px 26px;
          margin-bottom: 16px;
        }

        > span {
          letter-spacing: -0.02em;
          color: $gray-800;
        }
      }

      .more {
        padding: 60px 0;

        > p {
          color: $gray-800;
          font-size: 20px;
          margin-bottom: 30px;
        }

        .btn-wrap {
          .btn {
            min-width: 210px;
          }
        }
      }
    }

    + .footer-details {
      width: 900px;
      margin: 0 auto;
    }
  }


  .footer-details {
    border-top: 1px solid $gray-400;
    padding: vw(32) vw(20) 240px;

    &.bg-dark {
      background-color: $gray-800 !important;
      padding: vw(20);

      .page-btn-wrap {
        a {
          color: $gray-fff;
        }

        /*오른쪽 정렬일 경우 (기본은 space-between)*/
        &.btn-next {
          justify-content: flex-end;
        }

        /*가운데 정렬일 경우 (기본은 space-between)*/
        &.btn-center {
          justify-content: center;
        }
      }
    }
  }


  /* 성분분석 */
  /* .analysis-wrap {
     !* 등록제안,수정요청입력란 *!
     .heading {
       padding: vw(20) vw(24);

       .font-h3 {
         + .font-body-1 {
           color: $gray-700;
           padding-top: vw(8);
         }
       }

     }

     !* 질문 & 답 *!
     .question-box {
       background-color: $gray-200;
       padding: vw(48) vw(24);

       .info {
         margin-bottom: vw(48);

         .sub-desc {
           padding-top: vw(12);
           color: $gray-600;
         }
       }

       .question-item {
         margin-bottom: vw(48);

         &:first-of-type {
           padding-top: 0;
         }

         &:last-of-type {
           margin-bottom: 0;
         }

         .question {
           padding-bottom: vw(12);

           .num {
             display: inline-block;
             vertical-align: middle;
             font-family: $poppins-semiBold;
             font-style: normal;
             font-weight: 600;
             font-size: vw(18);
             line-height: vw(28);
             color: $gray-600;
             margin-right: vw(8);
           }

           .font-h5 {
             display: inline-block;
             vertical-align: middle;
             font-weight: bold;
             color: $gray-800;
           }
         }

         .answer {
           position: relative;

           ul {
             li {
               display: block;
               width: 100%;
               background: #ffffff;
               padding: vw(14) vw(32);
               border-radius: vw(100);
               color: $gray-700;
               font-size: vw(15);
               line-height: vw(22);

               a {
                 color: $gray-700;
                 display: block;

                 &:hover {
                   color: $gray-700;
                 }
               }

               + li {
                 margin-top: vw(10);
               }
             }
           }

           .delete {
             display: none;
           }

           &.complete {
             ul {
               li {
                 background: $violet;

                 a {
                   color: $gray-fff;
                 }
               }
             }

             .delete {
               display: block;
               padding: 0 vw(10);
               position: absolute;
               right: vw(22);
               top: 50%;
               transform: translateY(-50%);

               .btn-delete {
                 width: vw(12);
                 height: vw(12);
                 display: inline-block;
               }
             }
           }
         }
       }
     }


     !* 제품등록제안 *!
     .full-img {
       width: vw(375);
       height: vw(375);
       color: $primary;

       img {
         width: 100%;
         height: auto;
       }
     }

     .propose-box {
       .form-control + .select-popup {
         margin-top: vw(8);
       }

       .caution-area {
         padding-top: vw(32);

         .title {
           margin-bottom: vw(12);

           .ico-caution {
             margin-right: vw(4.5);
           }

         }
       }

       .divider {
         margin-bottom: vw(24);
       }

       .check-area {
         label {
           a {
             font-weight: 500;
             text-decoration: underline;

             &:focus {
               color: $gray-900;
             }
           }
         }

         .list-with-dot {
           padding-top: vw(8);

           li {
             font-size: vw(12);
             margin-bottom: 0;
             padding-left: vw(7);
           }
         }

       }
     }

     !* 수정요청 입력 *!
     .product-area {
       margin-bottom: vw(48);

       > .img-cosmetics {
         width: vw(78);
         height: vw(66);
         margin: 0 auto vw(16);

         img {
           width: 100%;
           height: auto;
         }
       }

       .product-name {
         color: $gray-800;
         text-align: center;

         span {
           color: $gray-600;
           font-size: vw(13);
           display: block;
           font-weight: normal;
         }
       }
     }

     .write-area {
       .sub-title {
         color: $gray-800;
         margin-bottom: vw(12);
       }

       .badge-box {
         font-size: 0;
         margin-bottom: vw(24);

         .badge {
           margin-right: vw(10);

           &:last-of-type {
             margin-right: 0;
           }

           &.active {
             background-color: $yellow;
             font-weight: bold;
           }
         }
       }

       textarea {
         margin-bottom: vw(32);
       }
     }

     !* 일치율팝업*!
     .match-rate {
       padding-bottom: vw(48);

       .table-box {
         text-align: center;
         margin-bottom: vw(48);

         thead {
           color: $gray-800;

           th {
             vertical-align: middle;
             padding: vw(16);
             width: 50%;
             border-top: vw(1) solid $gray-900;
             border-bottom: vw(1) solid $gray-400;
             font-size: vw(16);
           }
         }

         tbody {
           tr {
             &:last-of-type {
               th, td {
                 border-bottom: vw(1) solid $gray-400
               }
             }
           }

           th, td {
             border-bottom: 1px solid $gray-300;
             color: $gray-700;
             font-weight: normal;
             font-size: vw(15);

           }
         }

       }

       .sub-title {
         color: $gray-800;
         margin-bottom: vw(12);
       }

       .method-box {
         border-radius: vw(16);
         display: flex;
         padding: vw(24);
         justify-content: space-between;
         align-items: center;
         background: $gray-fff url("../img/analysis/ico-minus.png") no-repeat center center;
         background-size: vw(28) vw(28);

         .area {
           display: inline-block;
           text-align: center;
           font-size: 0;

           &.good-area {
           }

           &.caution-area {
           }

           .tit {
             display: block;
             margin-bottom: vw(4);
             font-size: vw(15);

             + span {
               color: $gray-700;
               font-size: vw(13);
             }
           }
         }
       }

     }

   }*/
}



